<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>幽默是痛苦的产物 - 知乎</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">如何能变得幽默，接得住别⼈开玩笑的话，不⾄于尴尬？</h1>
            <p style="text-align:right;">作者：河森堡</p>
            <p>教授：“年轻⼈，你在看什么？”</p>
            <p>⼩伙⼦在⻝堂右⼿举着筷⼦，左⼿拿着⼿机⽬不转睛：“⼀个帖⼦，教⼈如何幽默起来。”</p>
            <p>教授坐在⼩伙⼦旁边：“你为什么要学着幽默？”</p>
            <p>⼩伙⼦还是没转脸：“都说姑娘们喜欢会逗乐的男⽣，我先背⼏个逗乐的技巧和段⼦，然后去试试。”</p>
            <p>“年轻⼈，逗乐和幽默是不⼀样的。”说罢，教授冲⼩伙伸出⼿：“给我看看。”</p>
            <p>⼩伙抬头看了看教授，把⼿机递了过去。</p>
            <p>教授平静地滑了⼏下屏幕，然后把⼿机还给⼩伙：“并不幽默，很尬。”</p>
            <p>⼩伙为难起来：“是吗？那怎么办？我该怎么幽默起来呢？”</p>
            <p>教授⼀边低头撕⽜奶包装盒⼀边冷⾔：“幽默是⼀种⽆法学习的品质，你需要去经历才⾏。”</p>
            <p>“经历什么？”⼩伙⼦皱眉。</p>
            <p>“经历痛苦。”教授⽤筷⼦指着⼩伙⾯前的餐盘：“你看，你吃的三道菜⾥都有辣椒，这说明你很可能是个喜欢吃辣的⼈，对不对？”</p>
            <p>“是啊，我吃辣椒上瘾呢！我喜欢辣味。”</p>
            <p>教授：“严格来说，辣并不是⼀种味觉，它是⼀种痛觉，⾛的是与甜咸等味觉不同的神经通路，这就是为什么你把⼿指插进辣椒瓶⾥⽪肤会被辣到，⽽把⼿伸进蜂蜜罐⾥⼿却不会被甜到。”</p>
            <p>⼩伙⼦⼀边听⼀边点了点头。</p>
            <p>“你在吃了辣椒之后，身体就会感到灼伤似的疼痛，⼤脑为了压制这种痛苦就会分泌⼀种叫内啡肽的东⻄，它能镇痛，同时让你感到愉悦，⽽正是这种东⻄让你对辣上瘾，身体⽤辣刺激⼝腔以骗取⼤脑中内啡肽的奖励。”说着，教授吃了⼀⼝辣椒，眉头紧皱咬紧⽛关，脸也涨红了起来。</p>
            <p>⼩伙⼦看到了教授的窘态：“您喝⼝⽔。”</p>
            <p>“喝⽔没⽤，得喝⽜奶。”教授仰脖喝了⼏⼤⼝⽜奶，总算缓过来点，“你知道吗？在我看来，幽默其实就是⼀种⽂化意义上的内啡肽，它是痛苦的产物。”</p>
            <p>“怎么说？”</p>
            <p>教授：“⼀个⼈要想幽默，往往需要饱经痛苦，当精神上处于煎熬之中时，⼈格为了宽慰和保护⾃⼰，就会营造出幽默，以带来镇痛的效果。”</p>
            <p>教授说到这，深吸了⼀⼝⽓，“这世界上⼀些著名的喜剧⼤师都在精神上饱受折磨和煎熬，卓别林有着⼗分悲惨的童年，⽗亲酗酒成性，⺟亲精神失常，他本⼈在感情上经受过多次剧烈打击，⼀⽣郁郁寡欢，⾦凯利也是，家境贫寒，被迫休学，亲⼈⻓年饱受病痛折磨，后来他的⼥友还⾃杀了，他也因此深陷抑郁漩涡。憨⾖先⽣也是抑郁症患者，⼀直以来承受了太多的攻击和羞辱，最后不得不去亚利桑那州住院治疗。”</p>
            <p>教授清了清嗓⼦：“别忘了，还有喜剧⼤师罗宾·威廉姆斯，他最终⽤⼀根绳⼦把⾃⼰吊死在了家⾥...这⼀切就像陈佩斯说的那样，喜剧的内核是悲情。”</p>
            <p>⼩伙⼦表情沉重，不再说话。</p>
            <p>“在我看来，幽默的本质是内⼼痛苦的溢出，通过⽹络和⽂艺作品的传播，本来⽤于个⼈情绪镇痛的幽默能给更多的⼈带去快乐，但幽默源头的那个⼈其实是在为众⼈献祭⾃⼰。”教授推了⼀下眼镜，“年轻⼈，你明⽩我的意思了吗？幽默两个字绝不是背⼏个段⼦就能有的品质，它是深沉⽽阴郁的，单薄轻快的⼈⽣阅历很难孕育出幽默，就好像塑料花盆⾥⻓不出⼤树。”</p>
            <p>⼩伙⼦收起⼿机，看着眼前的餐盘若有所思，教授突然把⾃⼰的⼿机递了过去，⼩伙⼦看到屏幕上是张照⽚。</p>
            <p>“这是什么？”</p>
            <p>教授：“这是⾦凯利在给他的⼥友抬棺，⼀个享誉世界的喜剧天王，身着⼀身⿊⾊，满脸悲伤和颓丧地抬着⾃⼰⼼爱之⼈的棺材，以后当你因为别⼈的幽默哈哈⼤笑之后，或许应该记得感谢他们，要知道，有时候这种欢笑是他们⽤精神上的酷刑换来的。”</p>
            <p>⼩伙⼦默默地站起身，拿起餐盘⾛了，没⾛两步，突然转头对教授说：“教授，我有些担⼼，因为同学们都说您是个特别幽默的⼈。”</p>
            <p>教授低着头没说话，夹起⼀根辣椒放进嘴⾥，他咬紧⽛关，满脸通红，汗珠从额头上慢慢滑落下来。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://www.zhihu.com/question/25368703/answer/753333836">https://www.zhihu.com/question/25368703/answer/753333836</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>