<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>分手是恋爱最后的礼貌 - 知乎</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">
            <h1 style="font-size:45px;">⼥⽣为什么会突然说分⼿？</h1>
            <p style="text-align:right;">作者：Seasee Youl</p>           
            <p>⼀般来说，两个⼈最后分开，绝对不会是因为最后⼀件事。</p>
            <p>举个例⼦，有⼀次我送⼥朋友去机场，下楼后在⼤街上突然就吵起来了，⽽且吵得特别夸张，引起路⼈纷纷围观。</p>
            <p>问她为什么发⽕，她说我明知道她要赶时间我还在后⾯慢悠悠的拖着箱⼦抽烟，也不叫个⻋什么的。我还没来得及解释，她就夺过我⼿⾥的东⻄，要我不⽤去送她了，然后冷冷地说了句分⼿吧。事实上，我看她在家⾥描眉⽑敷⾯膜就弄了⼏个⼩时，⽽且慢悠悠的试⾐服就像他妈野模似的，换完⼀套⼜⼀套，丝毫没看出她赶时间的样⼦，怎么⼀下楼就急起来了呢？</p>
            <p>所有的⾏为背后都有动机，⽽她和我分⼿绝不会是因为我送她时抽了⼀⽀烟。</p>
            <p>我简单分析了⼀下，觉得是她厌倦我了，想在出国前快⼑斩乱麻把关系给断了，或许是看不到希望，或许是国外有⼈了，anyway，我很快接受了这⼀个结果。不要试图挽留⼀个⼀⼼想⾛的⼈，否则她会像⼀件旧⾐服⼀样对待你。</p>
            <p>我笑了笑拦下⼀辆出租⻋，然后帮她把⾏李放好，然后转身就要⾛。</p>
            <p>她拉了拉我的袖⼦装模作样地说：你真不去送我啊？</p>
            <p>我说：你⾃⼰⾛吧，你不是赶时间嘛。</p>
            <p>等她的⻋开⾛后五分钟，我⼜拦下另外⼀辆⻋，径直赶到了机场，随后所⻅的场景证实了我的猜测。之前还和我狂⻛骤⾬的她挽着⼀哥们去领登机牌，她们要双宿双⻜去普吉岛，所以要尽快甩脱我，简单来说就是欲加之罪何患⽆辞，就算在途中我不抽烟，玩会⼉⼿机她也会和我分⼿，或者尿个尿都会和我分⼿。</p>
            <p>当分⼿成了⼀种⽬的，你他妈的连呼吸都是错。</p>
            <p>更早的时候，有个姑娘和我分⼿理由更奇葩，她说我爱喝碳酸饮料，每次去超市买⼀堆可乐存在冰箱⾥，瓶⼦丢的到处都是，她受不了了。</p>
            <p>她边收拾⾏李边说：分⼿吧，今天我就搬出去。</p>
            <p>我这⼈还算海纳百川，但这么夸张的分⼿理由真的受不了。</p>
            <p>于是我说：每次家⾥的垃圾都是我⾃⼰收拾的呀，怎么碍你事了？</p>
            <p>她⼜说我脾⽓不好爱争论，说我不求上进每天玩游戏，说我邋⾥邋遢⾐服到处扔，被她数落完后我才知道⾃⼰是这样⼀个⼈渣，恨不得再回炉重做⼀番。等她摔⻔⽽⾛后我猛地想到，这些⽑病我都慢慢改啦，怎么现在⼜突然爆发？</p>
            <p>肯定有更深层次的原因，我想。</p>
            <p>⼀个⽉后我才找到答案，只是她忍受不了我的穷罢了，她喜欢去吃⾼级⽜排，喜欢逛⼤洋百货，喜欢迪奥⼝红，⽽这些当时的我都供应不起。每天看到⾃⼰那些闺蜜在朋友圈⾥秀来秀去，回到家发现⾃⼰男朋友是个⽉⼯资六千块的屌丝，还他妈喝个可乐就挺满⾜的衰样⼦，怎么可能受得了？</p>
            <p>两个⼈在⼀起，短期看优点，⻓期看缺点。</p>
            <p>可能刚谈恋爱的时候她会被你的幽默⻛趣逗得哈哈⼤笑，被你的暖⼼之举感动得热泪盈眶，被你的偶尔浪漫⼤为倾⼼。但随着时间的流逝，你的缺点会不断显现出来，偶尔发⼀次脾⽓，她会震惊原来你这么冲动，⽆意中懒惰⼀天，她⼜觉得你不求上进，⼼情不好⾃⼰呆⼀会⼉，她会抱怨你在冷落她。</p>
            <p>是这样的，再相爱的两个⼈，说到底也是独⽴的个体。</p>
            <p>当⼀⽅的分数被扣到⼼理承受能⼒以下时，分⼿当然是最后的归宿了，只不过有些⼈⽐较坦率，会认真的谈谈后好聚好散，有的就⽐较造作，为了维持⾃⼰的形象给你安排⼀个莫名其妙的理由：不是她想分⼿，只是你真的太烂了。</p>
            <p>我在坐⽕⻋时看过⼀个奇怪的现象，有的⼈下⻋后就低着头匆匆往前⾛，但有的⼈下⻋后会驻⾜停留，看看身后的⻛景。有趣的是，前者要么是愁眉不展，要么是⻛尘仆仆，⽽后者往往很轻松惬意，脸上会有愉悦的笑意。</p>
            <p>在我看来，爱情也是⼀列⽕⻋。</p>
            <p>有的⼈好聚好散，他们会反思⾃⼰的不⾜，会衷⼼祝福对⽅，会给这个旅途画下⼀个完整的句号。⽽有的⼈匆匆忙忙，会找各种理由掩饰⾃⼰虚弱的内⼼，会把所有过错都甩给对⽅，然后⻢不停息的去赶下⼀列⻋，那些共同度过或喜或忧的时光，她们根本不在乎，她们会尽快遗忘。</p>
            <p>但这样真的好吗，她们只是在⼀辆⼜⼀辆赶路的⻋上虚度时光罢了。</p>
            <p>分⼿是恋爱最后的礼貌，希望⼤家都能知道。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://www.zhihu.com/question/268385676/answer/495694160">https://www.zhihu.com/question/268385676/answer/495694160</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>