<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>亲密关系里付出的时间 - 冰点周刊</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">别再惋惜“她付出了青春”</h1>
            <p style="text-align:right;">作者：王梦影</p>
            <p>这段时间，仅仅从微博热搜榜单来看，也能看出新冠病毒疫情真的缓和一些了。八卦新闻一点点夺回我这样的普通人的注意力。我们“像瓜田里的猹一样上窜下跳”，总有新鲜的“瓜”可以吃。涉及明星男女分手，评论区里总有人惋惜，“她为他付出了多少年青春啊”。这类评论通常会获得大量点赞支持。</p>
            <p>八卦是观察社会心理的一个窗口。凡人生活哪有什么“霸道总裁”传说，但亲密关系永不缺乏悲欢离合。一段感情走到头，人们也总是爱惋惜，“她为他付出了多少年青春啊”。</p>
            <p>这句话仔细琢磨起来其实有点怪，青年男女处对象，为啥只有女性在付出青春，男性青春永驻了吗。</p>
            <p>这种惯性思维背后有一整套逻辑。首先，不以婚姻为结局的亲密关系，和不能持续一辈子的婚姻都是失败的。女性的爱人如果没有变为丈夫，或者女性婚后没能“保住”家庭，那么她的这段关系就失败了，她投入的时间精力就成为沉没资本，是“错付”的。男性不存在这种时间投入上的损失。</p>
            <p>实际上，自由恋爱在一起的两个人，共享着鸡毛蒜皮的快乐和不快乐：热门电影的两张连座票根、结束加班后的一顿啤酒烧烤、谁该为忘带钥匙负责的大型辩论。争执有时以一方道歉结束，有时被下一刻的日常琐屑淹没，也可能在此后数年间各种莫名其妙的时刻重新开启。这些体验，男女双方在情绪上各有解读，但在价值上是平等的。相爱过的两个人共享相处的时光。</p>
            <p>人的心灵又是复杂的，亲密关系可能因为各种原因结束，但记忆会留存，成为心头的一根刺、一个隐秘的热源或一个平淡的概念。一些关系为生命提供养分，一些则带来教训，还有一些仅仅就是回忆。有的人成为更好的人，有的人不会。但一段亲密关系多多少少影响我们此后的选择。那些平凡人生的爱恨离别将成为血肉，参与构建每一个人此刻的模样。</p>
            <p>在这个层面上，关系各方只要不存在身体或者精神上的暴力，物质或权利上的剥夺，无论结局如何，付出的时间不叫浪费。</p>
            <p>单拿女性说事更隐含一种危险。有时候，同情的另一面是歧视。惋惜女性浪费青春的人或许出于好心，但唯独没有意识到，这等于在说，女性付出时间的价值由她在婚恋市场上的价签判定。随着她年龄的增长，这个价签上的数字不断贬值。而男性不受这个市场制约。</p>
            <p>身为新时代的独立女性，我很想大声疾呼反对这种惋惜，但我知道，自己并不生存在真空之中。这样的惋惜没有恶意，它基于叹息者对身边人的观察：一段关系里，男女的付出常常是不平等的。</p>
            <p>这并不是说男性活得比女性轻松。在这个快速变革的时代里，实现欲望需要付出代价。然而，当面临结构性的压力时，男性更有机会将它转嫁给女性，亲密关系为这种转嫁提供了舞台。</p>
            <p>以育儿压力为例。我做了母亲后才发现，养大一个小孩不止是我一家的事，还涉及社会的方方面面。孩子出生后需要父母休产假照顾，是用人单位和社会在承担我们停止工作的成本。我复工后需要保姆，她的工资水平、服务水平与她家乡的基础教育水平相关，与她所在劳务公司的资本投入、培训水平甚至一座城市的家政市场发展程度都有关联。</p>
            <p>我和丈夫都爱孩子，也愿意付出我们能给的全部。但当社会资源暂时还在追赶人民需求时，我们之中的一个需要作出更多牺牲。家庭经济和社会制度里面，都还放不下一个漫长的产假，我的丈夫理所当然先回到工作岗位，而我失去了职业生涯中的大半年在家照顾宝宝。</p>
            <p>学校实行素质教育放学早，而公司推行效率管理下班迟。孩子放学后到父母回家前，这段时空需要填补。孩子走在上学路上，如果人行道规划不合理，或者区域治安情况不佳，需要陪伴，通常情况下，母亲会是提供陪伴的人。如果母亲顶不上，那么上一代女性亲属义不容辞。</p>
            <p>《纽约时报》近期的一篇报道称，疫情之中，美国家庭中性别的不平等可能加剧了。孩子被困家中，往往是母亲在承担忽然增多的家庭养育责任。</p>
            <p>在这种背景下，亲密关系中一方付出的时间不仅仅是私领域的家长里短，还是整个社会需要思考的课题。</p>
            <p>我们需要的不仅仅是惋惜，还有更多关于亲密关系的教育。与其哀叹感情的终结，不如研究感情的形态。每个人，尤其是女性要询问自己：在一段亲密关系中，用什么标准衡量付出时间的价值。</p>
            <p>答案可能有很多：爱、物质、陪伴、孩子……而这段关系持续的时间只是其中之一，或许还算不上重要的之一。了解自己时间的价值，男性和女性就能更真诚、更自得地交往，探求通往个体幸福的路径。我在采访中遇见过相携走到人生尽头的夫妇，他们彼此厌恶，只为孩子强撑。而在我欣赏的一部电视剧中，中年夫妇离婚后共享美酒致敬自己：“我们的婚姻只是结束了，但它并没有失败。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/_Bv74siPqFVqizGOJ-Bs_w">https://mp.weixin.qq.com/s/_Bv74siPqFVqizGOJ-Bs_w</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>