<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>拿不起 - 这世界有毒</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">
            <h1 style="font-size:45px;">（二）我闭上了眼睛，以为再也看不到黑暗</h1>
            <p style="text-align:right;">作者：赖凌锋</p>
            <p>上一篇文《<a href="https://mp.weixin.qq.com/s/PjHyrxK1Ho4Fkw2XJMB0EQ">她又没回我消息</a>》提到：</p>
            <p>放不下的人，他的好没有价值，他的时间没有价值，他的情绪也没有价值。所以才会肆无忌惮地投入，不断地付出，形成一种奇怪的执念。最后到了欺骗自我、扭曲现实的地步。</p>
            <p>那拿不起的人，又是什么样子？</p>
            <p><b>2、拿不起</b></p>
            <p>总的来说，他们都不愿意在现有的基础上，再往前迈一步。无论是意识、勇气、价值、技巧还是真诚。可天下武学，皆有一招半式可取啊。</p>
            <p>可能是看不见，也可能假装没看见，或者假装自己学不会。</p>
            <p><b>（1）没有意识</b></p>
            <p>这一层的人简单分为两类，本文只认第一类人。</p>
            <p>第一类是完全没有想过恋爱，情窦未开。</p>
            <p>在看到好看的人时，没有任何生理冲动，没有想靠近的想法。加上自己的小世界打磨的不错，远离了虚荣、贪婪和无知，并不需要用一段恋情来装饰自己。</p>
            <p>谢耳朵就是典型的代表。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf12_1.jpg') }}"/></div>
            <p>但他们早晚会开窍的。</p>
            <p>在第十季第二十四集，谢耳朵不也一言不合，从加州杀到了新泽西州直接向Amy求婚了吗……</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf12_2.jpg') }}"/></div>   
            <p>第二类是有一些意识的，但仅仅是本能、欲望这一层，或者是情感这一层的意识，和普通动物没有任何区别。</p>
            <p>就连泰迪都知道这些。</p>
            <p>人和动物最大的区别，就在于人有理智。在爱情中，这就意味着关心和责任。</p>
            <p>到现在，我都没有弄明白，为什么在高一的时候，我会把游戏看得比女朋友还重要。</p>
            <p><b>（2）有意识没勇气</b></p>
            <p>从陌生人到恋人，我们的关系会经历很多不同的阶段。</p>
            <p>引用《恋爱中如何把握追求尺度(1):看清你的位置》中的分类：</p>
            <p>通常来讲，两个人从不认识到最后成为正式的男女朋友，可以分为几个阶段：</p>
            <blockquote>路人（不认识）<br/>认识（彼此基本信息、联系方式）<br/>熟人（见面点头、表面交流）<br/>朋友（有1v1的会面、有比较顺畅的沟通、回复通常会响应）<br/>好友（了解彼此情况、愿意分享私密的内心世界、会主动联系你、高优先级的响应、会面或者聊天比较频繁）<br/>准恋人（彼此有考虑对方成为恋人、亲密的交流、私密的身体接触、甜蜜感、依赖感）<br/>恋人（正式的身份、排他关系）</blockquote>
            <p>而每一个阶段，都需要去突破，需要主动去推进关系。</p>
            <p>不是只有学习才“逆水行舟，不进则退”啊，爱情也是这样。直白一点就是，两个人中必须有一个人会带节奏。</p>
            <p>但很多人很怂，他们害怕冒犯到对方，害怕失去这段关系，不能承受期望落空。于是骗自己说“我没想和对方在一起啊”，告诉自己没有期望，以为这样就不会再次失望。</p>
            <p>可是，闭上了眼睛，就再也看不到黑暗了吗？</p>
            <p>如果你把你的问题交给别人去解决，说些什么顺其自然的鬼话，那么他们就会按照他们的意愿、他们的立场、他们的个人利益来处理它。</p>
            <p>不要害怕关系推到恋人阶段、上过床之后，两个人就走到尽头了，这只是一个新的起点罢了。</p>
            <p>沟通模式的改进、原生家庭的遗留问题、啪啪啪的三百六十五种姿势等等，有多少东西可以去挖掘？</p>
            <p>怎么会有尽头呢？</p>
            <p>就算真的有，也可以和已知的人，一起去探索未知的世界啊。</p>
            <p><b>（3）有勇气没价值</b></p>
            <p>光有勇气也是没有用的，一个没有任何优点的人，光是靠近你就已经很难受了吧？更不要说深入的肢体接触了。</p>
            <p>除非你从来没有被人喜欢过。</p>
            <p>言归正传，人的价值可以分为两种：硬价值和软价值。</p>
            <p><b>①硬价值</b></p>
            <p>主要是生存价值和繁殖价值这两类。</p>
            <p>生存价值就是社会资源的多寡，包括学历、工作、家境以及人脉。</p>
            <p>一个人有多少社会资源，决定了他能为社会创造多少价值，这个价值会在一个合理的区间范围内波动。至少，他的收入水平、社会地位会有一个下限。</p>
            <p>除非去接触赌博和毒品，不然这个下限，是很难被其他因素打破的。</p>
            <p>繁殖价值就是外貌了。</p>
            <p>外貌的构成也很简单，就五官、身材、肤质、发型和穿着打扮这五样，最多再加上体态。</p>
            <p>前五样大家都知道，但是体态就难了，我也是在练过一段时间的瑜伽后才注意到，总结起来就是坐姿、走资和站姿，详情请上知乎查阅《女生如何拥有良好体态？》。</p>
            <p>现在我瞄妹子，已经不单单是什么脸胸腰腿臀了，我特么还看她的脖子和肩膀，尤其喜欢看她走路是不是内八或者外八……</p>
            <p>在男权当道的中国，女权或者说平权的意识，大部分人心底连一个萌芽都没有，尤其是那些无数的非一线城市，因为这需要人与人之间真正的平等和尊重。</p>
            <p>所以，大部分女性会格外看重男性的生存价值，大部分男性会格外看重女性的繁殖价值。</p>
            <p>这也是应该的，那些逃脱不了虚荣和贪婪、心底惶恐不安的人，一辈子都在无穷无尽、各式各样的鄙视链中挣扎，不断去寻找存在感和优越感。他们知道的所有知识与技能，都会变成他们手中的武器，为他们征战四方。</p>
            <p>可是人生没有输赢。</p>
            <p><b>②软价值</b></p>
            <p>为了避免老生常谈，这里不再提诸如幽默、善解人意等等这类飘在半空中的东西，我将分别从“心”和“智”的角度，各举一例，来简单说说所谓的软价值。</p>
            <p>在“心”的层面，独立意志是排在第一位的。</p>
            <p>它表明一个人有意愿去培养自己的意志，也有能力去贯彻自己的意志。它同时意味着较强的情绪稳定性和较强的抗外界干扰程度，一个人的价值来源于他的内在法则，而不仅仅是社会评价。</p>
            <p>要检测这一点，最简单的方式就是在家里有没有话语权，能不能决定自己的婚姻和职业，也就是《<a href="https://mp.weixin.qq.com/s?__biz=MzIxNTM0OTYyMQ==&mid=2247483677&idx=1&sn=5996a19a68ac3676fdc2a344c284ffb1&chksm=9798e107a0ef6811ee91bbed1521148c4d16b72921663e4cbedf4e732220808f8cbf7cb2bd95&scene=21#wechat_redirect">准经济独立</a>》这篇中提到的东西。</p>
            <p>在“智”的层面，独立思考是排在第一位的。</p>
            <p>由于篇幅所限，这里只谈两点。</p>
            <p>第一，要放弃一些奇奇怪怪的立场。</p>
            <p>不去评价，而是去观察。如果不小心预设了立场，那么很大概率只能看到自己想看到的东西，在信息搜集这一层就出现了问题。</p>
            <p>就算要预设立场，也请不要从我是XX班的、我是XX学校的、我是XX单位的或者从别的任何方面来预设立场，比如什么父母、子女、兄弟姐妹、师生、恋人等等。</p>
            <p>而是从一个大的角度，比如人类。因为我们都是人啊，都是最终要去面对死亡的人。</p>
            <p>第二，要接受人事物的复杂性。</p>
            <p>很多人的脑回路真的是太他吗的简单了，除了“对”就是“错”，除了“赞同”就是“反对”，除了“喜欢”就是“讨厌”。</p>
            <p>可是除了赞同、反对，还有不赞同也不反对啊，就和喜欢、讨厌、不喜欢也不讨厌一样。</p>
            <p>事实上，这三种态度也是不全面的。假如赞同、喜欢是100分，反对、讨厌是0分，那么，从赞同过渡到反对、从喜欢过渡到讨厌，就是一个100分过渡到0分的过程，中间还有99个台阶呢。</p>
            <p>对任何事物都进行定量分析，真的很重要。</p>
            <p>因为只有这样，我们才能去尝试建立各种事物的模型，并不断地去改进他们，甚至是推倒重来。</p>
            <p><b>（4）有价值没技巧</b></p>
            <p>但光有价值也够呛，华科那位学长“十动然拒”的事情还历历在目。关于这种事情，印象特别深刻的一段话是：</p>
            <blockquote>我喜欢香蕉，可是你给了我一车苹果，然后你说你被自己感动了，问我为什么不感动。我无言以对，然后你告诉全世界，你花光了所有的钱给我买了一车苹果，可是我却没有一点点感动，我一定是一个铁石心肠的人！我的人品确定是有问题的！<br/>可我只是喜欢香蕉而已啊。</blockquote>
            <p>我知道很多很多技巧，但基本已经不会再去刻意去使用（好吧我也不太会用），要知道我现在都懒得去搭讪了……这里随手说几种已经被人用烂了的。</p>
            <p><b>①预选</b></p>
            <p>很多人不喜欢用大脑去思考问题，特别喜欢直觉上的判断。</p>
            <p>如果A男被B女喜欢，C女知道了这件事，就算C女不了解A男，甚至没有见过面，潜意识中就会认为A男还不错。如果C女认识A男，那么A男在C女心中的地位就会上调一个幅度，幅度的高低，取决于B女在C女心中的地位，以及C女的心智。</p>
            <p>再说直白一点，这就是一个社交认证，对男女都有效。喜欢玩社交游戏的人，都很清楚这个东西的威力。</p>
            <p>最后，既然提了预选，就不能不提僚机。长期追求男神女神，又没有什么进展的同学，可以直接把对方拖进友谊区了，然后查找知乎的这个问题《如何找个好僚机?》。</p>
            <p><b>②推拉</b></p>
            <p>引用乌鸦救赎《推拉永远是最强的调情方式》中的一段：</p>
            <blockquote>推（Push）是说采取相对消极的语言模式或行为模式调侃，制造阻碍，挑战对方；<br/>拉（Pull）就是采用相对积极的言语模式或者行为模式去肯定、亲近、吸引对方。</blockquote>
            <p>有些人真的是天赋异禀，在中学阶段就会用这个东西了，比如什么忽冷忽热啊……还好那些喜欢玩感情的不纯粹的人，很少有考上好大学的。</p>
            <p>从时间上来说，你可以在一段时间内对一个人很热情，在另一段时间内对一个人很冷漠；从空间上来说，你可以在见面的时候表现地很热情，在网聊的时候表现地很冷漠。</p>
            <p>或者是语言上很热情，肢体上很冷漠；或者是情感上很热情，行为上很冷漠。</p>
            <p>或者完全相反，等等，有兴趣的自行搜索吧。</p>
            <p>可能有人会对前面我说的把男神女神当僚机的话反感，其实这就是推开，表明“我不想要你”。</p>
            <p>当你真的不需要他/她的时候，真的能放下的时候，说不定会有小惊喜哦。</p>
            <p><b>③进挪</b></p>
            <p>进挪分为语言和肢体两方面的。</p>
            <p>语言上就是大家说的老司机，各种开夜车啊，飚过车的人都懂；肢体就是把语言转化为行动喽，一步步地慢慢地小心翼翼地接近。</p>
            <p>要做到这一点，就必须要明白，“sex”是恋爱或者婚姻中最核心的因素，这是最根本的动机和欲望。</p>
            <p>不然请你告诉我，为什么你不找一个同性恋爱或者结婚？为什么你不和同性做爱？</p>
            <p>（同性恋走开）</p>
            <p><b>④投资</b></p>
            <p>时间的投入，情感的投入，性的投入，随便什么投入，或者随便什么组合方式。该写的，上一篇文已经写的很清楚了。</p>
            <p>你有多么不舍，多么放不下；那么引导对方投入成功后，对方就有多么不舍，多么放不下。</p>
            <p>有多少人放不下自己的欲望和执念，这一套就对多少人有用。</p>
            <p><b>（5）有技巧没真诚</b></p>
            <p>之所以懒得再用什么技巧，是因为这会让我们看不清一个人真正的样子。换句话说，技巧只是一种辅助判断方式，仅仅起辅助作用。</p>
            <p>也只有那些对爱一无所知的人，才会沉迷在技巧里，被技巧蒙蔽，被感觉和情绪俘虏。</p>
            <p>完全体现不了人的意志和尊严。</p>
            <p>等到热恋期过了之后，他们就觉得这段恋爱好无聊啊，于是马不停蹄地去寻找下一段恋情，一点深度都没有。像这种没质量的恋爱，谈多了不会觉得厌倦吗？</p>
            <p>反正我会，除了那种至真至善的人事物，其他的任何东西，在我这边多过几遍，我就会完全失去兴趣。</p>
            <p>还有那些只是把爱情当游戏的、没有多少诚意的人，永远也不会明白，真诚还起着放大器的作用。因为不想承受撕心裂肺的痛苦，所以想方设法地去让这件事变得不重要，最后他们得到的快乐也是微乎其微的。</p>
            <blockquote>如果不敢去信赖别人，那最终就会与任何人都建立不了深厚的关系。</blockquote>
            <p>话说回来，我眼中的真诚是什么样子呢？</p>
            <p>首先是真实。</p>
            <p>对自己坦诚，也对别人坦诚。</p>
            <p>我们每个人，与外界之间，其实都有一面镜子的。我们的想法，透过这个镜子传递到外界；外界的信息，透过这个镜子再由我们接收。</p>
            <p>而这面镜子是由我们亲手打造的，用过去的每一分每一秒。</p>
            <p>有些人的镜子纯白无暇，他们可以毫不费力地看清自己、看清别人、看清这个世界；另外一些人的镜子浑浊不堪，也不知道他们每天看到的世界是什么样子；还有一些人的镜子摇摇欲坠，充满裂痕，看到的世界极其不稳定。</p>
            <p>其次是善良。</p>
            <p>不知道大家对下面这段对话是怎么看的。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf12_3.jpg') }}"/></div>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf12_4.jpg') }}"/></div>
            <p>不得不说，这差不多是最顶级的推拉了。</p>
            <p>推：我有女朋友<br/>拉：真的是对一个人好（至少看起来是）</p>
            <p>唯独没有善良。</p>
            <p>在我的爱情观里，恋爱期间和异性保持距离，是一件很自然的事情。道理也很简单，如果对方和别的男生关系好，我会吃醋的。</p>
            <p>我不知道这个男生的女友心里是怎么想的，也许她还不知道这些事？我知道的是这个妹子在这段关系中，非常非常难受。</p>
            <p>比保持距离更进一步的是，每段恋情结束后，都能及时清空自己的感情世界。</p>
            <p>张小娴说过一段话：</p>
            <blockquote>想要忘记一段感情，方法永远只有一个：时间或新欢。要是时间和新欢也不能让你忘记一段感情，原因也只有一个：时间不够长，或者新欢不够好。</blockquote>
            <p>如果只是单单的忘记，那么时间和新欢确实有用；如果想要清空自己的感情世界，而不是任由它越来越脏，越来越乱，那么只剩下时间可以一用了。</p>
            <p>在这段痛苦而又漫长的时间里，在承受分离的同时，还要去强行回忆起在一起的一点一滴，哪些地方做的不好，哪些地方做的好，找到那些需要改进的地方。</p>
            <p>用自己的感情经历，和网络、书本上的知识，一点点地去搭建自己的爱情框架。</p>
            <p>真的很难，但这是清空感情世界的必经之路。</p>
            <p>以后要是再有人对我说些什么“曾经沧海难为水”，我大概会回一句：</p>
            <p>“去你妈的。”</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf11.jpg') }}"/></div>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/hBPueQWmLy8WFsMKhXTYFQ">https://mp.weixin.qq.com/s/hBPueQWmLy8WFsMKhXTYFQ.</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>