<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>一点灵光不灭 - 这世界有毒</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">
            <h1 style="font-size:45px;">一点灵光不灭</h1>
            <p style="text-align:right;">作者：赖凌锋</p>
            <p>(如果你过去有很多很多特别特别想做的事情，但都不知不觉或者莫名其妙地放弃了，那这篇文章是适合你的)</p>
            <p>这个世界的所有事情，不管是学习/工作，还是阅读/健身，抑或是游戏/恋爱，都可以用同一个公式来解释：水平=时间*效率。</p>
            <p>抛开关于效率的战略方向和个人特质等问题，显然，我们做任何事都有一个共同点——需要持续不断地投入大量的时间和精力。</p>
            <p>可要做的事情太多，每天的时间又极为有限，写好的计划常常赶不上变化，或者干脆没有计划，于是很多兴趣爱好就这样纷纷消失在三分钟热度里了。</p>
            <p><b>怎么办？</b></p>
            <p>我们从一个大的框架——想法、行动和结果，来看这件事：从没想法到有想法，从有想法到有行动，再从有行动到有结果。这四种层层递进的情况，是完全不同的四个阶段。</p>
            <div><strong>第一阶段：没想法</strong></div>
            <p>“没想法”不必说，无欲则刚，这个阶段没有人会有疑惑和矛盾。</p>
            <div><strong>第二阶段：有想法</strong></div>
            <p>“有想法”分三种情况：一种是往前进——落实到行动中；一种是往后退——看着它消失；最后一种是既不能落实到行动中去，又不甘心看着它消失。</p>
            <p>前两种情况都很正常，不会给人造成困扰。但最后一种是大多数人纠结的地方，拿不起又放不下；尤其在感情方面，暗恋和冷战是这个世界上最无聊的两件事情。</p>
            <div><strong>第三阶段：有行动</strong></div>
            <p>“有行动”是最重要的，能不能把想法转变为行动，是人与人之间最重要的区别之一。这个阶段有两种理解方式：一种是大众化的理解，这个无需赘言；另一种我自创的，是写此文的契机，也是此文的重点内容。</p>
            <p>在王家卫导演的《一代宗师》里，宫家老爷子输了决斗后，对叶问说：</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf13.jpg') }}"/></div>
            <p>当时很震撼，但回过头一想，问题来了：在这个信息爆炸、时间和精力很容易分散的年代里，怎么做到“念念不忘，必有回响”？也就是说，怎么样去落地？</p>
            <p><b>（1）每天花一点点时间</b></p>
            <p>不像大众化的理解——花大量的时间在某一件事上，事实上，在非必要的事情上，每天只要3分钟就够了。</p>
            <p><b>这3分钟，不是为了能学到什么东西，而是把想做的事留在你的世界里，不让它就这样消失。</b>（如果你对这句话无感，那么这篇文章不适合你）</p>
            <p>首先，把所有要做的事列出来，写在纸上，再简单划分。我现在有这么五样：</p>
            <p>编程；<br/>英语；<br/>阅读；<br/>写作；<br/>锻炼。</p>
            <p>目前必要的事情有：编程（每天，不学以后没饭吃）；写作（每周，不写公众号就玩完）。</p>
            <p>非必要的事情有：英语、阅读、锻炼。</p>
            <p>3分钟的时间，足够背五六个单词，听一小段听力了；3分钟的时间，足够翻一两面书，记一两行句子了；3分钟的时间，足够穿好装备，换好裤子鞋子，离开宿舍了。</p>
            <p>就这么简单吗？就这么简单。</p>
            <p>想练字的，每天找一个时间练3分钟，3分钟过后不想练就收手，想练就继续练；想写作的，每天睡觉前写三分钟，3分钟过后没灵感就睡觉，有灵感就继续写；想锻炼的，每天晚上去操场上跑一圈，一圈之后，累了就回宿舍，不累就继续跑。</p>
            <p>因为一旦你开始这样做，除非是状态特别特别差，或者实在是不愿意做，不然你会继续下去的。<b>3分钟前的你，和3分钟后的你，是完全不同的两个人。</b></p>
            <p>就像我7.30号发布的那篇文章《一个非典型学渣的心路历程》中第二部分“最浅层的原因：贪玩与懒惰”中说的：</p>
            <blockquote>不仅仅是表面上的nowornever，更重要的是，我们现在做的每一个选择，随着时间、精力的投入，会不断地影响之后的状态，为下一次抉择埋下伏笔，慢慢走向自己选择的结局。</blockquote>
            <p>不是经常被人嘲笑说是“三分钟热度”吗？那我每天就只做三分钟。</p>
            <p>此外，还有一个额外的好处——<b>打破心障</b>。</p>
            <p>万事开头难，有的时候不是事情本身有多困难，只是我们不愿意突破自己的心障罢了。</p>
            <p>举个例子：放假在家开启老年人模式的你，和期末考试周开启学霸模式的你，对待学习的态度是完全不一样的。前者会抗拒——学习是一件多么遥远的事情啊；后者却很容易接受——不就是再多加一门科目吗，反正每天都是跪图书馆，有啥区别？</p>
            <p>前者的抗拒就是心障的一种，不愿意去接受它，反而排斥它，潜意识觉得这件事与自己无关，那么落实到行动中就不太可能了。</p>
            <p>而每天花一点点时间在要做的事上面，就会把它当成刷牙洗脸一样自然。</p>
            <p>早上一醒来就开始玩手机，忘记刷牙，直接吃了早餐，你会觉得浑身难受“卧槽我没刷牙就吃了早饭”；那么晚上睡觉时，忘了看书，直接睡了，第二天醒来你也会浑身难受“卧槽昨天我没有看书就去睡觉了”。</p>
            <p><b>（2）注意灵活性</b></p>
            <p>既然每天都要在某件非必要而又想做的事情上投入时间，那么碰上不能投入的情况怎么办？</p>
            <p>很简单，注意时间投入的灵活性，任何事情都有实践和理论两个维度。</p>
            <p>举个锻炼的例子：今天下雨了不能去操场跑步，路太远电瓶车没电了不想走路去健身房健身，楼太高电梯坏了不想去瑜伽馆做瑜伽了。不要紧，我们可以花时间去看关于锻炼的资料和书籍。</p>
            <p>啥？你从来没关心过理论知识？那赶紧去找书单/指南吧，不要再瞎忙活了。我这么懒的人，之所以能好好活到今天，全靠习惯去翻查理论知识的效率溢出，节省了大量的时间和精力供我去玩耍。</p>
            <p>实在不行，就闭上眼睛，在嘴里轻喊“锻炼、锻炼、锻炼……”3分钟。</p>
            <p>只要把时间丢进去就行。</p>
            <p><b>（3）Less is more</b></p>
            <p>摄影、画画、唱歌、器乐、游戏、恋爱等等，这个世界好玩有趣的事情是做不完的，不要把有限的生命投入到无限的事物中去。几千年前庄子就说过：“吾生也有涯，而知也无涯。以有涯随无涯，殆已！”</p>
            <p>只能尽量认认真真地，去做好每一件经过自己反复权衡过的，确定要去做的事情。</p>
            <p>Less is more.</p>
            <p><div><strong>第四阶段：有结果</strong></div></p>
            <p>“有结果”这一概率性的东西，也是少部分人会纠结的点，尤其是那些一帆风顺的人，其实平静接受就好了。</p>
            <p>引用《尼布尔的祈祷文》里的一段话：</p>
            <blockquote>God, Grant me<br/><br/>the SERENITY, to accept the things I cannot change,<br/>COURAGE to change the things I can, and<br/>the WISDOM to know the difference.</blockquote>
            <p>毕竟，“无常”是这个世界的终极规则之一。</p><br/>
            <p>最后，整篇文章用一句话就可以概括：每天花时间在自己想做的事情上，哪怕只是几分钟。这样它就不会从你的世界里静静地消失，以后腾出功夫时，自然会去把这件事列在日程表里。</p>
            <p>一句话的事情，之所以专门写一篇文章来说，有两方面的原因。</p>
            <p>一方面，本文对“行动”这个词进行了进一步的说明，把它等价于：</p>
            <p><b>“在固定的时间段——一天、一周或者更长的时间段里，花一定的时间——几分钟、几小时或者更多——在某一件事上”。</b></p>
            <p>不看进度的快慢，只看时间的投入。</p>
            <p>同时，既然是行动，肯定会落在之前说的“想法、行动和结果”这个大框架里，于是顺便找个地方把这个重要的框架记录下来，不然哪天又把它给弄丢了。</p>
            <p>另一方面，我很喜欢这六个字——“一点灵光不灭”。</p>
            <p>到今天为止，我真的不再相信什么彼岸和终点了，“梦想实现了还会有新的梦想，痛苦结束了还会有新的痛苦”。漫漫人生路，处处都是概率、未知与混沌。</p>
            <p>往前走，是我们唯一的归宿。而在前行的路上，要想不迷失，唯有保持那一点不灭的灵光。</p>            

            <div><img src="{{ url_for('static', filename='rss2pdf/pdf11.jpg') }}"/></div>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/vuKr52FL4Wqk602tUPyYUw">https://mp.weixin.qq.com/s/vuKr52FL4Wqk602tUPyYUw</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>