<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>恋爱带来的滋养 - 微博</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">河森堡的微博</h1>
            <p style="text-align:right;">作者：河森堡</p>
            <p>在⽇常⽣活中，有些东⻄能给⼈带来充沛的滋养，⼀段⾼质量的恋情就是其中之⼀。</p>
            <p>我有个⼤学同学，毕业后⼀直不顺，不仅和家⾥关系紧张，⽽且去年因为疫情失业⼜失恋，以⾄于最后整个⼈的脸透着⼀股清灰⾊，太阳⽳附近起⼀⽚痘，身材⾁眼可⻅地变胖，还经常⽆缘⽆故地哭出来，她怀疑⾃⼰得了抑郁症，我劝她去找专业医⽣诊断，她却总找借⼝拖延。</p>
            <p>前不久，我⼜⻅了这同学⼀次，嚯家伙，那⽓⾊，简直可以⽤阳光和煦来形容，看她脸时，⽿边就仿佛能听到若隐若现的⻦鸣和⻛铃声，她脸上痘也没了，身材也正常了，坐下闲叙时，她还会讲些笑话，⽽且经常还没讲完呢，⾃⼰先笑得上⽓不接下⽓，搞得讲了半天我都不知道那笑话到底说了什么。</p>
            <p>我就好奇，说你这⽓⾊转变太⼤了，怎么做到的，她说⾃⼰在新公司遇到了⼀个⼩伙⼦，虽然⽐她⼩，但俩⼈极其投缘，不到三天就陷⼊热恋，那股恋爱的炙热何⽌⼲柴遇烈⽕，简直是⼄炔遇氧⽓，把俩⼈吹融了铸⼀块了，我这位同学从⼩⽣活在刻薄的环境⾥，⽗⺟、⽼师和领导都喜欢贬损她，这让她有⼀种顽固且毫⽆理由的⾃我否定，直到有⼀天，她⽣命中出现了⼀个⼈，⽤⽆⽐的真诚向她释放滚烫的赞美和爱慕，我同学在⼈⽣中似乎第⼀次被⼈引导着去爱她⾃⼰，那种奔腾激荡的暖流唰唰地席卷全身，整个⼈⽓⾊和健康就以⾁眼可⻅的速度改善起来了。</p>
            <p>同样的事也发⽣在那个⼩伙⼦身上，⾃从这段恋情开始后，他的⽣活⼏乎被拯救了，⽅⽅⾯⾯都开始向好的⽅向发展，真是⼀种双向的成全。</p>
            <p>像我同学这种情况并不是孤例，我⼀直相信⼀点，那就是⼀段好的感情，不仅会让双⽅相爱，也会让双⽅都更爱⾃⼰，对⾃⼰更满意，如果在⼀段感情中，任何⼀⽅感到的是刺痛，是⾃我贬低，是潮湿冰凉，那这段感情就不对劲。</p>
            <p>我同学的经历，让我想起《后翼弃兵》中的⼀段台词，⼥主⻆的⽗⺟感情破裂，⺟亲因为⽣活难以为继，不得不带着孩⼦上⻔寻求帮助，但是却被主⻆的⽗亲拒绝了。</p>
            <p>在离开的路上，还是⼩⼥孩的主⻆就坐在⻋后问⺟亲：“妈妈，刚才那个男⼈是谁？”</p>
            <p>妈妈握着⽅向盘含泪说：“他是个错误。” ⼀转眼，⺟亲就撞⻋寻了短⻅，这可真是⼀句短促⽽凝重的台词。</p>
            <p>愿⼤家以后某天参加聚会时，朋友指着你身边问：“这是谁？”，你能笑说：“我们是彼此的答案。”</p>

            <br/><hr/>
            <p>文章来源：<a href="https://weibo.com/5992829552/LqqdJrORg">https://weibo.com/5992829552/LqqdJrORg</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>