<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>大脑是种喜欢“意外”的器官 - 微博</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">河森堡的微博</h1>
            <p style="text-align:right;">作者：河森堡</p>
            <p>我最近陷⼊了⼀种没话想说的状态，⽽之所以没话想说，⼤概是因为我和社会的交互变少了，失去了对⽣活的感受。</p>
            <p>最近这段，我认识的不少⼈响应政策居家办公，客观来说，这让他们更轻松了⼀些，相对于赶去单位公司，他们不仅省去了通勤的时间费⽤，被分配的任务也少了，但这并没有带来什么愉快，反⽽让他们⼀个个耷拉着脸，说话做事都透露出⼀股意兴阑珊的样⼦，我能理解他们的感受，我也是。</p>
            <p>为疫情忧虑当然是原因之⼀，但还有不能忽略的⼀点在于，⻓期居家⽣活让⼈和社会之间的交互变少了，⽣活失去了起伏、节奏和触感，我现在跟家⾥是这样的，早上起床，刷⽛洗脸，吃早饭，刷微博看新闻，完后开始看书，到中午，吃午饭，⾎糖⾼了犯困，躺床上骑着被⼦再眯会，醒了以后换身⾐服运动两下，刷视频，吃晚饭，看两集电视剧，再读两章书，关灯睡觉，基本上每天都这样，没有社交，没有社会活动，更没有新鲜的切身体验和⻅闻，在这种规律到毫⽆意外的⽣活中，⼈就仿佛被左右摆动的怀表催眠了⼀般，脑⼦都是⽊的。</p>
            <p>我之前听过⼀句话，很认同，说⼤脑是⼀种喜欢“意外”的器官，⼀个乞丐破⾐烂衫跪路边要饭，你可能不会注意，⼀个乞丐穿着BOSS⻄服跪在路边要饭，你就印象深刻，因为这令⼈太意外了，然⽽，眼下的⽣活就是⼀种完全没有意外的状态，我脑⼦使劲伸了个懒腰，吧唧两下嘴，说：“...就先这样吧，有事再叫我...” 它⼀犯懒，我表达欲就迅速枯竭。</p>
            <p>我当然知道，在疫情严峻的当下，没有意外本身就是好消息，但这段时间我的感受也让⾃⼰重新认识了⽣活和创作之间的关系，感受孕育表达，缤纷的感受孕育缤纷的表达，如果你⽣活在⼀个苍⽩的循环中，没啥想说就将是个⼤概率事件，我好想尽早回到过去那种每天叭叭个不停的⽇⼦，因为到了那时，想必咱们整个国家也都度过难关了。</p>
            <p>说到这种居家⽣活给⼈带来的感受，有副⽹图的形容很贴切，⼤意是⼀个医⽣问患者：“如果痛苦的级别从0到10依次递升，那你现在的感受是⼏？”</p>
            <p>患者：“π”</p>
            <p>医⽣：“π？圆周率？”</p>
            <p>患者：“是的，并不很痛苦，但却没完没了。”</p>
            <p>我看完之后笑了，然后就想，愿所有⼈的痛苦级别能伴着阳性数量早⽇清零，咱们⼀起回到缤纷中去。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://weibo.com/5992829552/LsRzRmgpR">https://weibo.com/5992829552/LsRzRmgpR</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>