<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>孤独的毒性 - 微博</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">河森堡的微博</h1>
            <p style="text-align:right;">作者：河森堡</p>
            <p>孤独是⼀种毒性很强的东⻄，⼈在意⽓⻛发的时候感受不到，⼀旦逆⻛吹起，孤独就可能把⼈推到直⾯⽣死的境地。</p>
            <p>前两天，我和张笑宇⽼师聊天时，他说了⼀个观点我印象深刻，那就是现代社会往往深度切割了⼈和⼈之间的联系，让不少⼈孤独地⾯对世界，⽽这很危险，因为良好的⼈际关系有时候就像是个安全⽹，能把往坠向毁灭的⼈兜住，⼀旦没这个东⻄，死亡的概率会⼤⼤提升。</p>
            <p>例如，前段时间，我在微博上看到过⼀个视频，监控画⾯⾥，有个14岁的⼩伙⼦因为琐事，在学校楼道⾥罚站，家⻓也被请来，孩⼦他妈当时在⽓头上，打了⾃⼰孩⼦⼏⽿光后就和⽼师去协调问题了，那个⼩伙⼦就在楼道⾥默默地站了⼀会，然后，转身翻过护栏⼀跃⽽下，后据报道，这位同学重伤身亡，这真的是我在⽹上所⻅最伤⼼的视频，很难想象，那⼩伙在决定去死之前，平静的表⾯下是怎样⼀副⿊暗窒息，如果此时，他的⼏个哥们⼉和死党路过，⻅他正⼀个⼈委屈，能⾛过去和他勾肩搭背地玩笑⼏句，宽慰⼀番，或者⾄少陪在身边，那之后的惨剧断然不会发⽣，可惜，没有⼈陪他，在死之前的最后⼏分钟，那位楼道⾥的同学独⾃置身于午夜暴⾬呼啸的深海。</p>
            <p>⼀个相反的例⼦，有个同样14岁的⼥孩，名叫Sophie Andrews，她⽗⺟离异，⾃⼰⻓期受到⽗亲和其朋友的虐待，因⽽遍体鳞伤精神崩溃，这个⼥孩在决⼼赴死之前，打了最后⼀个电话给⼼理救助⼯作站，⼯作⼈员听出事情不妙，于是耐⼼倾听并不断地给予宽慰，⽽正是这临时搭建起的⼈际关系犹如⼀道安全绳，⼀把将这个向死亡坠落的⼥孩拉了回来，后来，那个⼥孩深受⿎舞，放弃了⾃杀的念头，⾃⼰也投身于⼼理救助⼯作，拯救了更多的⼈。</p>
            <p>除却这些震撼⼈⼼的个例外，诸多严肃研究结果显示，孤独会给⼈的⾎压、情绪、免疫、睡眠等⽅⾯带来⼀系列负⾯影响，并显著提升死亡率，“孤独有毒”与其说是⼀种⽂学性的修辞，不如说是⼀种⽣理上的事实，孤独可以让⼈在各种意义上都更接近死亡。</p>
            <p>我到今天还依然记得之前看过的⼀篇报道，说郑州有⼀位餐馆⽼板，因为疫情和洪⽔等原因⼀直不能正常营业，最后赔掉了⾃⼰所有的积蓄，在⽼板⾃⼰发的⼀条短视频中，他曾⽤画外⾳说：“苦的时候没⼈陪，我学会了隐忍，忙的时候没⼈帮，我学会了死扛，累的时候，我学会了死撑。” 在持续且沉重的消沉和孤独中，这位⽼板黯然地安排好了后事，在屋内烧炭⾃杀了，报道中提到，⽼板在⾃尽前曾经给他的⽼友发过⼀条消息，想邀请⽼友来喝⼀杯，但友⼈因为事务繁忙推掉了，再⼀转眼，已经看到了⽼板的死讯，这个细节狠狠攥了我⼼脏⼀把，我在想，以后当身边有⼈深陷打击和消沉时，他们发出的社交邀请⼤家务必重视，因为那消息字⾯上可能写的是“来坐坐？” 但其实写的是“救救我”。</p>
            <p>许知远⽼师在《⼗三邀》的⽚头⾥曾经说过⼀句话，“创造亲密是很重要的”，我深以为然，在这个时代，孤独的毒性太强了，有时，创造亲密，胜造七级浮屠。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://weibo.com/5992829552/L9NSsy0xt">https://weibo.com/5992829552/L9NSsy0xt</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>