<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>不要以恶意揣度别人 - 微博</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">河森堡的微博</h1>
            <p style="text-align:right;">作者：河森堡</p>
            <p>如果说我最近学到了什么有价值的⽣活原则，那尽可能善意地推断他⼈动机是其中之⼀。</p>
            <p>前不久，我在录《404博物馆》时，请储殷⽼师来录了⼀期，主题是“虚荣”，对谈⼀开始，我就说很多聚会上，⽼有⼀些⼈喜欢聊国际⼤势，什么中美之间怎样怎样了，台海两岸如何如何了，中欧之间⼜有什么⽭盾了，总之这些⼈总喜欢把⾃⼰置身于⼀个宏⼤的叙事中，然后居⾼临下地给出指导意⻅，以拔⾼⾃⼰的身份，我认为这就是⼀种虚荣，很可笑。</p>
            <p>我本以为储⽼师作为国别研究的专业学者会跟我⼀起嘲讽这些⼈，但储⽼师听了以后就摇头，说不是的，我这种带着审判挖苦的⼼态去揣测别⼈动机的⾏为不妥，因为就他观察来看，很多我所描述的那些⼈并不是在虚荣，反⽽是在表达热情。</p>
            <p>储⽼师就解释了，他说当下社会分⼯已经⾮常细化，⼈们相聚时共同话题越来越少，同⼀个⼚⾥的两位⼯⼈可能就因为属于不同⻋间，聊⼯作时都说不到⼀起去，两个研究⽅向不同的物理博⼠会完全听不懂对⽅在说啥，在这种情况下，像国际关系、星座运势、明星⼋卦⼀类的话题就体现出价值了，这些话题⻔槛极低，就算⾮专业⼈⼠也跟着说两句，在⼀个多⼈聚会上，只要把话题引到这⼏个⽅向上，那⽓氛就不会冷却，场⾯就不⾄于尴尬，所以，在聚会时⼤聊国际政治的⼈，有可能只是在笨拙地展示他们的热情，他们只是想维持住局⾯⽽已，我想了想，身边的⼀些亲友好像还真是这样。</p>
            <p>当然，我和储⽼师后来也同意，确实也是有⼀定⽐例的⼈是想⽤夸夸其谈展现⾃⼰“⾼明”的，但⼀种⾏为只要没给身边⼈带来切实的困扰，⽽只是让⾃⼰碍眼或不爽，那不妨就宽容地成全，⽣活中⽤这种⽅式和⼈相处，会轻松愉快很多。</p>
            <p>我就曾经⻅到过两个朋友因为⼀句话的误会互相冷战多年的情况，以⾄于最后彼此都觉得对⽅是坏逼，憋着要置⾃⼰于死地呢，其实就是因为当初某句话没说清楚，有了误解空间，但双⽅都在那个空间⾥使劲把对⽅往坏处想，于是，恶意的⻮轮就那么徐徐转动起来，不仅碾碎了友谊，还把两⼈⼀同往下拉扯，久久不能脱身。</p>
            <p>我以为，除⾮有充分的证据，否则就不要⽤最⼤的恶意揣测他⼈动机，毕竟，⼈⽣在世⼏⼗年，掐头去尾没⼏天，时间精⼒总归有限，不要留给虚⽆的恨，要留给坚实的爱，这是我所知成本最低，收益最⾼的活法。</p>
            <p>“那桌的，⽼半天了，你瞅啥？！”</p>
            <p>“哥们，你身上这夹克好帅，能给个链接吗？”</p>

            <br/><hr/>
            <p>文章来源：<a href="https://weibo.com/5992829552/Lr9kix8Ua">https://weibo.com/5992829552/Lr9kix8Ua</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>