<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>⼀万⼩时定律 - 知乎</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">「一万小时定律」真的适合所有的领域吗？</h1>
            <blockquote>那岂不是说只要够专注，人人都可以至少在3到4个领域发展到世界顶级的水平？意志力坚定的人不少，为什么真正成功的确是凤毛麟角呢？除了坚持以外还有什么需要注意的地方？<br/>一万小时定律:作家格拉德威尔在《异类》一书中指出：人们眼中的天才之所以卓越非凡，并非天资超人一等，而是付出了持续不断的努力。1万小时的锤炼是任何人从平凡变成超凡的必要条件。他将此称为“一万小时定律”。要成为某个领域的专家，需要10000小时，按比例计算就是：如果每天工作八个小时，一周工作五天，那么成为一个领域的专家至少需要五年。</blockquote>
            
            <p style="text-align:right;">作者：田吉顺</p>
            <p>「⼀万⼩时定律」并⾮适合所有领域，即使有很强意志⼒，也很难在3到4个领域成为世界顶级。</p>
            <p>问题回答完毕，以下是解释。</p>
            <p><b>「⼀万⼩时定律」怎么回事：</b></p>
            <p>⾸先需要说明的是，这个10000不是确数，不是说你得不多不少正好10000⼩时。⼤约可以理解成平均需要10000⼩时。⽐如说有研究显示，要达到国际象棋⼤师级⽔平，刻意训练的时间从3000⼩时到25000⼩时不等，差不多平均6700⼩时。</p>
            <p>正如很多知友所⾔，这个说法来⾃K. Anders Ericsson的论⽂《The Role of Deliberate Practice in the Acquisition of Expert Performance》，所以要了解这个说法到底怎么回事⼉，应该看看原始论⽂。</p>
            <p>这篇论⽂的题⽬就明确指出<b>Deliberate Practice</b>，也就是<b>刻意的训练</b>。</p>
            <p>其实，在19世纪的时候，就有说法，认为你只要是花⾜够时间，就能在你花时间的那个领域做得很棒，但是忽略了花时间练习的内容。到了19世纪末，就有⼈发现，其实如果仅仅是简单的重复，你很可能只是达到⼀个平台的⽔平，⽽不是达到最棒。所以，Ericsson提到了刻意训练这个概念。</p>
            <p>为了能把刻意训练说清楚，Ericsson把刻意训练和另外两种活动做了对⽐，玩⼉（play）和⼯作（work）。</p>
            <p>• 玩⼉（play）这种活动的特点，是没有⼀个明确的要实现的⽬标，你做这件事的⽬的就是为了内⼼的欢愉感。所以你每天去打篮球，玩⼉的时候也是想要进球想要赢的，但是如果仅仅就是图在场上打篮球时的那份快乐⽽没有去“刻意训练”的话，仅仅是玩⼉10000个⼩时，你是达不到顶级⽔平的。同理可得，你上了10000⼩时的⽹也成不了⽹络⼯程师，看了10000⼩时的电影也成不了优秀导演或者演员。你说你就靠玩⼉着，就把⾃⼰玩⼉成顶级专家了，那可能性很⼩。</p>
            <p>• ⼯作（work）这种活动的特点，存在⼀定的重复性的劳动，⽽且往往还存在竞争，所以你在⼯作的时候可能也有⼀定压⼒，这样看上去⽐玩⼉更“刻意”的训练了，那么能不能达到顶级⽔平呢？你算⼀下如果⼀个⽉⼯作20天，每天8⼩时，⼤约⼀年2000⼩时，于是⼯作5年的⼈是不是就成为你那个领域的顶尖级专家了呢？也不是。因为⼯作的⼀个重要特点，还在于它的驱动⼒在于外部奖赏，也就是你的薪⽔。你为了你的薪⽔去⼯作，当你对⽬前薪⽔满意的时候，可能也就失去了进⼀步突破瓶颈达到更⾼⼀个⽔平的动⼒。所以，世界上有很多职业运动员，但是他们中的顶尖级专家还在少数。⼯作10000⼩时，也不能让你成为顶级专家。</p>
            <p>接下来就要看刻意训练了。</p>
            <p>⾸先，<b>刻意训练的⽬标，就是要让⾃⼰成为顶尖级的专家，要有为此⽽努⼒的精神动⼒</b>。如果你仅仅是喜欢这种活动，仅仅靠爱好的⽀撑，⽽不是以顶尖级专家作为⽬标，在⼀些反复的训练之后，你的爱好可能会被耗尽。⽽刻意训练的过程是常常是痛苦的，枯燥的，可以说是磨练。如果没有⾜够的精神动⼒，可能很难坚持下去。刻意训练⼀个折磨⼈的原因在于，它迫使你⼀直处于认知阶段，在这个阶段，你得不停的关注并且努⼒提⾼⾃⼰的训练效果，⽽⽆法进⼊⽆意识阶段。</p>
            <p>那么顶尖级的专家有什么特点呢？他们的⼀个重要特点在于超强的决策和执⾏能⼒。⽐如顶尖级⾜球运动员可以很快⽽且精准的阅读⽐赛，使⾃⼰出现在最该出现的位置，做出最适合的动作实现⾃⼰的想法，为球队获胜做出贡献。顶尖级的医⽣可以很快从各种信息中找出有⽤的，从⽽得出正确的判断，然后给出恰当的处理。</p>
            <p>有⼼理学家认为，⼈们在做决策的时候，有两个判断系统，⼀个是经验系统，⼀个是分析系统。经验系统可以⾃主运作，轻松舒适，占⽤精⼒少，当然，可能也经常会出现问题；⽽分析系统需要你对复杂的信息作出处理，并且进⾏理性的分析，所以需要花费更多精⼒。经验系统不断的为分析系统提供建议：印象、直觉、意愿以及态度。如果这些建议被分析系统采纳，那么印象和直觉就会转化为信仰，灵感也会相应的转变为⾃主⾏为。</p>
            <p>⽽我们⼤家都是“<b>认知吝啬者</b>”，就是说我们都倾向于省事⼉，倾向于靠经验和个⼈直觉做出判断，我们喜欢利⽤经验系统，从⽽可以避开费神费脑的分析系统，减轻认知负担。</p>
            <p>所以<b>刻意训练就是训练你的经验系统</b>。通过训练，你可以在⽆意识状态下⾏动，并且在相应领域内不⽤集中精神就能进⾏更⾼⽔平的思考。</p>
            <p>就好像顶级⾜球运动员在场上时，机会稍纵即逝，他们的很多判断是直觉判断，但是也⾮常准，就是通过刻意训练使得⾃⼰在这⽅⾯的直觉判断的准确性提⾼。再⽐如⼀个年轻医⽣⾯对复杂患者或者复杂⼿术时，会觉得千头万绪，从⽽出现紧张和压⼒；⽽专家级别的医⽣，就可以凭借⾃⼰已经内化到经验系统的临床思维⽅式，很快的对信息做出分析和判断。</p>
            <p>这些专家，在经历过刻意训练之后，可以轻松的感知⾃⼰所⾯临的形势，然后找到解决⽅法。</p>
            <p><b>除了认知⽅⾯的训练，当然还有⼤家熟悉的实际⾏动上的训练。</b></p>
            <p>其实，很多⼈通过简单的重复训练，都可以达到⼀定的⽔平。但是，这个⽔平其实还达不到顶级专家的⽔平，这只是你通往专家级别道路上的⼀个瓶颈，⼤部分⼈因为各种各样的原因，⽐如缺乏⾜够的精神动⼒，从⽽不会进⼀步的刻意训练磨练⾃⼰，也就只能停留在这个⽔平了。</p>
            <p>⽐如说你是个业余乒乓球爱好者，在学校⾥经常可以获胜。这是⼀个不错的⽔平，但是，如果没有刻意训练的话，也就只是停留在这个⽔平了，还算不上乒乓球的专家级⽔平。</p>
            <p>所以，<b>刻意训练当然包括⼀些重复性的训练，但⼜远不⽌于此。它需要你以更加严格刻苦的训练来突破⽔平的瓶颈</b>。</p>
            <p>如果从我们所接受的传统教育来看，刻意训练⾥的认知和⾏动上的重复训练，倒是可以对应成理论和实践的学习和练习了。</p>
            <p>下图是你进⼊某个领域后，不断提升⾃⼰时所经历的阶段，可以⾮常直观的表现出前⾯讲的内容。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf1.jpg') }}"/></div>
            <p>图⽚来源：The Role of Deliberate Practice in the Acquisition of Expert Performance</p>
            <p><b>刻意训练和普通的重复性训练⼀个很重要的不同在于反馈。</b></p>
            <p>通俗的讲就是刻意训练需要有⼈的指点。试想⼀下，如果你重复性的训练过程其实都是错误的，那么你只会在错误的道路上越⾛越远。很多专家和普通从业者之间的差别，可能仅仅是某些细节上的，但是很多细节的积累，就表现出⽔平的差异。</p>
            <p>阿图·葛⽂德是2010年“全球最具影响⼒100⼈”中唯⼀的⼀名医⽣。他曾经描述，⾃⼰⼯作多年之后，虽然已经达到⼀定⽔平，但是总感觉还不够满意，感觉总是突破不了上升的瓶颈。于是，他⾃⼰出钱雇了⼀位资深退休的外科医⽣，请他在⾃⼰⼿术时在旁边看，然后给出批评意⻅。结果发现，其实很多细节上⾃⼰是有上升空间的。所以他说，很多世界顶尖级的⽹球运动员尚且有⾃⼰的陪练教练，⼀个医⽣为什么不能有⾃⼰的教练呢？这也从⼀个侧⾯说明了反馈的重要性。</p>
            <p>因为训练的结果，就是把理性判断内化到你的直觉之中，⽽你⾃⼰的直觉很难发现⾃⼰的问题，所以就需要专业的⽼师来给你指出。这个反馈不是表扬，⽽是⾮常明确的指出你的问题所在。只有不断发现⾃⼰的问题，然后加以改正，你才可以获得提⾼。</p>
            <p>既然刻意训练的要求这么⾼，那么，要成为顶级专家⽔平，就要⾯临很多的<b>限制</b>。</p>
            <p>⽐如前⾯提到的<b>精神动⼒的限制</b>。另外，还有<b>努⼒程度的限制</b>。⽐如有研究显示，要达到训练的强度，在不同的领域，可能需要坚持每天⾄少1-8⼩时不等的训练。当然，训练的设计也要科学，还有研究说，某些领域可能每天超过4⼩时的训练，效果可能不⻅得会更好；但是如果少于2⼩时，那么效果就肯定不是最佳了。</p>
            <p>除此之外，还有<b>资源上的限制</b>。最简单的例⼦，像阿图医⽣那样的情况，前提是他能雇得到⾼⽔平的资深退休外科医⽣来给他反馈。</p>
            <p>另外，⼈们在不同领域取得成就的年龄也各不相同，这和⼈类的体格发展、智⼒⽔平发展有关。最简单的例⼦就是，不同的运动，运动员的⻩⾦年龄也各不相同。因此，要在最适合的年龄，达到相应领域的最佳状态，已经很不容易，就更不要说3到4个领域了。</p>
            <p>所以，意志⼒其实仅仅是⼀个⽅⾯。如果你是平时下班回家业余时间从事训练，或者仅仅是做这份⼯作，即使搭上再多时间，也很难达到顶级专家⽔平。</p>
            <br/>
            <p><b>那么「⼀万⼩时定律」是不是适合所有领域呢？</b></p>
            <p>也不是。</p>
            <p>很多⼈在关注某件事物的时候，可能更容易被他愿意关注的内容所吸引，⽽忽略了⼀些先决条件。在Ericsson论⽂开头，就提到了在运动、艺术和科学领域，就是说这个理论也是有限定条件的。</p>
            <p>但是，有很多关于「⼀万⼩时定律」的通俗书籍都把重点放在了赞赏刻意训练的好处上，⽽没有明确指出刻意训练在哪些领域不会产⽣什么积极效果。</p>
            <p>2009年，诺⻉尔奖获得者Daniel Kahneman和Gary Klein合写了⼀篇论⽂《Conditions for Intuitive Expertise：A Failure to Disagree》，讨论了关于直觉判断的⼀些内容。可以说给「⼀万⼩时定律」⼜做了很好的条件说明。</p>
            <p>Kahneman的⽂章⾥认为，假如你所做的事情⾥，存在着⼀⽬了然、始终如⼀的因果关系，如果你反复做这件事，并且不断从外界获取准确反馈，改进⾃⼰表现，那么总有⼀天你会成为⼀名专家。</p>
            <p>所以，<b>存在⼀⽬了然、始终如⼀的因果关系</b>，也就是「⼀万⼩时定律」的先决条件，Kahneman称为“⾼效”领域。⽐如医⽣和消防员从事的活动，就属于这个领域。这也和Ericsson⽂章是⼀致的。</p>
            <p>⽽如果结果是完全⽆法预知的，那么就是“零效”领域。⽐如预测⼀个⼈买的股票的价值以及政府远期政策的预计，这都属于零效领域。在这样的领域中，各种⼲扰因素极多，运⽓成分很⼤，就算你下了很⼤⼯夫进⾏刻意训练，恐怕也难成为专家。</p>
            <p>⽽在Michael J. Mauboussin的《实⼒、运⽓与成功 (⾖瓣)》中，则把各种活动归结为实⼒与运⽓共同作⽤的结果，只不过有些事情实⼒的成分更⼤，有些事情运⽓的成分更⼤。</p>
            <p>⽐如百⽶短跑就是实⼒⼏乎占了100%的活动，⽽买彩票则是运⽓⼏乎占了100%的活动。如果⼀头是买彩票，⼀头是百⽶短跑画⼀条直线的话，那么其他各种活动根据实⼒和运⽓成分的不同，就出现在这条直线的不同位置。所以，刻意训练可以改善⼀个⼈的实⼒，那么越是靠近实⼒⼀端的领域中，「⼀万⼩时定律」效果就越明显，越是靠近运⽓⼀端的领域，效果就越差。⽐如投资这项活动，其实就⽐较偏向运⽓⼀端，起码想要找个理想的反馈都很难，要说提⾼投资领域的直觉判断⼒，似乎就有点不⼤靠谱了。那么「⼀万⼩时定律」的效果恐怕就不是那么理想了。</p>
            <p>最后，再多嘴说⼀点，其实，要成为世界级的顶级⽔平，恐怕只有刻意训练还不够，还得需要⼀点天赋。</p>
            <p>不少和「⼀万⼩时定律」有关的书籍和⽂章当中，都过分强调了努⼒的重要性，好像⼀个⼈的表现和他的天赋没有什么关系，你只要花上功夫刻意训练就够了。但实际上，有研究显示，现有的证据，并不⽀持所谓的“个⼈天赋对他能否有⾼⽔平表现⽆关紧要”这样的观点；甚⾄根据不同⼈的天赋情况，可以更好的预测像国际象棋、⾳乐等很多领域中复杂任务的完成情况，以及预测在⾼⽔平执⾏者中谁最可能胜出。</p>
            <p><b>在那些需要实⼒的活动上，个⼈天赋也很关键！</b>就是说，通过刻意训练，在某些领域你可以达到顶级专家⽔平；⽽如果要强中更有强中⼿，成为世界级⼤师，恐怕就需要⼀些天赋了。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://www.zhihu.com/question/21655527/answer/44515153#!">https://www.zhihu.com/question/21655527/answer/44515153#!</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>