<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>放不下 - 这世界有毒</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">
            <h1 style="font-size:45px;">（一）她又没回我消息</h1>
            <p style="text-align:right;">作者：赖凌锋</p>
            <div><strong>序</strong></div>
            <p>好不容易鼓起勇气，把今天碰到的一件好玩的事情分享给她，字斟句酌，经过反反复复地修改，最终忐忑不安地点下了发送键。</p>
            <p>一分钟过去了。</p>
            <p>五分钟过去了。</p>
            <p>一小时过去了。</p>
            <p>毫无动静。</p>
            <p>于是默默把聊天窗口删除，假装没有发过这条消息，低着头趴在桌子上，感受那从头皮到脚底的伤心与难过。</p>
            <p>我不知道，这个时候我的眼里只有我自己，只在乎对方有没有一个好的回应，只在意自己的感受。</p>
            <p>不但看不到其他人，就连自己都是模糊不清的。</p>
            <div><strong>一、见自己</strong></div>
            <p>每个人的缺陷都不一样，有些人放不下，另外一些人拿不起。</p>
            <p><b>1、放不下</b></p>
            <p>在爱情中，人要放下的东西还挺多的。从别人的高价值，到别人对自己的好，再到自己的投入，或者说沉没成本，一样比一样难。</p>
            <p><b>（1）高价值</b></p>
            <p>高价值是最浅的一层，而在所有的价值中，首先看的自然是颜值。不承认这一点的，永远也不会明白，表白失败，对方和你说“没感觉”这三个字的时候，有一半的原因是你不够好看。</p>
            <p>因为大家都喜欢帅哥美女啊，我也不例外，曾经也是外貌协会的元老级成员。</p>
            <p>在我涉世不深、年纪尚浅的时候，我也会对只见过一面的漂亮妹子念念不忘、魂牵梦萦。尤其是在同一个班、同一个社团或者其他什么组织，有机会去接触的时候，和对方随便说一两句话，整个人就美滋滋的。更不要说那些单独相处的机会了，简直要飘到天上去。</p>
            <p>颜值之后，剩下的就是各种能力。班长、部长、主席以及别的什么头衔，或者是在某个领域内极其优秀，比如学习、器乐、体育特长等等。</p>
            <p>令人悲哀的是，几乎没有人，包括现在的我，会单单因为对方的性格或者人品好，而念念不忘。</p>
            <p>那么问题来了。别人长得好看，别人有什么头衔，别人在哪方面很厉害，和我们自己是什么样子、我们自己拥有的知识和技能，有半毛钱的关系？</p>
            <p>也许，很多人所谓的爱情，就是拿对方装逼吧。</p>
            <p><b>（2）别人的好</b></p>
            <p>在高价值那一层，我们和对方的关系最多到普通朋友这一级。大部分的人，只要经历过一段温暖而又深厚的爱情，都能轻松放下。</p>
            <p>但从这一层开始，我们是从普通朋友或者好友这一级开始起步的，事情开始变得复杂起来。</p>
            <p>我把“别人对自己的好”，粗略分为三种：</p>
            <p>第一种好最常见，就是对方的意愿\主动。</p>
            <p>有事没事关注下你的最近动态，发个消息撩一撩，看到你有好的回应就多说几句，不断地加深沟通的广度和深度；没啥回应、回应的不好或者聊不到一块，就过几天或者几个星期再发消息给你。</p>
            <p>客观上来说，这种不需要见面的好，门槛是最低的，因为我们可以同时和很多人聊天，但也仅仅是从客观角度来看。实际感受只能是如人饮水，冷暖自知。</p>
            <p>第二种好就比较少了，以第一种好为基础，从见面开始。</p>
            <p>关系不太熟的话，就送点小礼物给你，或者做点别的什么，刷下好感度；稍微熟悉一点，有好玩的活动，或者别的什么长时间的集体活动，会叫上你一起；比较熟的话，就是1V1的见面了，有好看的电影，发现好吃的餐厅，或者别的什么有趣的有意思的事情，带你玩带你开心。</p>
            <p>不少人就沦陷在这里。一起吃过饭啊，一起看过电影啊，一起旅过游啊，一起上过床啊，很享受这种亲密的感觉。</p>
            <p>第三种好就更稀有了，门槛极高，它是不求回报的关心、信任与支持。</p>
            <p>很多人这辈子都做不到。</p>
            <p>我也不希望碰到这样的人，万一对方长得丑呢，我还是会爱上她，那我就完蛋了。要知道我可是外协的人，怎么能屈服于精神幻象呢……</p>
            <p>面对这三种“别人对自己的好”，一般的人都会害怕失去它们，以为它们意味着安全感，之后就寄生在这上面。没错，就是寄生。</p>
            <p>尤其是那些没有人生目标，没有精神世界，没有信仰和追求的人。</p>
            <p><b>（3）付出、投入和沉没成本</b></p>
            <p>想法决定行为，行为反过来也决定想法。</p>
            <p>之前在《<a href="https://mp.weixin.qq.com/s?__biz=MzIxNTM0OTYyMQ==&mid=2247483692&idx=1&sn=5cb162f1b2b8e91cdc175aacdd26332e&chksm=9798e136a0ef68205441fd15eaa2f4e565a2ca53bbb9de1a6d2a127a6d8512144320c1284b45&scene=21#wechat_redirect">一个非典型学渣的心路历程</a>》提到：</p>
            <p><blockquote>我们现在做的每一个选择，随着时间、精力的投入，会不断地影响之后的状态，为下一次抉择埋下伏笔，慢慢走向自己选择的结局。</blockquote></p>
            <p>我不是一个爱学习的人，尤其是学校里的这种学习模式。但是在期末考试的时候，我还是会不由自主地爱上学习，为什么？</p>
            <p>因为我在这件事上投入了大量的时间和精力。</p>
            <p>这个时候我已经不关心这件事是什么，为什么要做这件事，我只希望能做好这件事。换句话说，我已经陷进去了。</p>
            <p>爱情同样如此，与学习不一样的是，我们不但投入时间，我们还投入情绪。</p>
            <p>时间的投入就不提了，上一篇推文《<a href="https://mp.weixin.qq.com/s?__biz=MzIxNTM0OTYyMQ==&mid=2247483759&idx=1&sn=027b4472cbd861c5a612379d03312c82&chksm=9798e175a0ef6863fa9d3e9bd67621a84a8b0c4dd8d78c8e701442ee830c41e57d5692a3a4dc&scene=21#wechat_redirect">哪有什么举手之劳</a>》说过，“时间是资源最底层的表现形式”，它是一个人拥有的最宝贵的资源。</p>
            <p>但用时间这个单一因素，去衡量一段爱情的深度，是一件很蠢的事情。就因为很多人对爱情一无所知，连《爱的艺术》这本小册子都没有看过，无知到只能用时间的长短去衡量了。</p>
            <p>还记得《小王子》第二十一章的那句话吗？</p>
            <p><blockquote>正因为你为你的玫瑰花费了时间，这才使你的玫瑰变得如此重要。</blockquote></p>
            <p>可是重要又能怎样？</p>
            <p>在错误的道路上行走，每往前一步，意味着我们离目标又远了一步，及时止损是一件非常重要的事情。</p>
            <p>而情绪的投入更让人难以自拔。</p>
            <p>因对方产生的正面或者负面的情绪，无论是开心快乐还是难过悲伤，甚至是失落、愤怒、恐惧等等，都是有价值的。</p>
            <p>至少比无聊好上一百倍。</p>
            <p>在高价值那一段说到，“对方和你说’没感觉’这三个字的时候，有一半的原因只是你不够好看”。</p>
            <p>那么另一半的原因就是你不能影响到对方的情绪。</p>
            <p><b>（4）欲望和执念</b></p>
            <p>前面说了这么多，但归根结底，只是自己的欲望和执念罢了。</p>
            <p>欲望源于“高价值”和“别人的好”。</p>
            <p>“高价值”是虚荣，让你看不见真实，一心想着和别人比较；“别人的好”代表着贪婪，让你不能自立，总想得到更多。虚荣和贪婪这两种欲望，让人远离尊重、关心和责任。</p>
            <p>也就是远离爱。</p>
            <p>执念源于自己的付出和投入。</p>
            <p>在做了这么多，经历了这么多之后，我们会不自觉地倾向于自己当初的选择，用偏见的目光去看这个世界。对我们有利的信息更容易引起我们的注意，对我们不利的信息我们选择性忽略。</p>
            <p>看到不正常的情况后，更不愿意去承认自己错误的选择，不能及时止损；反而开始欺骗自己，扭曲现实。相信自己花了那么多的时间，做出的决策肯定不会错的，完全不去考虑当初自己在爱情方面的决策水平。</p>
            <p>可爱情是我们唯一能力所能及的事情，它不像政治那么复杂，也没有什么道德困境，每个人都有能力做到至真至善。</p>
            <p>为什么不选择放下呢？</p>
            <p>为什么不能接受自己的期望落空呢？</p>
            <p>放不下的人，他的所有付出都毫无价值啊。</p>
            <p>不仅仅是因为他做的一切都为了他自己，为了他自己的幻想和欲望；更是因为他在其他领域也不会有很深的积累。他的好没有价值，他的时间也没有价值。所以才会肆无忌惮地投入，不断地付出，最后变成了一种奇怪的执念，饮鸩止渴、甘之如饴。</p>
            <p>他们说他们愿意为了一个人付出所有，却不愿意去为了一个人，暂时离开这段不健康的关系。不愿意在各方面去全方位地提升自己，学习、工作、阅读、健身、护肤、穿着打扮等等。可是，如果你是一个不值得被人爱的人，你的爱又有什么价值？</p>
            <p>离开，是为了更好地重逢。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf11.jpg') }}"/></div>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/PjHyrxK1Ho4Fkw2XJMB0EQ">https://mp.weixin.qq.com/s/PjHyrxK1Ho4Fkw2XJMB0EQ</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>