<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>痛苦远胜虚无 - 奥丽娅娜·法拉奇</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">给⼀个未出⽣孩⼦的信</h1>
            <blockquote>生育，从来不是一个轻松的话题。<br/>对一些人而言这意味着爱与希望，对另一些人却可能指向痛苦与负担。<br/>可能很多人都想过这些问题：为什么要将一个孩子带到这个世界？孩子自己愿意来到这个世界吗？对一位女性而言，孕育需要经历的复杂心路，以及刺骨的现实究竟如何？<br/>传奇的“世界第一女记者”法拉奇，在43岁并被确诊癌症的情况下，曾意外怀上了一个孩子，这让她一度陷入给予生命还是拒绝生命的两难境地之中。为此，她以一个未婚母亲的身份，写下“<b>给一个未出生孩子的信</b>”。<br/>这份挣扎的书写里，你能读到法拉奇对生与死、爱与恨的深刻怀疑和痛苦思考。<br/>一方面，她肯定“即便痛苦，生命的出现也远胜于虚无”；但另一方面，她也深深质疑这个世界，质疑它并不为了生命的幸福而造，也并不见得会变得更加公正和美好。<br/>有理想国的同事读完后，写下自己的感受：<br/>“它不仅是讲成为母亲意味着什么，更是以一个准母亲的视角来反思生命与死亡。存在与虚无这一永恒的大哉问，是一个‘太热爱生命’的女性对将要负担起另一个生命时所产生的痛苦质疑和罪恶意识。<br/>意识与潜意识在互相辩论厮杀。因故事取自亲身经历更增强了痛苦的深度与撕裂程度，像一个人被核弹炸得四碎后又把自己的身心一块块拼凑完整”。<br/></blockquote>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf22.jpg') }}"/></div>
            <p>奥丽娅娜·法拉奇（Oriana Fallaci），被称为“世界第一女记者”和“文化奇迹”。1967年开始任《欧洲人》周刊的战地记者，参加了越南战争、印巴战争、中东战争和南非动乱的报道，采访过多位国际闻名的政治家与名人。</p>
            <p style="text-align:right;">作者：奥丽娅娜·法拉奇</p>

            <div><strong>孩子，我没有兴趣让你降生到这个世界</strong></div>
            <p>昨夜，我知道了你的存在，从虚无中逃逸出来的生命的灵光；我躺在床上，在一片漆黑中睁大着双眼，突然之间我很确定：你就在那里。你存在。仿佛一颗子弹射中了我，我的心停止了跳动。</p>
            <p>当心脏再次跳动时，无限的惊奇如枪林弹雨般袭来。我感到我掉进了一口深井，以致一切对我来说都显得那么令人恐惧、那么陌生。此刻，我在恐惧里动弹不得，这恐惧渗透了我的脸颊、头发和思绪。我迷失在这恐惧中。</p>
            <p>我知道，这不是对其他人的恐惧，因为我不在乎其他人；这不是对上帝的恐惧，因为我不相信上帝；这也不是对痛苦的恐惧，因为我不畏惧痛苦。这是对你的恐惧，对突然把你从虚无中抛出，让你附着在我身上这样一件事情的恐惧。</p>
            <p>我从不曾急切地期望着你的来临，尽管我知道你有一天终会出现。我在这种意识中，一直在久久地等待着你。但我仍向自己提出了这样可怕的问题：要是你根本不想出生呢？</p>
            <p>是不是有一天，你会带着责备的心情冲着我大声哭喊：“是谁赋予你权利，让我降临到这个世界？你为什么要把我带到这个世界上来？为什么？”</p>
            <p><b>孩子，生活就是这样一种艰难的尝试。它是一场终日面对新挑战的战争。它所有欢乐的时刻全都是些微不足道的插曲，并且你将为它付出痛苦的代价。</b></p>
            <p>我要怎样才能知道把你舍弃并不会更好？我要怎样才能确定你的确不愿意返回空寂？你无法对我说这些，因为你生命的诞生仅仅是一团勉强形成的细胞。</p>
            <p>也许，它不是生命，而仅仅是一种生命的可能。我希望你能帮助我，哪怕是点一次头，使用一种暗示。我的母亲就曾声称我给过她这样的暗示，这也就是她把我带到这个世界上来的原因。</p>
            <p>你看，我母亲并不想要我。我的生命实际上起始于他人疏忽的某一瞬间。为了不让我诞生，她每晚把药丸溶在盛水的杯中，然后流着眼泪吞下它。她坚持喝着那种药水，直到那天晚上，我在她身体里蠕动，给了她重重的一蹬，要她不要抛弃我。</p>
            <p>当我给她这种暗示时，她正好把那杯子举到嘴边。她立刻翻过杯子，倒掉了杯中的水。几个月后，我便得意地懒洋洋躺在阳光下了。</p>
            <p>但我不知道这究竟是祸还是福。在我高兴时，我认为这不错；当我不快时，我感觉这很糟。但有一点我敢肯定，即使在悲哀的时候，我也不曾为我生命的诞生痛感憎恨，因为我认为世界上再也没有比虚无本身更糟的事情了。</p>
            <p>让我再说一遍：我不害怕痛苦。因为我们是伴着痛苦而降生、随着痛苦而成长的，我们已经习惯了痛苦，就像已经习惯了我们的手臂和双腿一样。</p>
            <p>事实上，我甚至不害怕死亡。死亡至少意味着你诞生过一次，至少意味着你战胜过虚无一次。</p>
            <p>我真正恐惧的是虚无，是不曾存在——那种由于偶然、过失和他人的粗心造成的我生命的不存在。</p>
            <p><b>许多女人都会这样问她们自己，为什么她们要让一个孩子降生到这个世界？难道是为了忍受饥饿、寒冷、背叛和耻辱吗？难道是为了被战争和疾病杀戮吗？</b></p>
            <p>她们放弃了那种饥饿将会饱足、寒冷将被温暖的希望，否定了人的一生将有忠诚和尊敬相随的期许，抛弃了人会把生命奉献给消除战争与疾病的任何努力。</p>
            <p>也许，她们是对的。但难道虚无会比痛苦更可取吗？即使我在为我的失败、幻灭和挫折哭泣时，我也坚信痛苦远远胜过虚无。</p>
            <p>如果我把这一点推及生命，推及让生命诞生与否的两难处境，我相信，我周身的每一根神经都会发出这样的呐喊：生命的诞生比从未出生更为美好。</p>
            <p>然而，我能把这一推论强加于你吗？难道这不意味着我仅仅是为了我自己而不是为了别的任何人，才把你带到这个世界上？如果仅仅是为了我自己而不为别的任何人，我没有兴趣让你降生到这个世界，因为我完全不需要你。</p>
            
            <div><strong>要有勇气，才能坚强地生长</strong></div>
            <p>你没有回答我，没有给我暗示。但你怎么能够给我答复和暗示呢？时间还太短。要是我去询问医生有关你存在的证明，他只能一笑作答。但我已为你做出了选择，你会诞生。</p>
            <p>我是在一张图片上看见你之后，才做出了这一选择的。这是一张三周大的胚胎图片，它在那本杂志上，与那篇论及生命发育的文章刊登在一起。当我看着它的时候，我内心的恐惧消失了，如同它来时一样迅疾。</p>
            <p>你看上去像一朵神秘的花，如兰花一样晶莹。在它的顶端，人们将会看到那个最终会变成大脑的、由两个隆状物构成的头部。头的下部是那个将长成嘴巴的孔洞。说明你仅仅才三个星期，肉眼几乎不可见。</p>
            <p>图片上注明的文字是——大约三毫米，这是你身体的大小。你正在发育，开始慢慢形成眼睛的轮廓，形成类似脊椎神经系统、肠胃、肝脏、肺叶那样的东西。你的心脏已基本形成，看上去显得很大，它与身体的比例是我的十倍。从怀孕的第十八天开始，它便有规律地跳动，让血液在周身循环。</p>
            <p>我怎么能够抛弃你呢？我怎么会在意你的出现是否仅仅由于一次偶然的机会，抑或什么过失呢？难道我们存在其中的这个世界不也是由于一种偶然，或者一种错误才开始形成的吗？</p>
            <p>有些人坚信，除了一种伟大的平静、一种死寂无边的沉默外，太初之始一无所有；只是之后产生了一个火花，一次分裂。在这之前，并没有任何东西预先就存在。这种分裂连续不断地发生：没有预兆，没有理智，它只是导向一个个永无目标的结局。</p>
            <p>也许是出于偶然，也许是出于某种错误，在这些结局中产生出了细胞，这细胞随即数以百万计地分裂、繁衍，直到树、鱼和人类的出现。难道你认为在那次火花闪现之前，会有人思考那种两难处境吗？难道你认为会有人在乎细胞是不是会喜欢这样？你认为会有人对生命的饥饿、寒冷和它的不幸感到惊奇？我怀疑。</p>
            <p>即使有人已经存在——比如一个或许可以超越时空、充当太初之始的上帝——他也不会去关心人世间的善恶。这一切之所以发生，是因为它能够发生，所以它不得不发生，因为它秉承于那种合乎天道的唯一傲慢。对你来说，情况也一样。我来承担做出抉择的责任。</p>
            <p>孩子，我并不是为我做出这种选择。我敢发誓，让你降生到这个世界上来并不会给我带来什么欢乐。我不愿看见自己挺着一个大肚子在大街上行走，不想看见我亲自为你哺乳、为你擦洗和教你怎样说话的情景。我是一个有工作的女人，并且有许多其他可干的事情和兴趣。</p>
            <p>我已经对你说过我不需要你，但我仍将与你一道坚持下去，不管你是否愿意。我要强加给你那种曾经也强加过给我、我母亲、我祖母和我曾祖母的同样的傲慢：这种强加可以一直追溯到那个由别人促使其降生的第一个人，而不管这人愿意与否都是如此。</p>
            <p><b>或许，要是他或她有机会做出选择，那他就会由于恐惧而作出这样的答复：不，我不想诞生。然而，又有谁征求过他们的意见呢？</b></p>
            <p>所以，他们出生，生活，并且在给予他人生命之后又死去，这些被给予生命的人同样也没有机会作出选择。千百年来，每个人的情况都是如此，直至轮到我们。</p>
            <p>每一次，都是凭着这种傲慢，我们才得以降生于世，如果没有它，我想我们根本就不会存在。</p>
            <p>孩子，要有勇气。难道你不认为，一棵树的种子需要勇气才能冲破表层的土壤，发芽生长？因为只需一阵微弱的风就足以将它摧毁，只需一只老鼠的爪子就足以置它于死地。但它没有畏惧这些，仍是抽芽，坚强地挺立，生长，传播着别的种子，最后长成森林的一部分。</p>
            <p>如果有一天，你哭喊着：“你为什么要把我带到这个世界上？为什么？”我将回答你说：“我做那树所做的，这树在我出生的数百万年前就已经这么做了，我认为这是无可非议的事情。”</p>
            <p>我绝不改变我的意图，即使我想起人类并不是树，想起因为有意识，人类的痛苦比树要更甚千百倍，想起变成森林对我们任何人都不会有什么好处，想起并非一棵树的所有种子都能孕育出新的树来，因为大多数种子都可能丢失。这样一种大反转是可能的。</p>
            <p><b>孩子，我们的逻辑充满了悖论。比如当你在谈论某件事的一瞬间，你实际上已看到了它的对立面。</b>你甚至会认为那对立面和你所谈论的事情同样合情合理。</p>
            <p>我今天的推论也许会在一弹指之间有所改变。事实上，我已经感到困惑、迷茫，也许是因为除了你之外，我没人可以吐露心声。</p>
            <p>我是一个已经决定独自生活的女人。你的父亲没有与我在一起。当然，我对此不会感到遗憾。尽管我的双眼经常凝视着那道他用坚定的步子走出去的门，但我当时并没有试图去阻止他，仿佛我们之间再也没有什么话可说。</p>

            <div><strong>我们是两个命运交织的陌生人</strong></div>
            <p>我的一个结了婚的朋友说我疯了。她在三年中就堕过四次胎。她已经有两个孩子，对她来说，简直不能容忍再要孩子。</p>
            <p>她丈夫收入不多，而她本人有一份她喜欢且不能丢下的工作。是她婆婆照料着她的两个孩子，怪辛苦的，你总不能要求她去办一个幼儿园！</p>
            <p><b>我朋友说罗曼蒂克是非常好的事情，可现实却是另一回事。</b>连母鸡也不会把它们想要的所有孩子都带到这个世界上来：如果每一个受孕的鸡蛋都孵化出一只小鸡，那世界不就成了一个鸡笼了？……与其把它们生下后再吃掉它们，或被它们吃掉，一开始就消灭它们不是还比较好吗？</p>
            <p>今天，光想到要杀死你就令我感到生不如死，这种想法仍旧在我心头涌起。那些关于小鸡的谈话把我弄糊涂了。当我把你的照片给我朋友看，并向她指出你的眼睛、你的手时，我朋友脸上现出的那种不耐烦的神情把我给弄糊涂了。她对我说，要真正看清你的眼睛、你的手，就算使用显微镜也不一定行。</p>
            <p>她笑我生活在幻想中，笑我想在这种幻想中让我的情感和梦想合理化。</p>
            <p><b>我知道，我正在残忍地告诉你这个你即将要进入的世界的丑恶，</b>告诉你我们每天犯下的恐怖罪行，提出对你来说太过复杂的看法。但我相信你会逐渐理解这些东西，因为你已经知道一切。</p>
            <p>我之所以知道这一点，是从那一天开始的。那一天我绞尽了脑汁，试图向你解释地球与你生活的蛋一样是圆的，大海是由如你在其中浮游的那样的水构成的，我没有如愿地向你解释清楚我的意思。</p>
            <p>由于认识到我的努力是徒劳的，我顿时如同瘫痪了一般。因为你已经知道了一切，甚至比我知道的还要多。至今我仍认为我可能猜对了。</p>
            <p>如果在你的蛋中存在着一个世界，那为什么就不能也存在着思想？不是有人说潜意识就是一个已经存在的生命在诞生在这个世界之前就拥有的回忆吗？真是这样吗？那么，全知者，请你告诉我，生命是从何时开始？</p>
            <p>我乞求你告诉我：你的生命是否真的已经开始？已开始多久？是不是从人们认为的精子进入卵子和细胞分裂的那一瞬就开始了？是否从你心脏发育形成，血液开始循环的那一瞬开始的？是否从你形成了大脑，形成了脊柱，显示出人的模样的那一瞬开始？还是那一刻仍未来临？你只是造物过程中的发动机吗？</p>
            <p>孩子，我愿付出一切来打破你的沉默，穿破那个由我的肉身打造、包围着你的牢笼，我愿付出一切亲眼看到你、听到你的回答。</p>
            <p>我们的确是这个世界上很奇特的一对：你和我。你的一切都依赖于我，同样，我的一切也依赖于你：如果你生了病，我也会身体不适；如果我死，你也不能活。但我不能与你交流，你也不能与我交流。</p>
            <p>尽管你有无穷的智慧，你却无法知道我的长相、我的年龄，不能说出我使用的是哪种语言。你不知道我来自何方，生活在何处，从事什么样的工作。</p>
            <p>如果你试图想象我，你也无法知道我究竟是白皮肤还是黑皮肤，年老还是年轻，个头高还是矮。我仍然无法弄清楚你是否是一个人。</p>
            <p><b>我们是两个命运交织在一起的陌生人，是同时存在于一个身体里的两个生命，相距遥远，彼此互不相识。</b></p>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/ut2hC1fvvMwUxO_Tn5eNzA">https://mp.weixin.qq.com/s/ut2hC1fvvMwUxO_Tn5eNzA</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>