<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>性格的正面与反面 - 微博</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">河森堡的微博</h1>
            <p style="text-align:right;">作者：河森堡</p>
            <p>我最近愈发有个感怀，即当⼀个⼈意识到⾃⼰的性格在成就⾃⼰的同时也打击着⾃⼰，那这个⼈就会选择与其和解，因为你不能只享受⼀种性格带来的好处，⽽不付出与其配套的代价。</p>
            <p>今天当提起乔布斯时，⼤多数⼈的反应都会觉得他是⼀位才华横溢的企业家，缔造过伟⼤的产品，引领潮流之先，但如果进⼀步了解乔布斯的⽣平就会发现，此⼈完全是⼀个偏执冷酷的怪咖，让⼈忍不住发出：“我X，这⼈怎么这样...” 的感叹。</p>
            <p>⽐如，在其本⼈传记中，乔布斯曾经迷信只吃⽔果蔬菜可以净化他的⾁体和⼼灵，于是吃了⼀⼤堆胡萝⼘，以⾄⽪肤都变了⾊，他认为这样⾜以改善体味，⼀周洗⼀次澡就够了，但乔布斯其实臭到不⾏，引得抱怨连连，让他⼈际关系恶劣，但乔布斯对此充⽿不闻，继续我⾏我素，此外，乔布斯还时常展现出冷酷，只要他⼼⾥装着⾃认为重要的事，其他的⼀切都不会在乎，⾃⼰⼥友意外怀孕并⽣育都不能让他上⼼，甚⾄在亲⼦鉴定结果出来后都还嘴硬为⾃⼰开脱，引得众⼈⻮冷，⾄于偏执更是乔布斯时常被攻击的⽅⾯，在他的评价体系中，只有“天才”和“⽩痴”两类⼈，乔布斯经常羞辱下属，说他们的⼯作都是狗屎，有时他⾃⼰⼜会因为⼯作⼤哭⼤叫，总之，你能感觉到，乔布斯这⼈离“正常”两字很远，但仔细观察他的创业历程便可发现，正是这⼀系列特质让他在设计产品时决不妥协，让他在商界博弈时⼼狠⼿辣，乃⾄让他在宣传理念时拥有教主⽓质，可以说，没有乔布斯的疯逼，就没有后来的苹果。</p>
            <p>⽼话说的好，性格决定命运，当⼀个⼈回应世界的⽅式在成⻓中逐渐凝固时，与之相伴的收益和代价也⼀同被写进了命运的剧本，⼀个谨慎的⼈，可能会失去机遇，但也会远离灾祸，⼀个坚定的⼈，可能会守得柳暗花明，也可能活活撞死在南墙，环境和时运不停地流转，与⼈的性格做着难以捉摸的互动，眼下拖累你的，也许是将来成功的伏笔，⽽之前把你送上云端的，也已准备把你拉⼊深⾕。</p>
            <p>古往今来，成败皆由于此的事，太多了。</p>
            <p>所以我想，没必要与⾃⼰的性格撕扯，那只会徒增痛苦，⼈应与⾃⼰的本性和解，去在环境的探索中感受收益和代价的起落，每当成败扑⾯⽽来时，⼼⾥都应默念那句话：“这世上没有单⾯的硬币”。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://weibo.com/5992829552/Ly2XpoPiv">https://weibo.com/5992829552/Ly2XpoPiv</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>