<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>定力 - 村西边老王</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">⼀定要做⼀个穿越周期的⼈</h1>
            <blockquote>穿越周期的能力是坚持的最高能力。任何成功的人都是穿越周期的人。</blockquote>
            <p style="text-align:right;">作者：村西边老王</p>

            <p>很多人都知道一个人要想成功，需要坚持的品质，但是极少有人真正理解坚持的本质意义。</p>
            <p>坚持到最后其实就是穿越周期。尤其是当周期低谷的时候、行业下行的时候、你遇到巨大瓶颈的时候，你有没有定力、不沉浸在自己的情绪里、不在乎外界的看法、完全理性的对待自己的处境，并能够在自己最擅长的事情上专注。</p>
            <p>王老师在这里分享2件自己穿越周期的事——</p>
            <p>01，</p>
            <p>第一件穿越周期的事情，是穿越原生家庭的周期。</p>
            <p>8岁以前，我的原生家庭非常富有，90年代家里就有车、电话子母机、大哥大手机，出门都是司机开着车带出去。8岁家境突变，家道中落，一贫如洗，就连吃饭都成问题，从出门有司机，到不得不流浪、捡破烂、要饭吃。</p>
            <p>这个时候，基本就是原生家庭不幸福，没人管，负能量，外面交往的小伙伴，都是一些小地痞流氓，基本都是一些自我放弃的、社会底层的大孩子小孩子。</p>
            <p>像我们当时认识的非常多小孩、类似的家境的、或者比我们家条件其实好很多的人，都离家出走了，不上学了。</p>
            <p>说白了就是受不了原生家庭的苦难，就离家出走，在家庭动荡的情况下，也不理解上学的意义，就不上学了，然后社会上一批同样类似处境的小孩们，可以理解你。甚至可以混口饭吃。</p>
            <p>但是即使在我最难的时候，哪怕跌跌撞撞的，我都知道上学很重要，读书很重要，虽然我不觉得学历有多重要，但是当你没有其他出路的时候，你只有坚持。虽然我知道这个家我不喜欢，但是我没有更好的出路，只要他们能继续供我上学、给我口饭吃，我就会回去。</p>
            <p>这个过程大概维持了10几年。一直到我上大学才稍微好转。算是稍微熬出头了。</p>
            <p>现在20多年过去了，原生家庭的状态也大为好转，父母也买了新房子买了车，生活幸福，也有退休金。从当年的贫困户，成为了当地的中产家庭。而我也赚了非常多的钱，靠自己在深圳完全超越了中产收入。</p>
            <p>大学毕业后，我没有管家里要过一分钱，他们也不管我要钱，甚至联系的也不多。我把自己的事情做好，他们把自己的事做好。幸福就是这么简单，这么简单的默契，却很少有家庭可以拥有。每个人都把自己的事情做好，一切都会越来越好。</p>
            <p>这个周期，大概15年。我穿越了这个周期。</p>
            <p>02，</p>
            <p>第二件穿越周期的事情，是穿越了自媒体的周期。</p>
            <p>我们在最早写自媒体的时候，完全没想过赚钱，就是纯粹的喜欢，也没想过什么会火。所以那时候起名字都是随便起的，起了个村西边王寡妇，因为那时候的网民，很多都是起各种奇怪的名字。就是好玩。</p>
            <p>从最初的写着玩，到后来几乎所有的业余时间全部投入进来，从大学到工作，起步5年没有从这上面赚过一分钱。第6年开始赚钱。没有预料到。</p>
            <p>从第6年开始，自媒体副业收入已经超高了，比绝大部分人的打工收入就高的多的多了，至少是正常打工人工资的15倍以上。而且越来越高。这是我做自媒体的第12年。</p>
            <p>但为什么中间没放弃？</p>
            <p>一个是因为喜欢，喜欢就容易坚持。二个虽然我在不错的公司工作，但是打工的生涯无穷无尽，钱不够多，高级的人也瞧不起你，孤独，绝望，没有价值感。又没有更擅长的事情，没有其他资源。</p>
            <p>我在这个行业，见过的99%的人都放弃了。10年前上微博的几乎所有网友全部都不写了，见不到了。</p>
            <p>后来经历微博的衰落，2014年到2016年微博流量下降严重，但我没有放弃，也没有转战其他平台。这中间我只做了一件事，就是继续的、持续的、更努力的提升自己的内容内核能力。这中间5、6年的时间，我只做了这一件事。而且前期没有任何回报。</p>
            <p>后来微博又重新起来了。而此时，我的内容能力渐入佳境。如果它的流量重新起来，我的内容能力还是不行，也无用。我的能力如果不行，相当于浪费了平台的流量。这是绝大部分人做不起来自媒体的核心原因。</p>
            <p>这个周期，大概10年。我穿越了自媒体的周期，穿越了微博的周期，从一个完全的、凭借着热爱写东西的素人博主，成为了我们这个赛道的、文字自媒体领域的大IP。</p>
            <p>讲这两个故事，不是要讲两个励志故事，而是要告诉你，这个过程比你预期的要漫长的多。周期很长，一般最少7年，长的话15年。</p>
            <p>事实上每当我回顾过去，我都会惊讶的发现，我人生的前25年，哪怕是我刚开始工作的前两年，哪怕公司不错，但是周期没有熬到，我的处境并没有实质性的变化。我人生的前25年几乎都是在贫困、孤独、无助和绝望中度过的。但是我都熬过来了。</p>
            <p>事实上，回顾过去，我发现我穿越的周期很多，绝对不只是这两件事。还有工作本身，还有怎么面对困境和负面舆论的。不过限于篇幅，就不讲太多了。</p>
            <p>我们经常跟咨询的学员讲，你要想成功，一定要做一个穿越周期的人。行情好的时候谁都可以觉得自己很厉害，但是一到行情差的时候，就原形毕露了。赚钱的时候都觉得自己很牛逼，一到不赚钱的时候，很多人就慌了。</p>
            <p>我们从来没有因为行情差，或者遇到瓶颈而放弃我们本就擅长和坚持了很久的事情。也不曾责怪任何客观条件。</p>
            <p>以前曾经一个黑过我的大v，后来他加我给我道歉了好几次。当然这些黑不黑的其实我都无所谓。他说了一句话——他说可能跟你小时候经历有关，你非常有定力。他就是因为缺乏定力，尤其是在行情不好的时候，做错了很多重大选择，不行了。</p>
            <p>定力是什么？就是穿越周期。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/7xsX4yAoedpEDZazZeDtYQ">https://mp.weixin.qq.com/s/7xsX4yAoedpEDZazZeDtYQ</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>