<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>包容才能改变一个人 - 民院路王叔叔</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">重来⼀次，治愈⼀切</h1>
            <p style="text-align:right;">作者：民院路王叔叔</p>

            <p>那天下午，从外⾯回来，我奔狗⼦⼜在安全座椅上睡着了。</p>
            <p>等到天⿊还没醒，不得不把他叫醒。</p>
            <p>果然，醒来就⼀直哭。</p>
            <p>⻩昏时候醒来，想哭是正常的。那就让他哭⼀会⼉吧。</p>
            <p>哭了5分钟，还是不停。那就抱下⻋，先回家再说。</p>
            <p>⾃⼰不⾛，要抱着。⼀⼿拎⼀⼤堆东⻄，⼀⼿抱着这狗⼦。</p>
            <p>抱到⼀半，实在抱不动了，放到地上牵着⾛。</p>
            <p>⼀路⾛⼀路哭，还不停甩开⼿，让抱。</p>
            <p>到家，发了⼤脾⽓，哭声⼀浪⾼过⼀浪。</p>
            <p>先不管，吃完饭再说。</p>
            <p>吃完饭，好声好⽓去哄。这狗⼦伸着⼿指外⾯，嘴⾥喊“要出去，要出去”。</p>
            <p>好吧，爸爸懂你的意思，是想再⾛⼀次回家路，⼀路抱回来，咱们就算扯平了。</p>
            <p>于是⼀路抱到⻋边，然后再从⻋边抱回来。就不哭了，扯平了。</p><br/>
            <p>如果我没有胡乱阅读⼀些⼼理学的书籍，我可能会给他两个巴掌来解决这次的哭闹。他以后就会懂得，哭闹没有意义，只会得到两个巴掌。</p>
            <p>但我想，凡事皆有缘由，解决问题得解决问题的根源。根源是我没⼀路抱他回来。他需要验证⼀下，爸爸到底为什么不抱他，是不是不爱他。</p>
            <p>那必须给⼀个验证。⽽且必须及时，此时此刻，不留到明天。</p>
            <p>当爸爸这件事，真的是⼜难，⼜累，还不能偷懒。</p><br/>
            <p>以前我不是这样的。以前我喜欢“理性地”指责、批评，⼤声说出什么是对，什么是错。</p>
            <p>我近两年才明⽩，批评和指责不能改变⼀个⼈，只有包容才能改变⼀个⼈。</p>
            <p>批评和指责，会激起本能的防御。包容和宽待，才能融化内⼼的坚冰。</p>
            <p>但我⽬前，只能对极少数⼈做到。⼤多数时候，我仍然是⼀个“理性”的⼈。</p>
            <p>“理性”的⼈是不能改变世界的，连⾃⼰的⼉⼦都不能改变。</p>
            <p>先有带着温度的情感，才有⼈与⼈之间的沟通。</p>
            <p>2021，愿进步常在。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/dr7s0T2d94crggcmZFgvAw">https://mp.weixin.qq.com/s/dr7s0T2d94crggcmZFgvAw</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>