<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>什么是「爱自己」 - KnowYourself</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">只有真正「爱自己」的人，才会有的5种表现</h1>
            <p style="text-align:right;">作者：KnowYourself</p>
            <p>最近，我们在后台看到一条留言：</p>
            <p>“小姐姐，我看咨询师已经有半年的时间，每次她都会告诉我：你要学着去爱自己。</p>
            <p>在生活中，我的朋友、家人看到我情绪不好的时候，也都会劝我要好好爱自己。我也知道爱自己的重要性。可是，却没有一个人告诉我如何开始爱自己，到底怎样做才算是爱自己？”</p>
            <p>爱自己是一个耳熟能详却又令人困惑的话题。尤其在今天这个高速运转的时代，成年人的世界里难免各种挫折：工作压力，感情受挫，迷茫、空虚、把人淹没的孤独感……</p>
            <p>面对这些困难和创伤，越来越多的人开始强调爱自己的重要性。</p>
            <p>可是，到底什么是真正的爱自己？要怎么做，才算是爱自己？</p>
            <p>今天我们就来聊聊这个话题。</p>
            <div><strong>什么是真正的爱自己？</strong></div>
            <p>Khoshaba（2012）指出，自爱是“<b>一种自我支持的状态，这种状态通过支持我们的身体、心理和精神成长的行为而增长</b>”。具体来说，爱自己包含了以下五个方面：</p>
            <p><b>1. 一定程度地满足自我需求</b></p>
            <p>人有欲望和需求是一件正常的事。在合理的范围内满足自己的需求，是对自我的尊重和重视。这能帮助我们建立自我关爱，并从中获得快乐。</p>
            <p>而且，如果我们能满足一些由内在动机激发的需求，而不是被外部因素（如社会构建中的地位）加诸的需求，我们能体验到的幸福和成就感会更高（Maslow, 1943）。</p>
            <blockquote>“之前一直疯狂存钱，疫情改变了我的想法。如果明天都不一定会到来，这一切又有什么意义？我挪了一部分存款做‘享受基金’，喜欢的球鞋终于收入囊中，舍不得报名的画室也报上了课。自我满足的幸福感让我感觉焕然一新，体会到久违的活力和希望。”<br/>——小吴，男，28岁</blockquote>
            <blockquote>“三十岁以后，我开始学会真的‘好好生活’。以前‘醉生梦死’的钱，现在都花在了一些提高生活质量、身体保养的消费上，比如小家电、推拿和调理中药。当我去满足心理和身体真正的诉求时，获得了一种比无目的的消费娱乐，更大的慰藉和快乐。”<br/>——镜子，女，31岁</blockquote>
            <p><b>2. 关心自我感受，远离让自己痛苦的人和事</b></p>
            <p>在某些情况下，我们因为害怕冲突，或出于好人心态，不自觉进入一种“讨好模式（people-pleasing）”：做出违背自我意愿的行为，或是强迫自己持续承受痛苦。</p>
            <p>这种状态看似维系了友善的形象和和谐关系，实际上是回避和压抑了个体的真实感受，长此以往会对自我造成损耗。</p>
            <p><b>真正的爱自己，是在接收到内心发出“我不想要”的信号后，能够果断付诸行动。</b>不舒服的时候say no，痛苦的时候及时抽离，不仅会主动觉察自己的感受，还会关心和照顾它，让自己回到健康的状态中。</p>
            <blockquote>“以前我很难接受别人被拒绝后失望的眼神，意识到讨好对自我的损伤后，我开始练习拒绝。每次在答应别人的要求前先冷静2分钟问自己真实的想法，设立起与他人的边界。训练自己遵循内心不是件容易的事，但对于提升自我幸福和成就感，却有极大的帮助。”<br/>——lavishry，女，25岁</blockquote>
            <blockquote>“我曾被ex折磨到无法正常生活。他出轨，然后求我原谅，他冷暴力，然后补偿我，我也尝试分手，可他会不断纠缠。下决心离开这段耗竭的关系是我学会爱自己的第一步，我终于可以从绝望的深渊里，慢慢走出来。现在我过的很好，感谢自己放过了自己。”<br/>——七月，女，27岁</blockquote>
            <p><b>3. 在看到自我的局限时，有能力承认和接纳自己</b></p>
            <p>很多时候，我们都认为自我批判是促使自己进步的方式之一。实际上，它不一定会起到动力的作用，反而会让我们在不断地否定和比较中对自己感到失望，从而丧失行动力（Bernard, 2019）。</p>
            <p><b>一个爱自己的人是对自我坦率的，能感知到自己真实的想法和外部的现实，诚实地承认自己的现状，但同时接纳这样的自己。</b>Ta不会为自身局限感到焦虑，并能基于客观的自我价值去行动和生活。</p>
            <blockquote>“刚毕业的时候会和一份工作死磕很久，不肯认输，反而是年纪大一点后，项目说放就放，工作说辞就辞。倒也不是对自我的妥协和放纵，而是对自己的能力和需求有清晰的认知后，可以做出的更负责任的决策。人嘛，不能不上进，但也没必要太逼着自己。”<br/>——David，男，33岁</blockquote>
            <p><b>4. 坦然面对曾经的过错，能够原谅自己</b></p>
            <p>爱自己的人有能力接受过去犯下的错误，不会否认过去，或一味沉浸在自我悔恨或自我惩罚里（Carson, 2006）。</p>
            <p>Ta们可以面对自己的缺点和过失，客观去看待这些东西在生命里存在过的意义，从中汲取养分，不断调整自己以避免重蹈覆辙，并获得提升和成长。</p>
            <blockquote>“曾经做了很多过分的事，逼得前任离开。后来再和其他人恋爱的肘候，我总是忍不住反省、有一种补偿心理。结果在关系里变得越来越沉重，越来越不像自己。我可能很难从当初的内疚和悔恨中走出来，但我知道，只有当我可以原谅自己的时候，才能更好的去过往后的生活。”<br/>——光，女，30岁</blockquote>
            <p><b>5. 自我肯定，不会轻易因为外界的评价而动摇</b></p>
            <p><b>“我是怎么样”对自己很重要，并且这种认知是依据自我的意识而不是别人的价值观来建立的。</b></p>
            <p>一个容易受外界评价影响的人，很容易被淹没在嘈杂的声音中，产生自我苛责和怀疑。不仅会变得焦虑，还会因为对别人评价的恐惧而无法表达自我，失去与他人建立真实的、深度连结的机会。</p>
            <blockquote>“从小就内向的我害怕在人群中说话。担心自己说的不对，或是冒犯到别人。可是接受和妥协只会让自己遭受更多忽视甚至欺凌。不去在乎别人的看法不仅是让自己活得轻松，也是一种力量和勇敢的宣告。”<br/>——stone凯，男，23岁</blockquote>
            <blockquote>“我真实的遇到过pua。他常说‘你最近好像胖了’或是‘你脾气这么差怎么会有人喜欢你’。起初我真的受挫，多亏了朋友的提点才没有被他带跑。这是段糟糕的关系，但好处是，我反而实现了一种反向的自我坚定：他越贬低我，我越开始发现自己的好。我不需要你爱我，我只会更加爱我自己。”<br/>——梅子酱，女，27岁</blockquote>
            <div><strong>哪些行为不是真正的爱自己？</strong></div>
            <p>爱自己是一件关乎个人成长的事。但在如今，这个概念逐渐被消费文化和营销泛用，比如，“女人，就是要对自己好点”“忙了一年该犒劳一下自己了”。</p>
            <p>这些广告语的背后是潜在的消费引导。但它不仅促使我们消费，还让我们对“爱自己”这件事的理解产生了偏离：爱自己逐渐成为了“个人需求合理化”的借口。</p>
            <p>所以，要理解真的自爱是怎么回事，我们还需要破除一些关于爱自己的误解：</p>
            <p><b>误解1：爱自己就是满足全部需求，放纵欲望 </b></p>
            <p>真相：放纵欲望不会让人感到真正的幸福。欲望完全被满足后的快乐是片面的。在沉溺上瘾之后，只会离真实的生活越来越远。</p>
            <p><b>纵欲不是爱自己，反而是对自我的损伤。</b>当我们开始被欲望操控的时候，就失去了作为一个人的独立性和创造力。</p>
            <p><b>误解2：爱自己是以自我为中心，自己的利益第一位</b></p>
            <p>真相：自爱不等于自私。<b>自私者不仅没有能力爱别人，也没有能力爱自己。</b></p>
            <p>弗洛姆（1956）提出，自私的人缺乏对自己真正的关心，不知道自己的需求，无法从自身获得满足。于是，ta们只能不断从生活中、从别人身上攫取满足感。</p>
            <p>Ta们看上去关注自己，实际是试图掩盖和补偿无法真正关注自我而体验到的失败。<b>而一个有能力爱自己的人，不会通过索取获得满足，能更主动地给予和爱他人。</b></p>
            <p><b>误解3：爱自己是放任自我，不再努力</b></p>
            <p>真相：接受自己的局限性，并不意味着放弃了改变和自我完善。</p>
            <p>爱自己是能根据对这份局限性的觉察进行自我调节，设置一个可及的、合理的目标。Ta们能实现更温和的、切实可靠的进步，不会因无法达成一些不切实际的目标，或是受到挫折，就陷入自我怀疑。</p>
            <p><b>误解4：爱自己是无视自己的缺点和过失</b></p>
            <p>真相：一个回避和无视自己缺点的人，会不断的重复着相同的错误；一个无法与过去和解的人，只会活在自我惩罚中。在与缺憾的纠缠的过程里，ta的自身发展也受到了阻碍。</p>
            <p><b>爱自己是指一个人能客观面对自己的过失和不足，不轻易否认自身价值，也不逃避切实的问题；不介怀谈论、梳理过去，也不失对未来的期待和信心。</b></p>
            <p><b>误解5：爱自己就是盲目自信和自恋</b></p>
            <p>真相：的确有人打着爱自己的名义固执己见，不顾及别人感受，不听取他人意见。这实质上是自恋的体现。</p>
            <p>自爱和自恋是两个截然不同的概念。<b>爱自己是自我集中的，自恋是他人集中的</b>>（Well, 2017）。这指的是，自恋的人会将自己与他人进行比较，以获得更好的感受，并渴望他人的持续认可；而爱自己是无需比较的。爱自己的人内心坚定，也能够真正认可自己。</p>
            <div><strong>那么，如何可以做到爱自己？</strong></div>
            <p>爱是一种主动的能力，爱自己同样也是。所以，不能只停留在片面的思考和想象中，需要主动的、整体性的实践。</p>
            <p><b>觉察至关重要，这是爱自己的第一步。</b>如果一个人连自己本真的需求是什么都不知道，ta的任何行为及其行为带来的成果，都难以导向对ta自身的关爱。</p>
            <p>要做到有效觉察，你需要对自己更加真诚、不隐藏。一个人向自己展示多少，就能了解自己多少。把自己作为一个总体形象来“观看”（Nina, 1993），从纵向（时间上）和横向（意义上）两个层面，去理解自己的全部生命历程。</p>
            <p><b>在“看到了”自己以后，还要学会接纳自己。</b>你身上那些一直被你自己排挤、赶走、甚至拒绝的东西，都是你学会爱自己的障碍。一味地与负面感受斗争只会制造更多痛苦。接纳自我，给内心成为一个温和的空间，才是自我调节机制可以在身上起作用的前提。</p>
            <p><b>当你不抵抗自己的缺点和情绪，不带批判地、客观地反思后，你也能够逐步实现自我坚定。</b>坚定是爱自己中非常重要的环节。当外部环境中的各种言论充斥左右、干扰你时，你需要回溯自己的本源，才不会轻易动摇、陷入迷茫。可以说，自我坚定是我们抵御人际风险、关系伤害的武器，也是主动提升，追寻一种更幸福生活的源动力。</p>
            <p>最后，我们要谈到爱自己的闭环：<b>承担起对自己全部选择和经历的责任。</b>无法为自己负责的人，一旦遇上不好的结果，就会长久地陷入自我悔恨中。只有可以承担起对自己的责任，才有面对人生各种可能性的勇气，不断探索和成长。</p>
            <p><b>KY作者说：</b></p>
            <p>爱自己的意义，其实不仅仅在于让自己获得幸福、愉悦的感受。<b>更重要的是，当我们不再为别人的看法担忧，能够认真对待生活、去做对自己最好的事时，我们也得到了真正的自由。</b></p>
            <p>空谈爱自己是没有意义的，你需要沿袭着它的本质，从内向外、从各方面，用爱自己的方式去生活。当然，如果你依然还存有困惑，也不必着急，因为——正在看这篇文章的你，想要明白到底如何真正爱自己的你，其实已经踏出了爱自己的第一步。</p>
            <p>Chaplin在70岁生日时写下：</p>
            <p>“当我真正开始爱自己我才认识到，所有的痛苦和情感的折磨，都只是提醒我：活着，不要违背自己的本心。我们无须再害怕自己和他人的分歧，因为即使星星有时也会碰在一起，形成新的世界，这就是生命。”</p>
            <p>你也是自己的星星，要记得照料好它的光芒。</p>
            <p>以上。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/kSni767kWAB7i1Gv_EBzUQ">https://mp.weixin.qq.com/s/kSni767kWAB7i1Gv_EBzUQ</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>