<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>人生并不需要热爱生活 - 村西边老王</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">人生并不需要热爱生活</h1>
            <p style="text-align:right;">作者：村西边老王</p>

            <p>罗曼罗兰说，这个世界上只有一种英雄主义，那就是认清生活的真相后依然热爱生活。</p>
            <p>其实罗曼罗兰还是太文艺了，说的还是太矫情了。人根本不需要热爱生活。而且不需要热爱生活的人也可以活的很好。甚至更好。</p>
            <p>其实我从来没见过哪个特别积极向上和热爱生活的人能混的好的。混的好的人往往都是一些早就认清生活的真相，不觉得生活有什么意义的人。</p>
            <p>我从8岁开始就知道人生没什么意义了，也从来不觉得无论我怎么努力人生就能有什么意义。</p>
            <p>人生就是一团欲望，就像一团火。你不能实现欲望，你就痛苦，你实现了欲望，你就无聊。所以我以前没钱的时候痛苦，现在有钱了无聊。</p>
            <p>但无论有没有钱，我都不觉得有什么意义。</p>
            <p>当然喜怒哀乐是肯定会有的，这是你的生物特征，你的感观进化，但我很清楚，那些都是很短暂的很无聊的一些情绪。</p>
            <p>你失去了你爱的人，又怎么样呢？只要你活着，你还是会爱上别人的。你获得了你爱的人，又如何呢？过个一年半载你也腻烦了。</p>
            <p>你很不幸，生下来就死了，没有人知道你。从意义的角度来说，其实没什么。只不过你缺乏了一些人生体验。</p>
            <p>你很幸运，活了100岁，儿女成群，留了很多钱，其实也没什么意义。表面看好像你的基因还在这个世界上，其实你都死了，有什么意义呢？</p>
            <p>意义都是人赋予出来的。事情本身是没有意义的。</p>
            <p>其实人甚至不需要热爱生活，就很简单，你不敢去死，就可以了，那么不管你热爱不热爱生活，都得好好活着。活的努力一些，你的人生会经历更多。仅此而已。从意义的层面来讲，人生并不会因为你热爱或者不热爱生活而有什么不同，唯一的不同只是体验而已。</p>
            <p>我从来不热爱生活。我只是不敢去死。也没必要逼着自己去死，因为反正早晚会死，等死了就活不过来了，那就活着的时候勇敢一点，努力一点，多经历一些好了。</p>
            <p>人最重要的其实是跟自己和解。自己是什么样的人就是什么样的人，认识的越早越好，认识的越清楚越好。</p>
            <p>我一直都觉得我自己是骗子，因为我一直在骗自己人生是需要很多钱的，我也一直都觉得我喜欢的东西都是骗局，包括写作，商业，文学，全是骗局。包括所谓的爱，全是骗局。包括我喜欢的人，我也认为都是骗子。</p>
            <p>所有人都在骗所有人，包括骗自己。所以我后来就不太在乎别人说的话了，自己想干就干，不想干就不干就好了。</p>
            <p>不失望的最好方式其实不是热爱生活，而是无所谓。然后继续干自己该干的事。失败了就伤心一下，5秒钟吧。成功了就开心一下，5分钟吧了，可以奖励一辆自己200万的车，就可以了。</p>
            <p>这就是生活。</p>
            <p>别指望从生活中找到什么意义。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/zb8pm8L4W3rPqZZLhK9hCw">https://mp.weixin.qq.com/s/zb8pm8L4W3rPqZZLhK9hCw</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>