<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>互联网只提供刺激，不提供幸福 - 知乎</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">谈谈情，做做爱，别想太多</h1>
            <p style="text-align:right;">作者：ho Ec</p>
            <p>昨天收到一条小学五年级孩子的留言，大概12岁。</p>
            <p><b>12岁的小朋友，哭着告诉我他的人生完蛋了，一辈子完蛋了。</b></p>
            <p>他说还有一年，小学升初中要考试，他是学渣，成绩无论如何考不进重点中学，只能被分配到普通中学，逻辑也很自洽：“普通中学→烂大学→烂工作→一辈子毁了。”</p>
            <p>我的天啊这是12岁小孩子该担心的吗。我12岁的时候在做什么，想尽一切办法从家长衣兜里偷钱，和同学研究踢足球如何带球过人，收集干脆面水浒卡，用放大镜烤蚂蚁。</p>
            <p>我不知道小朋友的苦恼是不是普遍现象，如果是，再过5年，就会有幼儿园孩子跑过来向我咨询如何年薪百万。再过10年，所有孩子刚出生喝完满月喜酒，就要穿西装打领带踩高跟鞋去上班。</p>
            <p>以前我们过的什么日子，上课下课晚上回家，上班下班朝九晚五，周末和朋友闲逛，吹牛逼，泡网吧，抬头看天。现在本该和以前一模一样，上课上班，成绩不好不坏，工资不高不低。</p>
            <p>只是现在有了手机，有了互联网，开始鼓励创业，突然蠢蠢欲动，意识到原来自己是井底之蛙，别人那么牛逼，上市老板富二代军二代北京坐拥10套房，我奋斗20年买不起人家一个厕所，就很焦虑，辗转反侧，饭也吃不下觉也睡不好，唉声叹气。</p>
            <p>空隙时间掏出手机，刷几页知乎想要提升自己，我的妈啊全是周游世界的探险家，引经据典的文学家，深耕金融领域的高端人才。对比一下，感觉自己是坨正在腐化的烂泥，除了呼吸和吃饭，一事无成，心情糟到极点。</p>
            <br/>
            <p>开始拼命，蒙上眼睛抓瞎一样的乱拼命。今天听说做公众号赚钱，就开公众号，明天发现程序员起薪高，就去学编程，三分钟热度三分钟放弃，迅速败下阵，之后鄙夷自己，讨厌自己甚至对自己感到绝望。</p>
            <p>打鸡血-泄气-打鸡血-泄气-再打鸡血-再泄气。</p>
            <p>其实我觉得完全没必要憎恨自我。坚持一件事又放弃了，说明你是普通人，大家都一样，一次次吹响前进号角，一次次倒在离出发点不远的地方。这就是普通人该有的样子，一点也不需要觉得羞愧。</p>
            <p><b>精英人士只是凤毛麟角，不是常态。互联网做过最大的恶，是让我们误以为精英无处不在，并持续用金钱与物欲挑逗我们的神经，逼迫我们去追赶他们的步伐。</b>它兜售焦虑、恐慌，鼓吹成功学，强调一辈子只有两条路，要么成功，花团锦簇的那种；要么失败，一败涂地的那种。</p>
            <p>它从来不提及成功与失败中间那条路，上周和父亲聊天，父亲说了，这条路叫“好好过日子，别他妈想太多”。</p>
            <p>20几岁焦虑很正常，但年龄再大些，心态是会变的，会看淡许多事。最后的结果是，每个人终将以自己的方式找到内心的安宁。就像十年前，朴树在唱《生如夏花》，激越昂扬，十年后，他唱《平凡之路》，歌词说只有平凡才是唯一的答案。</p>
            <p><b>再过10年，我们都会从焦虑中解脱，安定下来，淡然下来，平凡下来。</b></p>
            <p>最近接触了许多焦虑的人，那种深入骨髓的焦虑，那种让我担心他下一秒有可能从楼顶一跃而下的焦虑。我给他们的建议都一样：</p>
            <p>1.用力拼几次；</p>
            <p>2.没成功，承认自己是普通人，接纳自己；</p>
            <p>3.远离互联网信息轰炸。</p>
            <p><b>互联网只提供刺激，不提供幸福</b>。幸福只存在于现实生活，踏实工作，陪伴家人，谈谈情，做做爱（锻炼身体），周末骑骑车，逛逛街。</p>
            <p>这就是我的理想生活。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://zhuanlan.zhihu.com/p/26833139">https://zhuanlan.zhihu.com/p/26833139</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>