<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>精神内耗的本质 - 老端的花园</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">降低内耗的根本方法</h1>
            <p style="text-align:right;">作者：端宏斌</p>
            <p>前段时间，某人的二舅治愈了不少人的内耗，但后来被扒出来原来是虚构的视频，二舅翻了车。那些被成功治愈的人，又开始重新内耗起来。</p>
            <p>我关注了整件事情，我就一直没搞懂，到底有什么“内耗”需要去治愈。或者说，现代人为什么会那么痛苦，让你非要去看更苦命的人，才能释放负面情绪。</p>
            <p>当我翻了各种各样的心理学书籍，我忽然意识到一件事，现代人所谓的内耗，无非就是对自身真实能力的不接受，无法面对真实的自己，解决方案其实非常简单，就是选择同自己和解，承认很多事情确实是无法做到。</p>
            <p>比如，你认为自己能考80分，但你实际上只考了50分，于是你开始自责、抑郁，感觉活得累，压力山大，觉得生活没有乐趣，没有意义，不知道自己的未来在哪里。</p>
            <p>所有以上这些负面情绪，都是“80-50=30”带给你的，换言之，由于这30分的心理偏差存在，所以你无法做到原谅自己，也就无法同自己和解，所以你必然陷入内耗状态。</p>
            <p>一旦你进入内耗状态，你就没有动力去做事了，因为你很清楚，只要去做事，就会出现那30分的预期偏差，所以还没开始干，你就觉得心累了，因为你知道，如果开始干了，结果必然只有50分，而不是你预期的80分。就算你给自己打了鸡血，这个效果也不可能持续多久。</p>
            <p>那为什么所谓二舅的视频，就能治愈内耗呢？说白了也很简单，就是告诉你：看看，别人只有6分，人家也活得挺开心的，所以你都有了50分，你又有什么不满意的呢？</p>
            <p>我觉得，陷入内耗状态的年轻人会越来越多，最终是大多数人都内耗，原因也很简单，因为中国持续30多年之久的高速增长期已经结束了，不管你承不承认这件事，这就是事实。</p>
            <p>在经济高速增长的时候，很多人都自然而然地觉得，每年都会比以前更好，以至于很多人对未来产生了不切实际的预期。我举个简单的例子吧，在2021年做过一个调查，超过六成的大学生认为自己毕业十年内会年薪百万。现在看来，才一年工夫就恍如隔世，今年连大学生真实就业数字都是保密状态了，我也不敢查，我也不敢问。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf25.jpg') }}"/></div>
            <p>好了，某人认为自己毕业10年内会年薪百万，但实际上，他可能几年都找不到合适的工作。这种情况，就是以为自己可以考99分，但实际上，他只有9分。你说他怎么能不内耗呢？心理偏差数字高达90分，他不可能原谅自己，他绝不可能同自己和解。</p>
            <p>我认为，很多情况下是“教育”让这些人进入了内耗状态。因为他们接受了高等教育，认为自己已经是大学生了，就让他无法正视自己。以前我跟你介绍过一本书《乌合之众》，其中重点提到了“教育”的负面作用。</p>
            <p>我下面摘抄几段原文，你看看有没有道理：</p>
            <blockquote>“许多杰出哲学家已经毫不费力地证明，教育既不会使人变得更道德，也不会使他更幸福；它既不能改变他的本能，也不能改变他天生的热情，而且有时——只要进行不良引导即可——害处远大于好处。”</blockquote>
            <blockquote>“如果教育仅仅是无用，人们还可以对孩子们示以同情，但是这种制度的危险要比这严重得多，它使服从它的人强烈地厌恶自己的生活状态，极想逃之夭夭。工人不想再做工人，农民不想再当农民，而大多数地位卑贱的中产阶级，除了吃国家公务员这碗饭以外，不想让他们的儿子从事任何别的职业。法国的学校不是让人为生活做好准备，而是只打算让他们从事体制内的职业。”</blockquote>
            <blockquote>“国家用教科书制造出这么多有文凭的人，然而它只能利用其中的一小部分，于是只好让另一些人无事可做。因此，它只能把饭碗留给先来的，剩下的没有得到职位的人便全都成了国家的敌人。从社会金字塔的最高层到最底层，从最卑贱的小秘书到教授和警察局长，有大量炫耀着文凭的人在争抢各种政府部门的职位。商人想找到一个代替他处理生意的人难上加难，可是成千上万的人却在谋求最平庸的官差。只在塞纳一地，就有200名男女教师失业，他们全都蔑视农田或工厂，只想从国家那儿讨生计。被选中的人数是有限的，因此肯定有大量心怀不满的人。他们随时会参与任何革命，不管它的头领是谁，也不管它有什么目标。可以说，掌握一些派不上用场的知识，是让人造反的不二法门。”</blockquote>
            <p>《乌合之众》的作者勒庞观察非常敏锐，他发现，一旦某人受了教育，那么很多原本他会做的工作就再也不会做了，比如去工厂里上班，或去种田。这些人那么疯狂的念书，目的就是不想再干体力活，这结果是，他念的书越多，失业率也越高，没有饭吃的年轻人就是社会的不稳定因素。</p>
            <p>勒庞还发现，这些有文凭的年轻人，一门心思就想挤进体制内，但是体制内的工作是有限的，饭碗早就被先来的人抢走了，剩下没抢到饭碗的人，就变成了国家的敌人。</p>
            <p>为什么学历越高越不满呢？这是基于预期和现实的偏差，对于一个低学历的人来说，给他一份工厂拧螺丝的工作他也很满意了，毕竟要求不高，能糊口就行。但是对于一个高学历的人，他认为只有坐在顶级写字楼里吹着空调上班，才叫工作，毕竟他已经投入了那么多时间和精力去念书了，如果让他去厂子里，他当初为啥还要念书呢？</p>
            <p>古人说十年寒窗，而现代人从7岁开始上学，等他毕业走上社会，基本都快二十年了，这么多年的努力付出，让他误认为自己很优秀，以至于对自己的状态很难感到满意。然后他就开始默默和自己较劲，希望要变得更优秀。</p>
            <p>这种状态，如果产生了效果，那叫自我激励，如果没有效果，那就是内耗。很多时候，人的目标非常远大，而自身又如此的渺小，这种无力感是每个人都体会过的。</p>
            <p>顺便也解释了现在的年轻人为什么不想结婚生孩子，原因非常简单，他对自己的现状很不满，他觉得这种状态是不配拥有家庭的，所以他就不婚不育，就这么简单。</p>
            <p>一个人想要优秀，这是没问题的，但一定要强迫自己做到，那就有问题了，比如，那些把目标设定为80分以上的人，他的真实水平可能60分就是他的上限了，那么这20分是他无论如何都不可能逾越的鸿沟，如果你始终无法承认这一点的话，内耗对你的伤害是巨大的，你开始讨厌自己，痛恨自己，排斥自己，搞不好你连50分都做不到了。</p>
            <p>一个人的目标越大，到头来他对自己的排斥也越强烈。特别是，当他其实是能搞定60分的，但由于负面情绪让他只有50分，这时候他会恨不得把自己杀掉，因为心理偏差竟然从20分，扩大到了30分。</p>
            <p>佛教对此早就给出过解决方案，它把这叫作执念，就是无法放下“贪嗔痴”。</p>
            <blockquote>1）贪，对顺的境界起贪爱，非得到不可，否则，心不甘情不愿。<br/>2）嗔，对逆的境界生嗔恨，没称心如意就发脾气，不理智，意气用事。<br/>3）痴，不明白事理，是非不明，善恶不分，颠倒妄取，起诸邪行。</blockquote>
            <p>你让一个年轻人放下“贪嗔痴”，那太难了，多少高僧自己都做不到。但我们可以从心理学角度给出一个安慰。</p>
            <p>我们知道，一个人最大的内耗，就是对自己不符合预期的排斥，说白了就是不愿意同平庸的自己和解。但你要明白，现在这个经济形势，人人都过得不好，不是因为你不够努力而不好，而是你就算努力也没用，大环境就不好了。</p>
            <p>以上这个道理，我很早就想明白了。我是就算能考到99分，我也只过69分的生活，那这30分就是我的快乐源泉。就算经济形势再差，我只能拿到69分了，那又有什么关系呢，我一直以来就只过69分的日子啊。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/YOMNknr4qNKj2OFhFXM4VA">https://mp.weixin.qq.com/s/YOMNknr4qNKj2OFhFXM4VA</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>