<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>自我认可还是社会认可 - 村西边老王</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">你到底追求幸福还是追求成功？这个很重要</h1>
            <blockquote>成功和幸福是完全不同的两个事情，绝大部分人的失败恰好在于他们既想幸福，又想成功。所以他们既不够成功，又不够幸福。</blockquote>
            <p style="text-align:right;">作者：村西边老王</p>

            <p>成功比幸福难1万倍。</p>
            <p>成功和幸福是完全不同的两个事情，他们代表了完全不同的两种价值观和人生路径。</p>
            <p><b>幸福的本质是自我承认，你认为你自己很幸福就可以了。成功的本质是社会承认，你认为你成功这不叫成功——别人认为你成功，才叫成功。越多人认为你成功，你就越成功，越多人承认你成功，你就越成功。你超过越多人，你就越成功。</b></p>
            <p>但是幸福是完全不需要别人承认的。</p>
            <p>哪怕你是这个世界上最穷、最丑、最low的人，但是只要你自己认为自己是幸福的就可以了。</p>
            <p>而绝大部分人的失败恰好在于他们既想幸福，又想成功。他们要么一边追求自我感动的幸福，又想获得别人的承认，要么一边追求别人的承认，又总想给自己留有小确幸的自留地。所以他们既不够成功，又不够幸福。</p>
            <p>尼泊尔被评为世界上幸福感最强的国家，但是没有人会认为尼泊尔是世界上最成功的国家。实际上，尼泊尔是世界上最贫困的国家之一。人均寿命低、医疗条件差，尼泊尔的人类发展指数全球所有国家排名142，是倒数。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf29_1.jpg') }}"/></div>
            <p>那为什么尼泊尔还会被评为世界上幸福感最强的国家呢？实际上这种类似的国家很多，比如缅甸也是。经济水平比尼泊尔还低，但是幸福感也很高。</p>
            <p>就是因为这个幸福指数——衡量的是当地人对自己的生活状态的满意程度。也就是自我承认。我们会发现佛教国家的人普遍具有更高的幸福感——倒不是因为他们发展经济的能力有多强，而是因为他们欲望节制的好。</p>
            <p>我们知道——<b>幸福=能力-欲望。</b></p>
            <p>就算你能力再差，但是只要你的欲望足够低，你的幸福感就是正的。哪怕你能力再强，但是你的欲望太大，那么你的幸福感就是负的。</p>
            <p>所以我们发现很多成功的人幸福感很低。因为虽然他们能力超强，但是欲望更强。</p>
            <p>那么如何让自己既能幸福，又能成功呢？</p>
            <p>唯一正确的答案是——先追求成功，等成功了，再调整心态，追求幸福。</p>
            <p><b>绝对不能先追求幸福，再去追求成功。因为如果你先追求自我的幸福，你就会彻底失去成功的机会。因为成功是需要从很小的时候，最起码从20岁起就要开始疯狂的奋斗的，而且这个奋斗是需要得到社会和他人的承认的。不是你自我感动就可以的。</b></p>
            <p>这个时间段一过，你不可能到了30多、40多岁的时候，以前觉得自己很幸福，然后现在再开始追求成功，已经晚了，因为你已经不可能竞争得过竞争对手了。</p>
            <p>成功和幸福最大的区别在于——成功是完全社会维度的事情。他是有对比的。你比自己成功，没用，没人承认，成功必须比别人强。成功就是竞争。幸福不需要竞争，你觉得自己幸福就行了。</p>
            <p>别人坐在宝马车里哭，你在自行车上笑，你就很幸福，</p>
            <p>你可能比开宝马的人幸福，但是你没有开宝马的人成功。</p>
            <p>既能获得幸福，又能获得成功的典型范例是——段永平。后来的陈天桥，也是在成功后急流勇退，再后来段永平的徒弟黄铮也学到了老师段永平的智慧。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf29_2.jpg') }}"/></div>
            <p>但是请注意——他们全部都是年轻的时候先追求的成功，成功之后，具有了节制欲望的智慧，然后获得了幸福。</p>
            <p>段永平年轻的时候那是非常狠的。电子厂不给改制，直接带着团队跑出去创办步步高了。为了发展步步高，几次疯狂砸钱拿下央视标王。</p>
            <p><b>但是如果人先追求幸福，他以后不可能再有追求成功的机会，晚了。养不成习惯了。体力也不行了。废了。我们经常接到35、40岁左右，几个孩子的妈，被老公养了15年，幸福的不得了的宝妈，突然想实现事业价值的，不可能了。只能有家庭价值和自我价值了，不可能有事业价值了。</b></p>
            <p>早干嘛去了。</p>
            <p>别人都20岁就开始创业，在商海沉浮了20年，一路从0打拼到上亿上10亿的身家，她被老公养了15年，天天在家种花剪纸带孩子，现在想着出来发展事业，说白了就是玩票心态了，而且还有退路，后面还有老公养着，能养活自己没问题，想有大的成功是痴人说梦了。除非靠他老公介绍资源。</p>
            <p>所以成功和幸福是完全不同的两个东西。</p>
            <p>追求成功的人，至少在你没成功的时候，不要追求幸福。你不可能幸福。因为你要天天和人竞争，你要天天面临巨大的压力，你怎么可能幸福？这和你有没有钱没有任何关系。因为成功就是竞争。</p>
            <p>雷军不比你有钱吗？雷军50多岁了，现在要开始做电动车创业了。他幸福吗？他不幸福。但是他成功。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf29_3.jpg') }}"/></div>
            <p>雷军现在财富自由了，还在想着怎么超越苹果，怎么让小米的股价提上来，他幸福吗？他幸福个屁。小米上市的时候他还被马云老婆骂了一顿。</p>
            <p>当你背着1万个员工的生活的时候，当你背着投资人的钱的时候，你永远记住——你永远不可能幸福。因为你已经不再是为你自己工作了。你是有责任的。能力越大，责任越大，责任越大，越不可能幸福。</p>
            <p>因为你责任大了，你所有的一切都是社会的，都不是你自己的。你的自我认同完全不重要了，你必须要让别人认同你。而让别人认同自己是最难的——你必须做出成绩——而做出成绩必须要竞争胜利。</p>
            <p>所以从这个角度说——幸福不容易，需要一个人有节制欲望的能力。人心不足蛇吞象。</p>
            <p>但是从这个角度说——成功更难。比幸福难1万倍。所以尼泊尔有幸福的人，但是没有能超越马斯克的人，没有能做出苹果的人。</p>
            <p>所以永远记住——成功比幸福难1万倍。</p>
            <p>幸福的人很多，成功的人很少。幸福的国家很多，成功的国家很少。幸福的学生很多，考上清华的学生很少。幸福的白领很多，能当腾讯高管的很少。</p>
            <p>这是两种完全不同的价值观，这是两种完全不同的人生。<b>如果你想幸福，那你不需要很多钱，因为你需要的是节制自己的欲望。但是如果你想成功，那么你需要非常多的钱，因为做事需要钱。但是你需要钱不是为了让自己幸福——而是为了证明自己，为了挑战自己潜力的极限。</b></p>
            <p><b>追求成功的人，至少在取得比较大的成绩之前——不要考虑幸福的事情。这不是你应该考虑的。你要考虑是如何超过别人。</b></p>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/I_d-NkU0mwDEX70zSgGJGQ">https://mp.weixin.qq.com/s/I_d-NkU0mwDEX70zSgGJGQ</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>