<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>满庭芳·蜗⻆虚名 - 苏轼</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">满庭芳·蜗⻆虚名</h1>
            <p style="text-align:right;">作者：苏轼</p>

            <p>蜗⻆虚名，蝇头微利，算来著甚⼲忙。事皆前定，谁弱⼜谁强。且趁闲身未⽼，尽放我、些⼦疏狂。百年⾥，浑教是醉，三万六千场。</p>
            <p>思量。能⼏许，忧愁⻛⾬，⼀半相妨，⼜何须，抵死说短论⻓。幸对清⻛皓⽉，苔茵展、云幕⾼张。江南好，千钟美酒，⼀曲满庭芳。</p>
            <div><strong>译文</strong></div>
            <p>微⼩的虚名薄利，有什么值得为之忙碌不停呢？名利得失之事⾃由因缘，得者未必强，失者未必弱。赶紧趁着闲散之身未⽼之时，抛开束缚，放纵⾃我，逍遥⾃在。即使只有⼀百年的时光，我也愿⼤醉它三万六千场。</p>
            <p>沉思算来，⼀⽣中有⼀半⽇⼦是被忧愁⻛⾬⼲扰。⼜有什么必要⼀天到晚说⻓说短呢？不如⾯对这清⻛皓⽉，以苍苔为褥席，以⾼云为帷帐，宁静地⽣活。江南的⽣活多好，⼀千钟美酒，⼀曲优雅的《满庭芳》。</p>
            <div><strong>注释</strong></div>
            <p>满庭芳：词牌名。⼜名“锁阳台”，《清真集》⼊“中吕调”。双调九⼗五字，前⽚四平韵，后⽚五平韵。过⽚⼆字，亦有不叶韵连下为五⾔句者。</p>
            <p>蜗⻆：蜗⽜⻆。⽐喻极其微⼩。《庄⼦·则阳》谓在蜗之左⻆的触⽒与右⻆的蛮⽒，两簇常为争地⽽战。</p>
            <p>蝇头：本指⼩字，此取微⼩之义。</p>
            <p>些⼦：⼀点⼉。</p>
            <p>“百年⾥”三句：语本李⽩《襄阳歌》：“百年三万六千⽇，⼀⽇须倾三百杯。”浑：整个⼉，全部。</p>
            <p>“能⼏许”三句：意谓计算下来，⼀⽣中⽇⼦有⼀半是被忧愁⻛⾬⼲扰。</p>
            <p>“苔茵”两句：以⻘苔为褥席铺展，把⽩云当帐幕⾼张。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/Jod7x2UsFnFxNeAMCURAlg">https://mp.weixin.qq.com/s/Jod7x2UsFnFxNeAMCURAlg</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>