<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>过年是无条件的快乐 - 张佳玮</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">过年是无条件的快乐</h1>
            <p style="text-align:right;">作者：张佳玮</p>

            <p>小时候，说要过年了，不问情由，先就傻不愣登地高兴了起来。</p>
            <p>因为过年时节，总裹在寒假里。寒假是巧克力，过年是巧克力里的杏仁儿。自由自在，加上欢天喜地，真是锦上添花。相比起来，暑假就长而平淡，没过年这样有盼头的节点。</p>
            <p>因为知道过年，简直不舍得不高兴，于是平日三分胆，变成十分。不做寒假作业，每天看电视，睡懒觉，爸妈也不会管——过年嘛。</p>
            <p>爸妈没空管，也因为忙。</p>
            <p>我们那里，老一辈的单位会发大青鱼，年年有余。鱼杀好了，肉段儿腌了做咸鱼，鱼头鱼尾等年夜饭吃：略煎到泛黄，加酒和葱，熬一下午到浓白，就是鱼头汤，可以加豆腐。</p><br/>
            <p>去菜市场，席卷一气，跟那些菜贩们一一道别：</p>
            <p>“还不回去过年？”</p>
            <p>“今天做完就回去了！”</p>
            <p>“那来年见！”</p>
            <p>“好好！”</p>
            <p>买许多卤菜熟食。过年了，店主也豪迈。你买猪头肉，白送俩猪耳朵。你买红卤肠，白送鸡肝。</p>
            <p>“早点卖完我就收了！”</p>
            <p>“忙啊？回老家啊？”</p>
            <p>“不忙！就是去打麻将！”</p>
            <p>过年前一两天，牌友们要打一两桌“暂别麻将”。瘾再大，之后一周时间，要暂别嬉笑怒骂的战友，把时光贡献给家庭了。这桌牌通常打得温馨，平日叫闹吵扰的，这天也和气。回去了，跟家里也好交代。</p>
            <p>“今天输了。”</p>
            <p>“算了算了，反正年下最后一天，都在今年输掉挺好，明年就不输了！”</p><br/>
            <p>我们那里，年夜饭不讲贵，但要敦厚、肥硕、高热量。鱼头汤熬着；红烧蹄髈得炖到酥烂；卤牛肉、烧鸡要切片切段儿；要预备酒酿圆子煮年糕。厨房里腾腾白雾中，偶尔跳出一句话，对我道：</p>
            <p>“你也闲着，去买瓶黄酒！”</p>
            <p>“好！”</p>
            <p>到下午，亲戚们，比如外公外婆，比如叔叔婶婶，就来了。进门脱外套、摘帽子，先把过年好吼得全家都听见，然后大家合力帮着摆桌子，围着茶几，嗑瓜子、剥花生（我们那里，过年一定要吃带壳的花生，脆而香，叫做长生果），喝热茶；还有人窜进厨房：</p>
            <p>“要不要帮忙啊？！”</p>
            <p>“不用不用！你去吃瓜子！”</p>
            <p>小孩子们满地跑，免不了有小孩要哭，大人劝慰，声音堆起来，顶到天花板。看电视的大人们，指着熟悉的主持人：“哎呀，他今年穿得好喜庆啊！”</p>
            <p>吃年夜饭。平日再家常，这时也摆得有模样：杯盘碗盏。先凉菜，也就是各类下酒菜：卤牛肉、炸脆鳝、白斩鸡、松花蛋、拌海蜇、腌肚……吃过一巡，上热菜：炒虾仁、黄豆芽炒百叶、糖醋排骨、藕丝毛豆……吃完这一巡，小孩们都把杯盘放下，满家里捉迷藏去了；之后是鸡汤、鱼头汤、红烧蹄髈、八宝饭，到这茬儿，大家都不太吃了，边吃边聊，话语像羽毛球，在半空里飘，你拍一下，就送到一边去。</p>
            <p>年夜饭完了，吃得干净的盘碗就收了洗；大家基本没动筷子的剩菜，放冰箱去。</p>
            <p>不过夜的先行告辞，大家互相挽手致意，“后天见！”“后天见！”</p>
            <p>剩下的至亲，集体移到电视机前，远远近近，或倚或坐或卧，抱着热水袋、汤婆子，把脚藏在棉垫里，捂得暖融融，脸通红，看电视。</p>
            <p>到晚上十点，给大家端酒酿圆子年糕来。虽然大家都挺饱，但先前吃齁了的，会觉得甜甜黏黏还有汤，挺清爽，来两碗。</p>
            <p>到新年钟声响了，房间里响成一片：电视里的喧腾声，外面的鞭炮声，房间里大家彼此祝福声，手机铃声，百处俱发，不知听哪一处才是。等好半天，歇下来了，脸激动得发红。</p>
            <p>客人们引去客房睡，大家各自预备就寝。这时候，我经常不想睡——都知道大年初一凌晨，春晚之后，许多电视台还会放些撩人心弦的好看节目呢，比如，央视电影频道经常把平时不放的好东西攒这时候播。</p>
            <p>大年初一一觉醒来，通常是被鞭炮声震醒的。就起床，早饭又是酒酿圆子年糕，偶尔是稀饭年糕，配点儿自家腌的萝卜干：求步步登高，团团圆圆。多幸福，少是非。住过了夜的亲戚也该回去了，送出门去，殷勤道别。</p>
            <p>我遇到的年初一，通常都是干净峻爽的晴天。有亮度缺温度的阳光，寒冷的空气里满是鞭炮火药味儿。整个年初一的下午（因为上午经常会睡懒觉）都明亮而平淡，什么事都不着急了，就有种不知该干什么的感觉——这时候，电视机又成了我的好朋友。那些浮夸但欢乐的节目响动着，就让我过了年初一。</p>
            <p>年初二、年初三、年初四，照例得四处拜亲戚。吃各类大鱼大肉高热量食物，聊天，欢笑，嗑瓜子，吃花生。小孩子们追着各类爆竹鞭炮乱跑，猫和狗吓得来回窜。室内室外，耳边总是亮堂堂的响着喜庆的乐曲。回了家，打着饱嗝，都不想再吃东西了。我妈就会把年夜饭剩下的菜，做成杂烩菜、咸泡饭、混炒饭。这些边角料凑起来，通常极香，吃得全身暖和，脑子都变简单了；就把自己抛进软沙发里，接着看欢天喜地的电视节目。</p>
            <p>到年初五，该上街去溜达了。回家过年的诸位也有些回来了，街上人虽少，店铺倒还开了。大家小别数日，都无比惊喜的道好：</p>
            <p>“新年好！”</p>
            <p>“新年好！！”</p>
            <p>这时，你就会像穿上一件新衣裳，在这种“一切都很美好”的气氛中，觉得“哎，过年真是好！”回了家，妈把咸鱼蒸了几块，配热腾腾的稀饭，“吃吧！”</p><br/>
            <p>小时候偶尔会想：过年为什么高兴呢？</p>
            <p>大概年夜饭？红烧蹄髈？嗑瓜子？春节晚会？“过年好”的祝福声？杂烩饭？走亲访友？爆竹声？似乎是，又似乎都不是。</p>
            <p>大概是因为有吃有喝，热热闹闹，而且有亲戚，有电视节目看，又正好是寒假……归根结底，“过年就该是高兴的！”这还需要理由？</p>
            <p>后来我离开了家，后来我有那么几年，没法回家过年了。</p>
            <p>自己在家操持年夜饭，才觉出以前爸妈的辛苦。敢情对操持过年的人而言，过年一点都不清闲。</p>
            <p>只是我小时候，总坐在那个坐享过年的角色，享受着大人们营造的过年氛围与年夜饭，所以开心。</p>
            <p>但大人们过年，又确实是开心的——现在想想，大概，在奔忙的时间里，有那么一个节点，大家忙碌那么一顿饭，彼此有个由头进行这么个仪式，这就是乐趣所在吧？</p><br/>
            <p>大概是这样吧：</p>
            <p>小时候，坐享其成地享受过年，于是慢慢地相信了这份理所当然：过年就该是快乐的，就该是喜气洋洋、辞旧迎新、关爱互助、温情礼让，走向更好的开始。</p>
            <p>所谓年味，也就是自少年时，从上一代和上上一代长辈的日常言行里，承继下来的氛围；一种暖烘烘的，大家真诚的彼此关怀的，足以让人感觉周遭过于美好，过于和睦，简直可以无忧无虑的氛围。</p>
            <p>到最后，过年本身从一段快乐的记忆，变成了快乐的<b>理由</b>，或者说，一段<b>念想</b>：</p>
            <p>别管现实生活多忙碌繁杂，至少还有年可过不是？</p><br/>
            <p>小时候会觉得，一切快乐都该有理由。年纪渐长，会慢慢明白，白驹过隙反复无常的人生里，悲喜相生，忧乐参差，人快乐最大的障碍先是外界，然后是被外界摧折久了之后、哪怕快乐也心不甘情不愿的自己。</p>
            <p>到时候终于会明白：人生在世，忧思难绝，得自己抛；暂时的无忧与真诚的乐趣，得自己选择自己找。能有一个不会自己跟自己讨价还价就快乐起来的理由，真好。</p><br/>
            <p>无论发生过什么，过年都该选择无条件让自己快乐。在变幻不定的世上，越来越难得有一段自己和周围都不加怀疑的固定时节，可以有理由喧腾热闹起来，彼此推心置腹地祝福每一个人，然后相信他人也会实心实意地祝福你。</p><br/>
            <p>过年了。</p>
            <p>大家新春快乐。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://mp.weixin.qq.com/s/84-nqBlc_LGsJfRBQ2YSSQ">https://mp.weixin.qq.com/s/84-nqBlc_LGsJfRBQ2YSSQ</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>