<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>成瘾的本质 - 知乎</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">
            <h1 style="font-size:45px;">成瘾的本质是什么？</h1>
            <p style="text-align:right;">作者：Finn</p>

            <p>缺少高质量的社会连接。</p>
            <p>这是一个Ted演讲的话题，可惜题目记不得了。里面提到两个例子。</p>
            <p>第一个例子，某个著名的实验是，把老鼠关在密闭空间，给一杯水和一杯掺了可卡因的水，观察到老鼠总是喝有可卡因的水。多年后某学者修改了实验条件：给老鼠更大的空间，并放入一些可供玩乐的管道，并放入其他老鼠。它们可以自由交朋友、爱爱。结果老鼠不会去碰掺有可卡因的水。</p>
            <p>例二，参与越战的美军有20%使用毒品，引发了美国人对战后瘾君子数量的担忧。但这20%的人在战后回到美国，社交生活恢复正常，有95%的人停用了毒品。</p>
            <p>人天然有建立情感连接的倾向。如果无法与其他人建立，人便会转向其他事物，毒品、烟酒、色情、游戏、短视频……</p>
            <p>欧美国家毒品药品滥用的问题，个人乱猜一下，与社会更加“发达”，人的生存更少依赖和别人直接接触有关。</p>
            <p>有人爱提「原子人」。足够的、高质量的社会连接，对于避免成瘾、维持心理健康，一直非常重要，但在城市化、现代化、智能手机的背景下，好像变得困难多了。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://www.zhihu.com/question/559996334/answer/3421605007">https://www.zhihu.com/question/559996334/answer/3421605007</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>