<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>聊得来是个很高的要求 - 即刻</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">聊得来是个很高的要求</h1>
            <p style="text-align:right;">作者：崇旭</p>
            <p>聊得来是个很高的要求。</p>
            <p>曾粗略地拆解过，「聊得来」其实要求交流的双方都——愿意倾听、能够理解并可以有分寸感地给出回应，甚至是，留出让对话深入的空间。</p>
            <p>能做到这些的背后，是一个人的接纳、同理、共情、表达能力，以及，更重要的，双方是否在思想和心理上有足够的共享空间。</p>
            <p>这两天读崔庆龙的一篇采访，他说：</p>
            <p>「这种相互分享、相互倾听的关系非常稀有，大多数人都不具有，这就意味着，这种需要在现实环境里被抑制。」</p>
            <p>「你得感觉到这个人有能力识别你、理解你，这又不是一两次就能得到的感觉，他的回应或者他的表现证明了他真的理解你，他接下来的沉默或者等待、无言，才对你有意义。」</p>
            <p>所以说，人与人之间的沟通有多微妙呢——微妙到，沉默和沉默之间都有区别。</p>
            <p>很多时候它无法被言说，我们只能遵循身体和心理的感受，含含糊糊地说：不知道怎么回事，反正就是聊得来。</p>
            <p>还想进一步说说什么叫「思想和心理上有足够的共享空间」——</p>
            <p>它要求你们的内核是可以和谐共处的。世界观、道德观、人生观最好都不要有剧烈冲突，才有聊到一块去的可能。</p>
            <p>有冲突的时候，如果双方都能抱着开明（Open-Minded）的心态，那也问题不大。</p>
            <p>它要求你们都付出足够的坦诚（Open-Hearted）。坦诚代表着一种信任，这是人际关系中最最珍贵的东西，能够极大地降低沟通成本——</p>
            <p>如果对话需要不断揣测对方的心理，甚至产生一些猜疑，那么所谓的深度沟通也就无从谈起。</p>
            <p>它还要求你们参与到共同的路径之上。这意味着，双方对主线都有足够强烈的好奇心和探讨欲。</p>
            <p>如崔庆龙所说：「虽然话题会变更，却始终提取着相同的线索。两个人始终交互式地给出下一个路标，一方的意图总是被另一方识别和确认，而返还的意图也刚好是对方能够识别和确认的。」</p>
            <p>这样的交流，会让人进入某种可遇不可求的心流状态。</p>
            <p>那是失去之后会让人感到怀念的东西。</p>
            
            <br/><hr/>
            <p>文章来源：<a href="https://web.okjike.com/originalPost/6493a75d32c0b2c7ac6203d3">https://web.okjike.com/originalPost/6493a75d32c0b2c7ac6203d3</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>