<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>接受平庸 - 知乎</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">接受⾃⼰平庸的那⼀刻是什么⼼情？</h1>
            <blockquote>当我拥有了更开阔的眼界，更高一点的格局，我觉得曾经骄傲的我就像只井底之蛙。而我又不太愿意接受自己是平庸的。</blockquote>
            <p style="text-align:right;">作者：张米粒</p>
            <p>这感觉真是太糟糕了。</p>
            <p>不管这事儿带来多少好的结果，是变温柔了变耐心了变踏实了变平和了，都盖不住这感觉的糟糕。每一次接受自己的平庸，都感觉到原来的自己的一部分死掉了。而且是很重要的一部分。</p><br/>
            <p>终于承认，原来你就是上不了梦校，就是写不出好文章，就是坐不到那个职位。原来你就是没有办法站到舞台中间去，甚至都没有在舞台上，这辈子只能在台下鼓掌。承认自己真的就是不行。</p>
            <p>承认到这些的时候，那个曾经很狂的、很不接地气的、很骄傲的你一次一次地失望了。从失望到难过到接受，人终于是长大了。</p>
            <p>但是这长大是什么？是把原来眼高于顶的部分剥离掉，“少年感”也跟着一起去掉了，所谓接受现实，接受自己的平庸。</p>
            <p>这过程就是去棱角，就是社会化。</p>
            <p>人生而就有的天真啊骄傲啊异想天开啊意气风发啊统统没有了，社会化的过程让你把心中的少年杀死，变成一个凡人。否则日日夜夜的挫败感太难捱，你只好接受自己的平庸，再好为自己一点一滴的战绩鼓掌。</p><br/>
            <p>你们说接受平庸挺好的，终于可以情绪稳定地好好生活了。</p>
            <p>但其实不是的。那个少年没法儿被完全杀死，我们只是选择不再去听他的声音罢了。</p><br/>
            <p>所以接受平庸是什么情境？</p>
            <p>终究意难平。</p>
            <br/><hr/>
            <p>文章来源：<a href="https://www.zhihu.com/question/35932798/answer/165452586">https://www.zhihu.com/question/35932798/answer/165452586</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>