<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>人生是有限的 - 即刻</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">人生是有限的</h1>
            <blockquote><a href="https://book.douban.com/subject/36093214/?dt_dapp=1">《四千周》 - 豆瓣</a></blockquote>
            <p style="text-align:right;">作者：许涵之爱思考</p>
            <p>我读过的关于时间管理的最好的书，它的好在于，不是讲如何将每天的 24 小时当成 48 小时来用，不是讲如何掌控时间提高效率（事实上本书差不多是在反对这些观点），而是从人生的有限性来看待时间的管理，这可能就是所谓的「降维打击」吧。</p>
            <p>人生是有限的，这是一句直白的话，但要理解它背后的深刻含义和蕴含的复杂性，我建议你读读这本书。</p>
            <p>关于时间管理的一个经典故事是，在一个玻璃瓶中先放沙子、再放碎石、最后放石块，无法放完，玻璃瓶中还会有许多空隙，但如果倒过来，就可以放完，瓶中的空间还会利用的满满的。这个时间管理的寓言预示着只要方法得当，时间就可以被利用的更加干净。但它从未揭露的人生真相是，我们人生的石块，远比瓶子的容量多得多得多，这意味着无论采用怎样的方法，对于人生的问题其实都于事无补。</p>
            <p>真正的时间管理，首先要意识到人生是有限的，我们能做的比我们想做的少得多得多，只有在许多其他地方放弃，才能保留某些硕果仅存的胜利。</p>
            <p>每一段时间都只能经历一次，因此本质上每一件事都是独一无二的，每一次选择其实都在损失无数的可能性，这种损失看似是悲哀的，但如果意识到人生是借来的并且坦然接受它，接受人的本质就是经历的这一段时间，那么每一次选择的结果其实也寄寓着其他选择所代表的可能性的美好。就好像一次灾难，一群人中一个人因为被保护而活了下来，那么他就要好好地活着，带着其他人的希望而活，而经历。每一个选择既然被做出了，就要郑重地对待，因为它是以牺牲了其他可能性为代价的，只有好好对待，才是不辜负其他可能性。</p>
            <p>次优先级的事情是最为致命的，因为它们本来也是不该做的，但由于低估了事情的复杂度，高估了拥有的时间，它们也常常被放在待办清单里，从而挤压了那些真正重要的事情。</p>
            <p>可能性意味着机会，但也是一种束缚，确定性让人安定，要学会适时地斩却可能性。想起小时候纠结看功夫足球的电视剧还是去城里书店看书，结果家里停电了，我不能看电视了，失去了一种可能性，我反而很开心，因为不用纠结了。</p>
            <p>计划是试图对未来施加的控制，但现在都控制不好，何谈控制未来呢？而且未来可能也不想被现在控制。</p>
            <p>无论是在几个小时、一天、一周直到几年、人生的尺度上，在尊重事实、接纳有限性的基础上提前估计自己只能做哪些事，那么当到了那些时刻，其他计划外的事情没完成时，就不会对它们有意外的沮丧感了。</p>
            <p>这本书是 2022 年出版的，所以书中有很多最近的例子，比如新冠疫情，我读的时候经常有一些恍惚感，因为读过的经典好书基本上都是比较早的，这是第一次把一本新进出版的书读完。也因为它比较新，所以它的观点是非常贴合当下这个时代的。</p>
            <p>知道这本书是源于产品沉思录的一篇文章，文章很好，我也推荐你看看：<a href="https://mp.weixin.qq.com/s/s1pGms1tJZHQghoEYNN9XA">关于时间管理的误区，你必须接纳自己的有限性</a>。</p>
            <br/><hr/>
            <p>文章来源：<a href="https://web.okjike.com/originalPost/64a250eac05a081a7cc43b3d">https://web.okjike.com/originalPost/64a250eac05a081a7cc43b3d</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>