<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>身心健康，身在心前 - 知乎</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">长大以后，你悟出过哪些不一样的道理？</h1>
            <blockquote>不一样的道理，就是指有时候违背常理，但是对你来说却是真相的道理。<br/>比如说，从小老师说，这孩子不是笨，就是不努力。长大后你才发现，其实你不是不努力，你就是笨。</blockquote>
            <p style="text-align:right;">作者：张斯托洛夫斯基</p>
            <p>其实“性格好”“讲道理”往往是身体健康精⼒充沛的⼈才有资格表现的品质。</p>
            <p>和⼈⼀起爬⼭，有⼈两步就嚷嚷累，不⼀定是他毫不在意出游的⽓氛，可能是他身体弱容易觉得累。这时有⼈接过他的包就扛在⾃⼰肩上，固然是这⼈慷慨相助，但也是他体⼒充沛，以⾄于不觉得帮⼈拿个包有什么了不起的。</p>
            <p>我以前觉得只要努⼒，就可以意识集中，可以提⾼⼯作效率，可以温柔地对待任何⾃⼰想要温柔对待的⼈。但在身体状况不好的时候我发现，控制情绪的难易程度和身体状况是息息相关的，意志⼒能解决的问题⽐我想象中的少得多。⼈们眼中的奇葩可能很想成为让⼈们喜欢的⼈，只是没有办法。</p>
            <p>身⼼健康，身在⼼前。正在经受身体痛苦的⼈很难保持内⼼不扭曲。</p>
            <br/><hr/>
            <p>文章来源：<a href="https://www.zhihu.com/question/29064753/answer/52196916">https://www.zhihu.com/question/29064753/answer/52196916</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>