<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>相爱是相互吸引，相互依偎 - 知乎</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">有哪些给女孩子在谈恋爱时的忠告？</h1>
            <p style="text-align:right;">作者：李烤鱼耶</p>
            <p>⼆⼗岁的时候谈恋爱，和他是在⼀个APP上认识的，名字我还记得，叫⼀伴，很温柔，让我觉得我是⼀瓣可爱的桔⼦ ，在等待另⼀半的出现。</p>
            <p>也是真的没想到，第⼀次约会，他会带我去吃夜市。</p>
            <p>第⼀次⻅⾯，穿了⽩底碎花裙，出⻔前细细致致捯饬了两个⼩时，从头到脚都为了⼀场浪漫的约会做铺垫。到地⼉了才知道他要带我去夜市摊⼉，满地油污，烟雾弥漫，七零⼋落的椅凳胡乱散着，睡眼惺忪的男孩⼦穿着拖鞋，乐呵呵拉我坐下。</p>
            <p>席间⼀直不痛快，胡乱捣了⼏筷头，⽩裙⼦被尖叫着乱跑的⼩孩⼦踢了⼀脚泥，⿐⼦⼀酸眼泪都要掉下来。</p>
            <p>要说平时也不是没有过和姐妹们穿着睡⾐在夜市摊⼉上吆五喝六的喝啤酒，偏偏那天就莫名觉得委屈，闷头吃完，提起包就⾃顾⾃的往家⾛，男孩⼦从身后追上来，急切询问原因，我倔的很，拗着脖⼦不说话。其实我⼼⾥清楚，就是因为他看起来没有认真准备约会，被重视感寥寥，可我⼜不愿让⾃⼰显得挑剔，所以不肯开⼝，越想越委屈。</p>
            <p>他最⼤程度的耐⼼问我，⼀遍遍道歉，在浓稠的夜⾊⾥⼏乎以⼀种卑躬屈膝的姿态说好话。</p>
            <p>我不是没谈过恋爱，这样的场景更不是第⼀次经历，⼥⽣⼀⾔不发，男⽣低声下⽓，情境经典的仿佛电影天⽣就该这么演。全天下的⼥孩⼦们都是同样的⼥主⻆，享受同样的剧本和情绪。</p>
            <p>我突然觉得羞耻，身体⼀点点从剧本⾥抽离，就看到了真实的⾃⼰。</p>
            <p>习惯于男⽣单⽅⾯的，主动的，迎合的，低下的姿态，陷⼊⾃我编织的恋爱常规⾥⾃以为然，“这时候要⽣⽓，不能说话，时间还没到，他得再道会⼉歉，⽆论如何不能主动开⼝。”</p>
            <p>情绪早已消解，身体还在剧本⾥僵持。我就站在那⾥，突如其来的陷⼊了困惑。</p>
            <p>“我并没有那么⽣⽓，那么我为什么还要继续表演我的委屈，挥霍他的歉意。”</p>
            <p>我到底在⽭盾什么。</p>
            <p>那也是我第⼀次对于⼥⽣在恋爱关系中饰演的⻆⾊有了初步的质疑。</p>
            <p>我似乎习惯于做⼀个被保护者，被偏爱者，⽽从未想过我应该是⼀个独⽴的，平等的，可以被正常交流的个体。</p>
            <p>我⼏乎是仗着他的紧张和在意，堂⽽皇之的关闭了⾃⼰的沟通渠道。把⾃⼰从⼀个语⾔没有障碍的正常⼈，变成了⼀个情绪操控的机器。我不愿意表达⾃⼰的情绪，把表达情绪的义务推给了别⼈。我就是⼀个主动放弃沟通主权的，愚蠢的，短视的，残缺的，虚假的⼈。我像⼀个孱弱⽽娇⽓的动物，⼤⽕压境不肯⾃救，硬要等⼈寻着路过来找我。</p>
            <p>这个发现让我惊觉起来，焦虑和不安接踵⽽来。</p>
            <p>我必须跳出剧本，直⾯⾃⼰，掐灭那些表演性的，⾃我⾼潮性的，夸⼤性的情绪。</p>
            <p>这只是零星⼩事，真的⼤⽕来了，只有我⾃⼰可以救我⾃⼰。</p>
            <p>他那边⼉还在道歉，我这边突然开⼝说对不起。</p>
            <p>“我应该主动告诉你我的不满，我希望你可以像我⼀样有所准备，考虑到我的⼼情带我去⼀家有氛围的餐厅，我不是不喜欢夜市，我只是希望被重视。</p>
            <p>我⼀直不说话，让你这么着急，真的对不起。”</p>
            <p>男孩⼦呆了⼀会⼉，说没关系，他只是没想那么多，以后⼀定会注意。我能道歉他很意外，也很感激我能说出来。</p>
            <p>我突然就在⼆⼗岁的当⼝⼉，隐隐约约摸索出了恋爱道理的⽑⽪。</p>
            <p>很多⼥孩⼦都是太墨守成规的演员了，⻓期融⼊⻆⾊，我们习惯做⼀个被保护的，被拯救的弱者，我们享受弱者的权利，享受男⽣的卑微，在理性和感性的交界来回踱步，不肯踏出去。</p>
            <p>可这样⼀点都不酷。我们不想被称作弱者，却在弱者的世界⾃得其乐，我们永远被动，也就永远⽆法⾃⼰掌控⾃⼰的感情。</p>
            <p>我们相爱，不是为了被⼈照顾，被⼈偏爱。被⼈宠到⽣活不能⾃理。</p>
            <p>我们相爱，是因为我们被对⽅吸引，我们互相探索，努⼒融合，互相取暖，互相依偎。</p>
            <p>舒婷在致橡树⾥说，我必须是你近旁的⼀株⽊棉，作为树的形象和你站在⼀起。</p>
            <p>“我如果爱你，就⼀定会尽可能告诉你，我到底为什么⽣⽓。”</p>

            <br/><hr/>
            <p>文章来源：<a href="https://www.zhihu.com/question/275612174/answer/392707691">https://www.zhihu.com/question/275612174/answer/392707691</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>