<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>情侣间的深度对谈 - 知乎</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">

            <h1 style="font-size:45px;">当一对情侣无话可说的时候，该怎么做？</h1>
            <blockquote>当你们聊天的时候无话可说，不知道该说什么，怎么办，是什么原因？是双方不合适，还是各自没有当初刚在一起的那种感觉了，还是因为什么？</blockquote>
            <p style="text-align:right;">作者：宏桑​​</p>

            <p>⼀段完美的爱情是怎样的？</p>
            <p>美国⼼理学家斯滕伯格给出过这样的结论，⼀段完美的爱情应该具备这三种要素：激情，亲密，承诺，也就是经典的“爱情三⻆理论”。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf8_1.jpg') }}"/></div>
            <p>⽆话可说分为两种，⼀种是相处的时候虽然各⾃⽆⾔但是⾮常舒适，⼀种是觉得该说点什么但好像话已说尽。</p>
            <p>如果是前者，恭喜你，这是爱情应该有的样⼦。</p>
            <p>如果是后者，那么或许你需要警醒下，或许你眼中的爱情，只有三⻆中的⼀⻆“激情。”</p>
            <p>⼈们常说：爱情这种东⻄都是有保质期的，或者说爱情终将变成亲情。</p>
            <p><b>其⼼理学本质，是爱情中激情的部分，是会消耗殆尽的。</b></p>
            <p>过去的你们，只要看到对⽅⼀眼就⼼跳不已，想了解对⽅的过往，爱好，对你的想法，每次沟通都带着期待。</p>
            <p>但随着相处和了解，新鲜感减少，荷尔蒙分泌降低，激情燃烧殆尽，但是亲密和承诺⼜没有建⽴起来，这样⼀段亲密关系⾃然显得尴尬⽽古怪。</p>
            <p>李宗盛的那⾸《阴天》⾥ 也有这样⼀段歌词</p>
            <blockquote>开始总是分分钟都妙不可⾔<br/>谁都以为热情它永不会减<br/>除了激情褪去后的那⼀点点倦</blockquote>
            <p>热情退却的时候，你们应该做的，是建⽴属于你们的亲密和承诺。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf8_2.jpg') }}"/></div>
            <p>如图所示，爱情最开始受刺激主导，后来受价值主导，最后受角色主导。</p>
            <p>所以，进入「倦怠期」，是感情需要告别激情的主导，建立亲密，建立承诺的过程，是一个升华的过程。</p>
            <p><b>所谓亲密，指的是三观契合，相濡以沫，即便脱离情侣身份，你们依然可以是亲密的朋友。</b></p>
            <p><b>所谓承诺，指的是双⽅对未来有共同的规划和预期，并愿意⼀起为未来努⼒。</b></p>
            <p><b>换⾔之，⼀段绵⻓的爱情，除了最开始的性吸引和荷尔蒙之外，应该是相互欣赏，共同成⻓的。</b></p>
            <p>如果你们因为⽆话可说进⼊感情的尴尬期，宏桑推荐你做如下的这些事情。</p>
            <p><b>1.做⼀次详谈，更加深⼊的了解彼此的三观。</b></p>
            <p>或许过去你们了解过彼此的兴趣爱好，童年经历，但是想要彼此深⼊了解对⽅，肯定不是靠你在吗⼲嘛呢吃了没这种话题进⾏沟通的，⽽是需要⼀些能够互相探索内⼼想法的问题，⽽是⼀些拓展性的话题。</p>
            <p>有⼀次我在三⾥屯逛街的时候，发现了这样的⼀个活动（⾮软⼴，因为那个⼆维码我都扫不出来）。</p>
            <div><img src="{{ url_for('static', filename='rss2pdf/pdf8_3.jpg') }}"/></div>
            <p>活动列举了很多问题，让参与活动的⼈们互相交流，⼤家都在很开⼼的围观，且相谈甚欢。</p>
            <p><b>如果可以预告⼀件未来的事⼉，你想知道什么？</b></p>
            <p><b>你最想拥有的超能⼒是什么，拥有后你准备做什么？</b></p>
            <p><b>假如你今天晚上就要离开⼈世，来不及与任何⼈道别，你最⼤的遗憾会是什么？</b></p>
            <p><b>这些问题不仅交流起来⼜去，⽽且会让双⽅更了解彼此。</b></p>
            <p>在《纽约时报》上有过这样⼀个专栏⽂章，《只要你这么做，想爱上任何⼈都可以》(To Fall inLove With Anyone, Do This) ⾼居其⽹站当周点击量⾸位。</p>
            <p>参与实验的陌⽣⼈两两分组坐在⼀起，只花了45分钟，彼此问了36个神奇的问题，就快速对对⽅产⽣了好感和亲密感。实验的结果很有意思。有30%的⼈在聊完这些问题后，⽴即表示⾃⼰和同组实验者之间的关系已经变得⽐他们⼈⽣中其他任何⼀段关系还要深。</p>
            <p>这些问题分为三组，按问题的深⼊程度依次递进，完成每组问题各需15分钟。问题的感觉有点类似普鲁斯特问卷。</p>
            <p>第⼀组问题</p>
            <p>1. 假如可以选择世界上任何⼈，你希望邀请谁共进晚餐？</p>
            <p>2. 你希望成名吗？在哪⼀⽅⾯？</p>
            <p>3. 拨打电话前，你会先练习要说的话吗？为什么？</p>
            <p>4. 对你来说，怎样才算是“完美”的⼀天？</p>
            <p>5. 上⼀次唱歌给⾃⼰听是什么时候？唱歌给别⼈听⼜是什么时候呢？</p>
            <p>6. 假如你能够活到90岁，并且你可以选择让你的⼼智或身体在后60年⼀直停留在30岁，你会选择哪⼀个？</p>
            <p>7. 关于未来你可能怎么死，你有⾃⼰的秘密预感吗？</p>
            <p>8. 列举3个你和对⽅共同拥有的特质。</p>
            <p>9. 你的⼈⽣中最感恩的事情是什么？</p>
            <p>10. 假如可以改变你成⻓过程中的任何事，你希望有哪些改变？</p>
            <p>11. ⽤4分钟的时间，尽可能详细地向对⽅讲述你的⼈⽣故事。</p>
            <p>12. 假如明天早上起床后能获得任何⼀种能⼒或特质，你希望是什么？</p>
            <p>第⼆组问题</p>
            <p>13. 假如有颗⽔晶球能告诉你关于⾃⼰、⼈⽣或未来的⼀切真相，你想知道什么？</p>
            <p>14. 有什么事想做很久了？还没去做的原因是？</p>
            <p>15. 你⼈⽣最⼤的成就是什么？</p>
            <p>16. 友情中你最重视哪⼀个部份？</p>
            <p>17. 你最珍贵的回忆是什么？</p>
            <p>18. 你最糟糕的回忆是什么？</p>
            <p>19. 如果你知道⾃⼰将在⼀年内突然死去，你会改变⾃⼰⽬前的⽣活⽅式吗？为什么？</p>
            <p>20. 友情对你⽽⾔意味着什么？</p>
            <p>21. 爱和感情在你⽣命⾥扮演什么样的⻆⾊？</p>
            <p>22. 轮流分享你认为对⽅拥有的⽐较好的性格特点。各⾃提5点。</p>
            <p>23. 你的家庭关系亲密温暖吗？你是否觉得⾃⼰的童年⽐⼤部分⼈快乐？</p>
            <p>24. 你与⺟亲的关系如何？</p>
            <p>第三组问题</p>
            <p>25. 说出3个含有“我们”并且符合实际情况的句⼦，⽐如“我们现在都在这个房间⾥”。</p>
            <p>26. 完成这个句⼦：“我希望可以跟某个⼈分享⸺”。</p>
            <p>27. 如果你要成为对⽅的密友，有什么事是他或她需要知道的？</p>
            <p>28. 告诉对⽅你喜欢他或她的什么地⽅（回答此题必须⾮常诚实，要说出你可能不会对刚认识的⼈说的事）。</p>
            <p>29. 和对⽅分享你⼈⽣中尴尬的时刻。</p>
            <p>30. 上次在别⼈⾯前哭是什么时候？⾃⼰哭⼜是什么时候？</p>
            <p>31. 告诉对⽅，你现在喜欢他或她什么地⽅。</p>
            <p>32. 有什么事是绝对不能开玩笑的？</p>
            <p>33. 如果你今天晚上就会死掉，⽽且⽆法与任何⼈联系，你最遗憾还没有告诉别⼈什么事？为什么还没说呢？</p>
            <p>34. 你的房⼦起⽕了，你所有的东⻄都在⾥⾯。在救出所爱的⼈和宠物后，你还有时间可以安全地抢救出最后⼀件东⻄。你会拿什么？为什么？</p>
            <p>35. 在你所有家⼈当中，谁的死对你的打击会最⼤？为什么？</p>
            <p>36. 分享你⼈⽣中的⼀个问题，问对⽅遇到这样的问题会怎么做。同时也请对⽅告诉你，在他或她看来，你对这个问题的感受是什么。</p>
            <p><b>2.培养共同爱好。</b></p>
            <p>除了了解对⽅三观之外，⼀些⻓期的共同爱好，同样让你的⽣活充满更多默契。</p>
            <p>不管是喜欢同⼀款游戏，读同⼀个作者的⼩说，还是都爱看同⼀个⽹络综艺，效果都是⾮常明显的。</p>
            <p>如果现在还没有，那就共同培养⼀个。</p>
            <p>好的爱情，是包含“共同成⻓”的，可以试着⼀起去做⼀些让⾃⼰持续花时间且能产⽣进步的事情，⽐如健身，学⼀项技能如乐器，跳舞等。</p>
            <p>两个⼈步骤⼀致，⾃然不会⽆话可说，成⻓过程中的⼼得和体会，都将成为你们的话题。</p>
            <p><b>3.⼀起规划你们的未来</b></p>
            <p>如果不想你们的感情只是昙花⼀现的激情，那么对未来做好规划，尤为重要。</p>
            <p>你们未来期待的⽣活节奏是怎样的？是回到家乡，过⼩确幸的⽣活，还是奔赴北上⼴，在压⼒中寻机会？</p>
            <p>你们未来有什么想要达成的愿景，是两个⼈⼿牵⼿⾛过这个世界的很多城市，还是把⾃⼰的⼩窝装点成充满个性的乐园？</p>
            <p>不要排斥思考这些问题，或许现在为时尚早，或许现在的⼀些想法不过是年轻的奢望，不过没关系，⾯对⾯把它说出来，记在⼼⾥，有⼀天它们会开花结果。</p>
            <p>有对未来共同的期待，且愿意花费时间去浇灌这些期待，你们的感情⾃然不会觉得⽆话可说。</p>
            <p>以上。</p>

            <br/><hr/>
            <p>文章来源：<a href="https://www.zhihu.com/question/280272233/answer/415106923">https://www.zhihu.com/question/280272233/answer/415106923</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>