<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>付出只会使你更爱他 - 知乎</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <section style="width:80%">
            <h1 style="font-size:45px;">有哪些有⽤的⼈际交往⼩常识？</h1>
            <blockquote>希望着重分享下能够判读对⽅⼼理状况的⼩技巧，或者指出⼀些⼗分普遍但⼜未察觉到的坏习惯。</blockquote>
            <p style="text-align:right;">作者：皇太极</p>
            <p>对⼀个⼈付出越多，只会让你更爱他，⽽不会令他多爱你。</p>
            <p>这是⼼理学最基本的法则之⼀，也是⼤多数⼈⼀辈⼦都搞不明⽩的道理。</p>
            <p>⼼理学上，你对⼀个⼈的每次付出，都是⼀笔情感投资，投资愈多，你对投资对象的感情就会愈深。</p>
            <p>我有个朋友年初刚⽣完孩⼦，有次在她家聚会，我问她喜不喜欢养⼩孩，她抬起头思索了⼀下：</p>
            <p>“开始⼀般，后来越来越喜欢。”</p>
            <p>我觉得这回答蛮有意思，就追问：</p>
            <p>“怎么说？”</p>
            <p>她：“孩⼦出⽣那⼀刻我迷迷糊糊的，护⼠抱给我看时我⼼想，咦，这就是我孩⼦啊，⾎淋淋脏兮兮。”</p>
            <p>我笑了。</p>
            <p>她：“刚⽣完那⼏天，我看孩⼦没想象中漂亮，居然略微有点失望，当时冒出这念头我还不停⾃责，我是个当妈的吗？连⾃⼰孩⼦都不喜欢。”</p>
            <p>我：“那后来呢？”</p>
            <p>她：“后来每天照顾孩⼦，半夜起来喂奶换尿布的，渐渐就离不开宝⻉啦。”</p>
            <p>说完她深情的望了孩⼦⼀眼。</p>
            <p>这⼀眼令我感叹：</p>
            <p>亲情的基⽯不是⾎缘，⽽是付出。</p>
            <p>《射雕英雄传》⾥的杨康（完颜康 ）并⾮完颜洪烈的亲⼉⼦，但从襁褓中就由完颜洪烈⼀⼿抚养⼤，最后完颜王爷亦完全将杨康视若⼰出，为了救杨康性命甚⾄不惜下跪求药。</p>
            <p>这种情况也⻅于⼏乎所有领养孩⼦的⽗⺟。</p>
            <p>然⽽据我观察，90%以上的⼈都傻傻以为，只要对⼀个⼈不断付出，他就会⽤真⼼回馈你。</p>
            <p>我⽗亲⼀共三兄弟，他是⽼⼤，很早就离开⽼家出去闯了，奶奶最宠的是我⼆叔，每次⼆叔回家奶奶都亲⾃迎到⻔外，⼆叔40多了，有时还要奶奶帮着洗⾐服。</p>
            <p>⽽三叔每次回家，奶奶不过从沙发上站起来招呼⼏句了事。</p>
            <p>但这些都不妨碍奶奶继续宠爱⼆叔，三叔继续孝敬奶奶。</p>
            <p>奶奶对⼆叔付出了⼀辈⼦，感情上却并没得到相应回报，三叔对奶奶亦是如此。</p>
            <p>⼤家应该对这种现象都深有体会：有好⼏个孩⼦的家庭⾥，⽗⺟最疼爱的那个，与最孝顺⽗⺟的永远不是同⼀个⼈。</p>
            <p>不过这还好，亲情本就不求回报。</p>
            <p>爱情就不同了，爱情是最求回报的，不然那句“我爱你，与你⽆关”也不会显得如此特⽴独⾏。</p>
            <p>太多陷⼊爱情的⼈，最怕付出的爱收不回，于是⼼⾥的不安全感会驱使她们继续疯狂的投⼊感情。</p>
            <p>她们哪⾥知道，对⼀个⼈付出越多，只会让你更爱他，⽽不会令他多爱你。</p>
            <p>于是我们看⻅太多⼥⼈为渣男付出⼀切后反被抛弃的故事。</p>
            <p>⼗年前⽹上出过⼀个很有名的案⼦，讲的是⼀个叫姜岩 的⼥⼈与⼀个⽐她⼩四岁的男⽣谈恋爱，很快就结了婚，当时男⼈没⼯作，姜岩负担了⼀切⾐⻝住⾏，后来男⼈出去读⼤专，学费也是⼥⽅给的。</p>
            <p>但这些都没能换来男⼈的感恩戴德，他读完书找到⼯作后⽴刻就和公司⼀位⼥同事在⼀起了，并第⼀时间向姜岩提出离婚，最后姜岩不堪屈辱，从24楼⼀跃⽽下结束了⾃⼰的⽣命。</p>
            <p>哀哉！</p>
            <p>所谓⼼理学，就是⼈际关系运⾏的游戏规则，不懂规则，有时甚⾄会要命。</p>
            <p>怎么破？</p>
            <p>我⼀直觉得，⼼理学规则如同昼夜交替，是牢不可破的⾃然规律，我们既然⽆法改变，唯有先充分了解规则，然后顺应并利⽤规则。</p>
            <p>当我们已看清⼀个⼈狼⼼狗肺，不值得付出时，就应及时⽌损，停⽌⼀切投⼊，千万别因为不⽢⼼⽽继续，那样只会让你像个赌徒⼀般越陷越深。</p>
            <p>⽽真正⾼情商的⼈，都懂得如何巧妙⽽得体的引导别⼈对⾃⼰进⾏情感投资，以此增进与亲朋好友甚⾄陌⽣⼈的感情，这在我另⼀篇⽂章中已提到：<a href="https://www.zhihu.com/question/26833590/answer/275797612">你在人际交往方面吃过哪些亏？</a></p>

            <br/><hr/>
            <p>文章来源：<a href="https://www.zhihu.com/question/26457306/answer/277609654">https://www.zhihu.com/question/26457306/answer/277609654</a></p>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>