<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>~ Changsha ~</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    </head>

    <body>

        <header>
            <h1>Golden Time in Changsha</h1>
        </header>

        <section>
            <img src="{{ url_for('static', filename='Changsha/hezhao1.jpg') }}"/>
            <br/><br/>
            <img src="{{ url_for('static', filename='Changsha/hezhao2.jpg') }}"/>
            <br/><br/>
            <img src="{{ url_for('static', filename='Changsha/jing2.jpg') }}"/>
            <br/><br/>
            <img src="{{ url_for('static', filename='Changsha/kai&tu1.jpg') }}"/>
            <br/><br/>
            <img src="{{ url_for('static', filename='Changsha/kong.jpg') }}"/>
            <br/><br/>
            <img src="{{ url_for('static', filename='Changsha/tu.jpg') }}"/>
            <br/><br/>
            <img src="{{ url_for('static', filename='Changsha/jing1.jpg') }}"/>
            <br/><br/>
            <img src="{{ url_for('static', filename='Changsha/kong2.jpg') }}"/>
            <br/><br/>
            <img src="{{ url_for('static', filename='Changsha/kai&tu2.jpg') }}"/>
            <br/><br/>
            <hr/>
            <div>
            <strong style="font-size:30px;">emmmm...</strong><br/>
            <img src="{{ url_for('static', filename='Changsha/bqb.jpg') }}"/>
            </div>
            <hr/>
            <br/><br/>
            <div>
            <strong style="font-size:30px;">小本本记下本来可以去的地方...</strong><br/>
            <img src="{{ url_for('static', filename='Changsha/jing3.jpg') }}"/>
            </div>
            <hr/>

        </section>

        <footer>
            developed by Kai
        </footer>

    </body>

</html>