<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>~ Changsha ~</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    </head>

    <body>

        <header>
            <h1>Golden Time in Changsha -- 标题 </h1>
        </header>

        <section>
            <section style="width:80%;background-color:#ffffff;font-size:25px;font-weight:700"> 
                块
            </section>
            <div style = "position:absolute;height: 98%;width: 99%;">
                块
            </div>

            <p> 图片 </p>
            <img src="{{ url_for('static', filename='Changsha/hezhao1.jpg') }}"/>
            <br/><br/>
            <img src="{{ url_for('static', filename='Changsha/hezhao2.jpg') }}"/>
            <br/><br/>

            <hr/>

            <h1 align="center"> 标题 </h1>
            <div>
            <p> 加粗字体 </p>
            <strong style="font-size:36px;">emmmm...</strong><br/>
            <img src="{{ url_for('static', filename='Changsha/bqb.jpg') }}"/>
            </div>
            
            <p> 换行 </p>
            <hr/>
            <br/><br/>

            <p align="center">
                <strong>Links: -- 链接</strong>
                <br/>
                <br/>
                <a href="{{ url_for('drink') }}">Drink...</a>
                <br/>
                <a href="{{ url_for('love') }}">Love...</a>
                <br/>
                <a href="{{ url_for('changsha') }}">Changsha...</a>
                <br/>
                ...
                <br/>
                <br/>
            </p>    

            <hr/>
        </section>

        <p> 页脚 </p>
        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>