<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>~ Drink ~</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    </head>

    <body>

        <header>
            <h1>Drink</h1>
        </header>

        <section>

            <br/>

            <div>
                <strong style="font-size:30px;">醉酒雪鸮</strong>
                <br/><br/>
                <img src="{{ url_for('static', filename='Drink/雪鸮.jpg') }}"/>
            </div>

            <hr/>



        </section>

        <footer>
            developed by Kai
        </footer>

    </body>

</html>