<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>车木的秘密花园</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body> 
        
        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <div style = "padding:1px">
            <img style="width:100%;" src="{{ url_for('static', filename='Gargantua.jpg') }}"/>
        </div>

        <section style="width:80%">
            <h1 style="font-size:45px;"> 短文 </h1>
            <ul style="font-size:36px;">
                <li><a href="{{ url_for('pdf19') }}">幽默是痛苦的产物 - 知乎</a></li>
                <li><a href="{{ url_for('pdf18') }}">大脑是种喜欢“意外”的器官 - 微博</a></li>
                <li><a href="{{ url_for('pdf17') }}">不要以恶意揣度别人 - 微博</a></li>
                <li><a href="{{ url_for('pdf16') }}">孤独的毒性 - 微博</a></li>
                <li><a href="{{ url_for('pdf15') }}">恋爱带来的滋养 - 微博</a></li>
                <li><a href="{{ url_for('pdf14') }}">亲密关系里付出的时间 - 冰点周刊</a></li>
                <li><a href="{{ url_for('pdf13') }}">一点灵光不灭 - 这世界有毒</a></li>
                <li><a href="{{ url_for('pdf12') }}">拿不起 - 这世界有毒</a></li>
                <li><a href="{{ url_for('pdf11') }}">放不下 - 这世界有毒</a></li>
                <li><a href="{{ url_for('pdf10') }}">分手是恋爱最后的礼貌 - 知乎</a></li>
                <li><a href="{{ url_for('pdf9') }}">付出只会使你更爱他 - 知乎</a></li>
                <li><a href="{{ url_for('pdf8') }}">情侣间的深度对谈 - 知乎</a></li>
                <li><a href="{{ url_for('pdf7') }}">相爱是相互吸引，相互依偎 - 知乎</a></li>
                <li><a href="{{ url_for('pdf6') }}">大学里如何追女生 - 知乎</a></li>
                <li><a href="{{ url_for('pdf5') }}">如何提高读书效率 - 知乎</a></li>
                <li><a href="{{ url_for('pdf4') }}">身心健康，身在心前 - 知乎</a></li>
                <li><a href="{{ url_for('pdf3') }}">接受平庸 - 知乎</a></li>
                <li><a href="{{ url_for('pdf2') }}">互联网只提供刺激，不提供幸福 - 知乎</a></li>
                <li><a href="{{ url_for('pdf1') }}">一万小时定律 - 知乎</a></li>
            </ul>
            <hr/>
        </section>

        <section style="width:80%">
            <h1 style="font-size:45px;"> 其他 </h1>

            <ul style="font-size:36px;">
                <li><a href="{{ url_for('goldentime') }}">~ Golden Time ~</a></li>
                <li><a href="{{ url_for('love') }}">爱会消失</a></li>
                <li><a href="{{ url_for('game') }}">Truth or Drink 喝酒游戏</a></li>
            </ul>
            <hr/>
        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>