<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>车木的秘密花园</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body> 
        
        <header 
            style="font-size:16px;color:grey;font-style:italic;clear:both;text-align:left;padding:2px;">
            kaiusgs' secret garden
        </header>

        <div style = "padding:1px">
            <img style="width:100%;" src="{{ url_for('static', filename='sunlightinforest.jpg') }}"/>
        </div>

        <section style="width:80%">
            <h1 style="font-size:45px;"> 短文 </h1>
            <ul style="font-size:36px;">
                <li><section style="padding:0px;" onclick="window.open('https://mp.weixin.qq.com/s/KPTW0CLbWrNhiWzZlVLauw')"><small>link </small>提升内在力量 - 豆瓣</section></li>
                <li><section style="padding:0px;" onclick="window.open('https://mp.weixin.qq.com/s/gwi_owSvDLqJ1BjlQYMQFg')"><small>link </small>人生经验十条 - 村西边老王</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf29')}}')"><small>link </small>自我认可还是社会认可 - 村西边老王</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf28')}}')"><small>link </small>定力 - 村西边老王</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf27') }}')"><small>link </small>过年是无条件的快乐 - 张佳玮</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf26') }}')"><small>link </small>人生并不需要热爱生活 - 村西边老王</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf25') }}')"><small>link </small>精神内耗的本质 - 老端的花园</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf24') }}')"><small>link </small>性格的正面与反面 - 微博</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf23') }}')"><small>link </small>什么是「爱自己」 - KnowYourself</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf22') }}')"><small>link </small>痛苦远胜虚无 - 奥丽娅娜·法拉奇</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf21') }}')"><small>link </small>包容才能改变一个人 - 民院路王叔叔</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf20') }}')"><small>link </small>满庭芳·蜗⻆虚名 - 苏轼</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf19') }}')"><small>link </small>幽默是痛苦的产物 - 知乎</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf18') }}')"><small>link </small>大脑是种喜欢“意外”的器官 - 微博</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf17') }}')"><small>link </small>不要以恶意揣度别人 - 微博</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf16') }}')"><small>link </small>孤独的毒性 - 微博</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf15') }}')"><small>link </small>恋爱带来的滋养 - 微博</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf14') }}')"><small>link </small>亲密关系里付出的时间 - 冰点周刊</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf13') }}')"><small>link </small>一点灵光不灭 - 这世界有毒</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf12') }}')"><small>link </small>拿不起 - 这世界有毒</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf11') }}')"><small>link </small>放不下 - 这世界有毒</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf10') }}')"><small>link </small>分手是恋爱最后的礼貌 - 知乎</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf9' ) }}')"><small>link </small>付出只会使你更爱他 - 知乎</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf8' ) }}')"><small>link </small>情侣间的深度对谈 - 知乎</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf7' ) }}')"><small>link </small>相爱是相互吸引，相互依偎 - 知乎</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf6' ) }}')"><small>link </small>大学里如何追女生 - 知乎</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf5' ) }}')"><small>link </small>如何提高读书效率 - 知乎</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf4' ) }}')"><small>link </small>身心健康，身在心前 - 知乎</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf3' ) }}')"><small>link </small>接受平庸 - 知乎</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf2' ) }}')"><small>link </small>互联网只提供刺激，不提供幸福 - 知乎</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('pdf1' ) }}')"><small>link </small>一万小时定律 - 知乎</section></li>
            </ul>
            <hr/>
        </section>

        <section style="width:80%">
            <h1 style="font-size:45px;"> 链接 </h1>
            <ul style="font-size:36px;">
                <li><section style="padding:0px;" onclick="window.open('https://www.momoyu.cc/')"><small>link </small>摸摸鱼热榜</section></li>
                <li><section style="padding:0px;" onclick="window.open('https://wantwords.net/')"><small>link </small>汉语反向词典</section></li>
                <li><section style="padding:0px;" onclick="window.open('https://juhaodong.github.io/CaiHongPi/')"><small>link </small>彩虹屁生成器</section></li>
                <li><section style="padding:0px;" onclick="window.open('http://emojixd.com/')"><small>link </small>查找emoji</section></li>
                <li><section style="padding:0px;" onclick="window.open('https://lab.magiconch.com/nbnhhsh/')"><small>link </small>拼音首字母缩写释义</section></li>
                <li><section style="padding:0px;" onclick="window.open('https://lab.magiconch.com/')"><small>link </small>神奇海螺试验场</section></li>
                <li><section style="padding:0px;" onclick="window.open('https://zh.wikipedia.org/zh-hans/%E8%AA%8D%E7%9F%A5%E5%81%8F%E8%AA%A4%E5%88%97%E8%A1%A8')"><small>link </small>认知偏误列表</section></li>
            </ul>
            <hr/>
        </section>

        <section style="width:80%">
            <h1 style="font-size:45px;"> 其他 </h1>
            <ul style="font-size:36px;">
                <li><section style="padding:0px;" onclick="window.open('{{url_for('goldentime') }}')"><small>link </small>~ Golden Time ~</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('love') }}')"><small>link </small>爱会消失</section></li>
                <li><section style="padding:0px;" onclick="window.open('{{url_for('game') }}')"><small>link </small>Truth or Drink 喝酒游戏</section></li>
            </ul>
            <hr/>
        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>