<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>~ Love ~</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    </head>

    <body>

        <header>
            <h1>Love</h1>
        </header>

        <section>

            <br/>

            <div>
                <img src="{{ url_for('static', filename='Love/LoveFades.jpg') }}"/>
                <br/><br/><br/><br/>
                <strong style="font-size:30px;">Great Friendship Never Fades.</strong>
            </div>

            <hr/>



        </section>

        <footer>
            developed by Kai
        </footer>

    </body>

</html>