<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"/>
        <title>~ Love ~</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>

        <header>
            <h1>Love</h1>
        </header>

        <section>

            <br/>

            <div>
                <img src="{{ url_for('static', filename='LoveFades.jpg') }}"/>
                <br/><br/><br/><br/>
                <strong>Great Friendship Never Fades.</strong>
            </div>

            <hr/>

        </section>

        <footer>
            developed by kaiusgs@qq.com 
        </footer>

    </body>

</html>